
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-488106911342789581 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-488106911342789581 .relative{position:relative}.gps-488106911342789581 .mx-auto{margin-left:auto;margin-right:auto}.gps-488106911342789581 .mb-0{margin-bottom:0}.gps-488106911342789581 .block{display:block}.gps-488106911342789581 .inline-block{display:inline-block}.gps-488106911342789581 .flex{display:flex}.gps-488106911342789581 .inline-flex{display:inline-flex}.gps-488106911342789581 .grid{display:grid}.gps-488106911342789581 .hidden{display:none}.gps-488106911342789581 .h-6{height:24px}.gps-488106911342789581 .h-full{height:100%}.gps-488106911342789581 .w-6{width:24px}.gps-488106911342789581 .w-full{width:100%}.gps-488106911342789581 .max-w-full{max-width:100%}.gps-488106911342789581 .flex-none{flex:none}.gps-488106911342789581 .flex-col{flex-direction:column}.gps-488106911342789581 .items-center{align-items:center}.gps-488106911342789581 .justify-start{justify-content:flex-start}.gps-488106911342789581 .justify-center{justify-content:center}.gps-488106911342789581 .gap-y-0{row-gap:0}.gps-488106911342789581 .overflow-hidden{overflow:hidden}.gps-488106911342789581 .align-middle{vertical-align:middle}.gps-488106911342789581 .leading-\[0\]{line-height:0}.gps-488106911342789581 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488106911342789581 .duration-200{transition-duration:.2s}.gps-488106911342789581 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-488106911342789581 .tablet\:block{display:block}.gps-488106911342789581 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-488106911342789581 .mobile\:block{display:block}.gps-488106911342789581 .mobile\:hidden{display:none}}.gps-488106911342789581 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-488106911342789581 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-488106911342789581 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-488106911342789581 .\[\&_p\]\:inline p{display:inline}.gps-488106911342789581 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-488106911342789581 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gzOUPwq1XI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzOUPwq1XI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_oneji_d3 relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g1DBM0rq_l"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1DBM0rq_l mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfId6O0mal relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gNf_CGKalP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-72414502-f750-4291-84cc-eecbbcf30a85.png" | asset_url }}" data-srcset="{{ '432750572815254551-72414502-f750-4291-84cc-eecbbcf30a85.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-72414502-f750-4291-84cc-eecbbcf30a85.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-72414502-f750-4291-84cc-eecbbcf30a85.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="570" height="625" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giJRBhttZc relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g6Mb47a3Wd"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:30px;--pr:30px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6Mb47a3Wd mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWLl_Ujd32 relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gxj128uDoq "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Montserrat, Montserrat);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#020202;word-break:break-word;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Feel Good Lipstick</p>
        </h2>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px" class="gzlv3sRwpK ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:80px;--w-tablet:80px;--w-mobile:80px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#020202"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:80px;--w-tablet:80px;--w-mobile:80px;--bc:#020202;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:80px;--w-tablet:80px;--w-mobile:80px;--bc:#020202;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:80px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:80px;--w-tablet:80px;--w-mobile:80px;--bc:#020202;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:80px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      pageContext parentTag="Col"
        class="gejxSNnERk "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Wear our lipstick with confidence knowing that your beautiful lips are safe for you.</p>
        </div>
      </div>
    </div>
      
      
    <div
      pageContext parentTag="Col" id="g-arcYZtEl"
        style="--b:solid;--bc:#EEEEEE;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-arcYZtEl mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWWKV8zYgP relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g9SIgaYJQY"
        style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:0px;--mr:0px;--pt:var(--g-s-xl);--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-s);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:58%;--w-tablet:58%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9SIgaYJQY mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geqABcuUtL relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g9m_DY918F "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Ours</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVu0rTuKaz relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gV1n71QECW "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Others</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="g1-zpzAD9m"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1-zpzAD9m mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPHcizm0Jq relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g0SKVuZsgN "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Clean Beauty</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPBkrIbVza relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gKRKKSk0Pk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKRKKSk0Pk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_BnA78mLL relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gHjXZMCEY2"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_QdcZcReA relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gqNhnJ_Qkc"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gFdD-ieUID"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFdD-ieUID mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-1IGcPMuD relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gyN4YOlITk "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>High Performance</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKA5QKpGQr relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g3Ii9dBkcB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3Ii9dBkcB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsmACq4y-r relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gwfy9gojwe"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8AOEoPtDo relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gePS1H-h8b"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="g_1y2GIRva"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_1y2GIRva mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPWrjA3Rp4 relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gZeptyXGFd "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Lab Tested</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gM1Hyq7M9E relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="ggJ9__4qqI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggJ9__4qqI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gq0kfOfxvd relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gxFedzy96p"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gb8paaJDNG relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gs0dLmZhH0"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gXcKw7jL75"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXcKw7jL75 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gn4L-JxYai relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gtWRW3PEqP "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Moisturizing</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giHA4X2ZPn relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gtXAlwkUfO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtXAlwkUfO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzQuxzSva0 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] glZma86__0"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g15xVifB-d relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gd2LdcJcek"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gDqx7cTj56"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDqx7cTj56 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gerctEY7jn relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g6GIw24z2d "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Creamy &amp; Soft</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gopZicjhor relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="giZtBS4n9Q"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giZtBS4n9Q mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJkL1Dt2qK relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gJ-3HcTQ-x"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gse7WKKanO relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g1SJ5_hD_9"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="geJc767dzt"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geJc767dzt mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gM-ES-usrL relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gv8DhwCeCV "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-xl);--mb-mobile:var(--g-s-s);--pl-mobile:0px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Quality Ingredients</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu_xiQkWcX relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gdOZaKEXnP"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdOZaKEXnP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbPOQ1eGq7 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gX4epmtyHd"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#020202;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_YTptWkdE relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g4qSyckcHp"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#EA3335;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M68.672 91.328a16 16 0 1 1 22.656 -22.656L256 233.376l164.672 -164.704a16 16 0 0 1 22.656 22.656L278.624 256l164.704 164.672a16 16 0 0 1 -22.656 22.656L256 278.624l-164.672 164.704a16 16 0 0 1 -22.656 -22.656L233.376 256 68.672 91.328Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - 1111"
      }
    ],
    
    "name": "Section - 1111",
    "tag": "section",
    "class": "gps-488106911342789581 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=488106911342789581)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
