
  
  
  <style>
    .gps-493319008204882440 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-493319008204882440 .relative{position:relative}.gps-493319008204882440 .mx-auto{margin-left:auto;margin-right:auto}.gps-493319008204882440 .mb-0{margin-bottom:0}.gps-493319008204882440 .flex{display:flex}.gps-493319008204882440 .grid{display:grid}.gps-493319008204882440 .max-w-full{max-width:100%}.gps-493319008204882440 .flex-col{flex-direction:column}.gps-493319008204882440 .gap-y-0{row-gap:0}.gps-493319008204882440 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493319008204882440 .duration-200{transition-duration:.2s}.gps-493319008204882440 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493319008204882440 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-493319008204882440 .\[\&_p\]\:inline p{display:inline}.gps-493319008204882440 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-493319008204882440 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px);--w-tablet:calc(var(--g-ct-w, 100%);--w-mobile:calc(var(--g-ct-w, 100%);--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gT35FB1b0M"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gT35FB1b0M mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gX93WfflzN relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXDpNmKJ4j "
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--radius:var(--g-radius-none);--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        Your heading text goes here
        </h2>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-493319008204882440 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/antony-dev-19/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=466231198872502862&sectionId=493319008204882440)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
