
  
  <style>
    .gps-464933691215315477 .-rotate-90,.gps-464933691215315477 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-464933691215315477 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464933691215315477 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-464933691215315477 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-464933691215315477 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-464933691215315477 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-464933691215315477 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-464933691215315477 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464933691215315477 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-464933691215315477 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-464933691215315477 .g-s-small{padding:4px 16px}.gps-464933691215315477 .g-s-medium{padding:8px 24px}.gps-464933691215315477 .g-s-large{padding:12px 32px}.gps-464933691215315477 .g-s-tag-small{padding:2px 8px}.gps-464933691215315477 .g-s-tag-medium{padding:4px 12px}.gps-464933691215315477 .g-s-tag-large{padding:8px 16px}.gps-464933691215315477 .g-s-none{padding:0}.gps-464933691215315477 .g-s-icon-small{padding:8px}.gps-464933691215315477 .g-s-icon-medium{padding:16px}.gps-464933691215315477 .g-s-icon-large{padding:24px}.gps-464933691215315477 .relative{position:relative}.gps-464933691215315477 .mx-auto{margin-left:auto;margin-right:auto}.gps-464933691215315477 .mb-0{margin-bottom:0}.gps-464933691215315477 .mr-\[12px\]{margin-right:12px}.gps-464933691215315477 .flex{display:flex}.gps-464933691215315477 .inline-flex{display:inline-flex}.gps-464933691215315477 .grid{display:grid}.gps-464933691215315477 .hidden{display:none}.gps-464933691215315477 .w-full{width:100%}.gps-464933691215315477 .max-w-full{max-width:100%}.gps-464933691215315477 .-rotate-90{--tw-rotate:-90deg}.gps-464933691215315477 .-rotate-90,.gps-464933691215315477 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691215315477 .rotate-90{--tw-rotate:90deg}.gps-464933691215315477 .flex-col{flex-direction:column}.gps-464933691215315477 .items-center{align-items:center}.gps-464933691215315477 .border{border-width:1px}.gps-464933691215315477 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-464933691215315477 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-464933691215315477 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-464933691215315477 .border-g-brand{border-color:var(--g-c-brand)}.gps-464933691215315477 .border-g-error{border-color:var(--g-c-error)}.gps-464933691215315477 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-464933691215315477 .border-g-info{border-color:var(--g-c-info)}.gps-464933691215315477 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-464933691215315477 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-464933691215315477 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-464933691215315477 .border-g-success{border-color:var(--g-c-success)}.gps-464933691215315477 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-464933691215315477 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-464933691215315477 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-464933691215315477 .border-g-warning{border-color:var(--g-c-warning)}.gps-464933691215315477 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-464933691215315477 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-464933691215315477 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-464933691215315477 .bg-g-brand{background-color:var(--g-c-brand)}.gps-464933691215315477 .bg-g-error{background-color:var(--g-c-error)}.gps-464933691215315477 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-464933691215315477 .bg-g-info{background-color:var(--g-c-info)}.gps-464933691215315477 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-464933691215315477 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-464933691215315477 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-464933691215315477 .bg-g-success{background-color:var(--g-c-success)}.gps-464933691215315477 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-464933691215315477 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-464933691215315477 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-464933691215315477 .bg-g-warning{background-color:var(--g-c-warning)}.gps-464933691215315477 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464933691215315477 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464933691215315477 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464933691215315477 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-464933691215315477 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-464933691215315477 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-464933691215315477 .text-g-brand{color:var(--g-c-brand)}.gps-464933691215315477 .text-g-error{color:var(--g-c-error)}.gps-464933691215315477 .text-g-highlight{color:var(--g-c-highlight)}.gps-464933691215315477 .text-g-info{color:var(--g-c-info)}.gps-464933691215315477 .text-g-line-1{color:var(--g-c-line-1)}.gps-464933691215315477 .text-g-line-2{color:var(--g-c-line-2)}.gps-464933691215315477 .text-g-line-3{color:var(--g-c-line-3)}.gps-464933691215315477 .text-g-success{color:var(--g-c-success)}.gps-464933691215315477 .text-g-text-1{color:var(--g-c-text-1)}.gps-464933691215315477 .text-g-text-2{color:var(--g-c-text-2)}.gps-464933691215315477 .text-g-text-3{color:var(--g-c-text-3)}.gps-464933691215315477 .text-g-warning{color:var(--g-c-warning)}.gps-464933691215315477 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-464933691215315477 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-464933691215315477 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-464933691215315477 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-464933691215315477 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-464933691215315477 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-464933691215315477 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-464933691215315477 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-464933691215315477 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-464933691215315477 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-464933691215315477 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-464933691215315477 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-464933691215315477 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-464933691215315477 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-464933691215315477 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-464933691215315477 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691215315477 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691215315477 .duration-200{transition-duration:.2s}.gps-464933691215315477 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-464933691215315477 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-464933691215315477 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-464933691215315477 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-464933691215315477 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-464933691215315477 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-464933691215315477 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-464933691215315477 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-464933691215315477 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-464933691215315477 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-464933691215315477 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-464933691215315477 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-464933691215315477 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-464933691215315477 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-464933691215315477 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-464933691215315477 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-464933691215315477 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-464933691215315477 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-464933691215315477 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-464933691215315477 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-464933691215315477 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-464933691215315477 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-464933691215315477 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-464933691215315477 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-464933691215315477 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-464933691215315477 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-464933691215315477 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-464933691215315477 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-464933691215315477 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-464933691215315477 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-464933691215315477 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-464933691215315477 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-464933691215315477 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-464933691215315477 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-464933691215315477 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-464933691215315477 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-464933691215315477 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-464933691215315477 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-464933691215315477 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-464933691215315477 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-464933691215315477 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-464933691215315477 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-464933691215315477 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-464933691215315477 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-464933691215315477 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-464933691215315477 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-464933691215315477 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-464933691215315477 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-464933691215315477 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-464933691215315477 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-464933691215315477 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-464933691215315477 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-464933691215315477 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-464933691215315477 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-464933691215315477 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-464933691215315477 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-464933691215315477 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-464933691215315477 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-464933691215315477 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-464933691215315477 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-464933691215315477 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-464933691215315477 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-464933691215315477 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-464933691215315477 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-464933691215315477 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-464933691215315477 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-464933691215315477 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-464933691215315477 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-464933691215315477 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-464933691215315477 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-464933691215315477 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-464933691215315477 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-464933691215315477 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-464933691215315477 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-464933691215315477 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-464933691215315477 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-464933691215315477 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-464933691215315477 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-464933691215315477 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-464933691215315477 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-464933691215315477 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-464933691215315477 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-464933691215315477 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-464933691215315477 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-464933691215315477 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-464933691215315477 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-464933691215315477 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-464933691215315477 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-464933691215315477 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-464933691215315477 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-464933691215315477 .focus\:text-g-warning:focus{color:var(--g-c-warning)}@media (max-width:767px){.gps-464933691215315477 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="4hwYOomr-f"
        style="--border:;--pt:auto;--pb:var(--g-s-4xl);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="4hwYOomr-f mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="1gesGMp5g5 relative flex flex-col"
    >
      
      
      
    <div
      id="fihhKndW-f"
        style="--border:;--ml:auto;--mr:auto;--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="fihhKndW-f mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="uAXLnkaPOK relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gDekxwPLBq">
      
    <div
      
        class="gDekxwPLBq"
        style="--tt:default"
      >
      <h2
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:29px;--size-mobile:29px"
      >
      <p>Frequently asked questions</p>
      </h2>
    </div>
      </div>
    <div
      
        class="gQgIehoyyv"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mt:var(--g-s-m);--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Have questions? We’re hereto help</p>
      </div>
    </div><div style="--border:;--headerBorder:;--iconPosition:;--pt:var(--g-s-l);--rounded:" class="4fEiqdgYK-">
      
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:0px"
      gp-data='{"setting":{"expanded":false,"activeKey":"0","isIconPlus":true,"iconPosition":"right"},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"itemBorder":{"hover":{"border":"solid","borderLabel":"Style 1","borderType":"style-1","color":"#E0E0E0","isCustom":true,"width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderLabel":"Style 1","borderType":"style-1","color":"#E0E0E0","isCustom":true,"width":"0px 0px 1px 0px"}},"width":{"desktop":"800px"},"fullWidth":{"desktop":true},"textColor":{"normal":"#575757"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"}}}},"uid":"4fEiqdgYK-"}'
    >
      <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="0"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      Are the mop heads easy to remove and machine wash?
      </span>
    </div>
      </div>
      <div
        uid="24LiT5EDyB"
        data-index="0"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="xUHls_eGBz relative flex flex-col"
    >
      
    <div
      
        class="gDHd74NX_q"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Yes..just pull hard, and it will come off. Washed in the machine with my cleaning rags..air dry..no problem!!</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="1"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      How long does it take to complete an order?
      </span>
    </div>
      </div>
      <div
        uid="QHiESVV45s"
        data-index="1"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="yj-Q3vKlcS relative flex flex-col"
    >
      
    <div
      
        class="gadrBlfnle"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Custom orders take 3 to 5 days to process, depending on the item purchased. We do provide express processing with next-day delivery for an additional fee.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="2"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      Can I inspect the goods before receiving them?
      </span>
    </div>
      </div>
      <div
        uid="fMUPEOig7n"
        data-index="2"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="UNQ7FhGlDi relative flex flex-col"
    >
      
    <div
      
        class="g8I4az9nBb"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Yes, you can check the quality of the goods before proceeding to payment.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="3"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="3"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="3"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      How long does shipment normally take?
      </span>
    </div>
      </div>
      <div
        uid="QgagxI3Clk"
        data-index="3"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="fZPne2DbSV relative flex flex-col"
    >
      
    <div
      
        class="gBNp56WCjN"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Shipping takes between 2 and 3 business days for standard delivery. We do offer next-day delivery if your need is urgent.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="4"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="4"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="4"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      What should I do if there is a problem with my custom order?
      </span>
    </div>
      </div>
      <div
        uid="atwLLVSJCj"
        data-index="4"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="Pwq8Ga_r29 relative flex flex-col"
    >
      
    <div
      
        class="gOjcHubfQR"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>We sincerely apologize if the merchandise you received differed from what you ordered. Please contact our customer service to arrange for the item to be returned for a free replacement.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="5"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      class="4fEiqdgYK- gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="5"
        class="4fEiqdgYK- flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#575757;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#242424;--c:#B4B4B4"
            data-index="5"
            class="4fEiqdgYK- gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class=""
        style=""
      >
      What is the mop head diameter?
      </span>
    </div>
      </div>
      <div
        uid="DFXNXtHtSm"
        data-index="5"
        class="4fEiqdgYK- gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="YzhbXqvL_q relative flex flex-col"
    >
      
    <div
      
        class="gvN-hw7nmH"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-2xl);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>The bracket is 6 inches but the mop spreads out to 10 or more.</p>
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gYxNyB5OOu",
    "tag": "section",
    "class": "gps-464933691215315477 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464933691215315477)"
      }
    ],
    "blocks": []
  }
{% endschema %}
