
  
  <style>
    .gps-453176377726730903 .absolute{position:absolute}.gps-453176377726730903 .relative{position:relative}.gps-453176377726730903 .inset-0{inset:0}.gps-453176377726730903 .mx-auto{margin-left:auto;margin-right:auto}.gps-453176377726730903 .mb-0{margin-bottom:0}.gps-453176377726730903 .inline-block{display:inline-block}.gps-453176377726730903 .flex{display:flex}.gps-453176377726730903 .grid{display:grid}.gps-453176377726730903 .w-full{width:100%}.gps-453176377726730903 .max-w-full{max-width:100%}.gps-453176377726730903 .flex-col{flex-direction:column}.gps-453176377726730903 .overflow-hidden{overflow:hidden}.gps-453176377726730903 .align-middle{vertical-align:middle}.gps-453176377726730903 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-453176377726730903 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-453176377726730903 .duration-200{transition-duration:.2s}.gps-453176377726730903 .duration-300{transition-duration:.3s}.gps-453176377726730903 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-453176377726730903 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-453176377726730903 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gMmsybkFAH"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMmsybkFAH mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gY-rYAV_eF relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gM9c-aFxJn"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="{{ "452020533844771446-b32169ec-0842-48e1-bf26-a639a0ec273a.png" | asset_url }}" data-srcset="{{ '452020533844771446-b32169ec-0842-48e1-bf26-a639a0ec273a.png' | asset_img_url: '768x768' }} 768w, {{ '452020533844771446-b32169ec-0842-48e1-bf26-a639a0ec273a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '452020533844771446-b32169ec-0842-48e1-bf26-a639a0ec273a.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1480" height="986" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1480/986;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gB4-iArMGA",
    "tag": "section",
    "class": "gps-453176377726730903 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=453176377726730903)"
      }
    ],
    "blocks": []
  }
{% endschema %}
