
  
  <style>
    .gps-457104452793402161 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-457104452793402161 .relative{position:relative}.gps-457104452793402161 .mx-auto{margin-left:auto;margin-right:auto}.gps-457104452793402161 .mb-0{margin-bottom:0}.gps-457104452793402161 .flex{display:flex}.gps-457104452793402161 .grid{display:grid}.gps-457104452793402161 .max-w-full{max-width:100%}.gps-457104452793402161 .flex-col{flex-direction:column}.gps-457104452793402161 .italic{font-style:italic}.gps-457104452793402161 .text-g-text-2{color:var(--g-c-text-2)}.gps-457104452793402161 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457104452793402161 .duration-200{transition-duration:.2s}.gps-457104452793402161 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gpyBwzP--x"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:var(--g-c-error);--bgi:url({{ "452020533844771446-45f277f4-adc8-48e6-83ce-78ff3ee08b56.jpg" | asset_url }});--bgi-mobile:url({{ "452020533844771446-10740b0f-5261-40e4-854d-3166ff1e5cba.jpg" | asset_url }});--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gpyBwzP--x mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_Ln_NOX_6 relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gh5R-ONj4P">
      
    <div
      
        class="gh5R-ONj4P"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
  
    
    
    <div
    
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:#eee;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class=""
    ><style data-shopify>
      @font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n4.73cf0589f7839ec88463a09f5335a2885467ed0c.woff2?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=5d8fac16d2a2c1d421d78a268ba05e718b65deb08649aadcba880ec2c591fe4e") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n4.1c5276ef69780b63aa8f0ba7897fb3bc87270bb0.woff?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=076e94802301663819371d67ec7d0a6a4db4f1dd3cdefae99ccba94d1fbbb95d") format("woff");
}

      @font-face {
  font-family: "Harmonia Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n7.db6a243cdeddb2eba0b2e8fccdce1e6910fd06d0.woff2?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=f63f17c463b5ab72ad3debbf860f144a412581ca08995bcfc58ca017079f023b") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n7.a069bd4d0320d5bc303f7f96d7bf28abc297b6aa.woff?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=0797bafc09ca74ee457a05c5df7384f9ceed531c18eba826048ecde73955c154") format("woff");
}

      @font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i4.ccbfea79fd847e76d49925a923aa89064359e629.woff2?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=4d66afabbe1c3c11e9d38b5646b4bc7bc2fdf58f376ceb84d8134613fc83fffd") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i4.e5c05a10aacfb8cc7fdf892df8dba937a214e6e7.woff?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=1f04e511ee3ca96ba976f5d0af2ac94ba5c21120ae036189c5e3f51a6e74225f") format("woff");
}

      @font-face {
  font-family: "Harmonia Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i7.4a7dd579ac7cb56f507f74a6af51c429211c3385.woff2?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=d2e1637563e19f677a0bc1e8302f8834b04ecea503d93e7ce1238fb9616032ba") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i7.f513289b781582823a912d2e8125b8c109e5d61c.woff?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=5d4677976bb2667f66643bb084d1ba31c194412f909b7c3d674e440560204586") format("woff");
}

      @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n6.dd3d6084d29e4754e80fe6aa1c0e37f511474ffa.woff2?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=dc7c82784cc93b2cb17fb4b2cfc7e2a78da44729a652ed94a6b7d2e5e1b23a09") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n6.b0d6879084373b473d0c7a4c3d54ece9c289cbb4.woff?h1=YW50b255LWRldi0xOS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=eefa88c0d71081fe2199589cf3c0b89ef7e43f3f766cc2df468ac1187fd39453") format("woff");
}


      :root {
        --font-body-family: "Harmonia Sans", sans-serif;
        --font-body-style: normal;
        --font-body-weight: 400;
        --font-body-weight-bold: 700;

        --font-heading-family: "Harmonia Sans", sans-serif;
        --font-heading-style: normal;
        --font-heading-weight: 600;

        --font-body-scale: 1.0;
        --font-heading-scale: 1.3;

        --color-base-text: 46, 42, 57;
        --color-shadow: 46, 42, 57;
        --color-base-background-1: 253, 251, 247;
        --color-base-background-2: 237, 255, 167;
        --color-base-solid-button-labels: 253, 251, 247;
        --color-base-outline-button-labels: 46, 42, 57;
        --color-base-accent-1: 155, 4, 111;
        --color-base-accent-2: 94, 54, 83;
        --payment-terms-background-color: #FDFBF7;

        --gradient-base-background-1: linear-gradient(180deg, rgba(240, 244, 236, 1), rgba(241, 235, 226, 1) 100%);
        --gradient-base-background-2: radial-gradient(rgba(255, 229, 229, 1), rgba(255, 224, 218, 1) 25%, rgba(215, 255, 137, 1) 100%);
        --gradient-base-accent-1: #9B046F;
        --gradient-base-accent-2: linear-gradient(320deg, rgba(134, 16, 106, 1), rgba(94, 54, 83, 1) 100%);

        --media-padding: px;
        --media-border-opacity: 0.1;
        --media-border-width: 0px;
        --media-radius: 12px;
        --media-shadow-opacity: 0.1;
        --media-shadow-horizontal-offset: 10px;
        --media-shadow-vertical-offset: 12px;
        --media-shadow-blur-radius: 20px;
        --media-shadow-visible: 1;

        --page-width: 120rem;
        --page-width-margin: 0rem;

        --product-card-image-padding: 0.0rem;
        --product-card-corner-radius: 1.2rem;
        --product-card-text-alignment: center;
        --product-card-border-width: 0.0rem;
        --product-card-border-opacity: 0.1;
        --product-card-shadow-opacity: 0.05;
        --product-card-shadow-visible: 1;
        --product-card-shadow-horizontal-offset: 1.0rem;
        --product-card-shadow-vertical-offset: 1.0rem;
        --product-card-shadow-blur-radius: 3.5rem;

        --collection-card-image-padding: 0.0rem;
        --collection-card-corner-radius: 1.2rem;
        --collection-card-text-alignment: center;
        --collection-card-border-width: 0.0rem;
        --collection-card-border-opacity: 0.1;
        --collection-card-shadow-opacity: 0.05;
        --collection-card-shadow-visible: 1;
        --collection-card-shadow-horizontal-offset: 1.0rem;
        --collection-card-shadow-vertical-offset: 1.0rem;
        --collection-card-shadow-blur-radius: 3.5rem;

        --blog-card-image-padding: 0.0rem;
        --blog-card-corner-radius: 1.2rem;
        --blog-card-text-alignment: center;
        --blog-card-border-width: 0.0rem;
        --blog-card-border-opacity: 0.1;
        --blog-card-shadow-opacity: 0.05;
        --blog-card-shadow-visible: 1;
        --blog-card-shadow-horizontal-offset: 1.0rem;
        --blog-card-shadow-vertical-offset: 1.0rem;
        --blog-card-shadow-blur-radius: 3.5rem;

        --badge-corner-radius: 2.0rem;

        --popup-border-width: 1px;
        --popup-border-opacity: 0.1;
        --popup-corner-radius: 22px;
        --popup-shadow-opacity: 0.1;
        --popup-shadow-horizontal-offset: 10px;
        --popup-shadow-vertical-offset: 12px;
        --popup-shadow-blur-radius: 20px;

        --drawer-border-width: 1px;
        --drawer-border-opacity: 0.1;
        --drawer-shadow-opacity: 0.0;
        --drawer-shadow-horizontal-offset: 0px;
        --drawer-shadow-vertical-offset: 4px;
        --drawer-shadow-blur-radius: 5px;

        --spacing-sections-desktop: 36px;
        --spacing-sections-mobile: 25px;

        --grid-desktop-vertical-spacing: 40px;
        --grid-desktop-horizontal-spacing: 40px;
        --grid-mobile-vertical-spacing: 20px;
        --grid-mobile-horizontal-spacing: 20px;

        --text-boxes-border-opacity: 0.1;
        --text-boxes-border-width: 0px;
        --text-boxes-radius: 24px;
        --text-boxes-shadow-opacity: 0.0;
        --text-boxes-shadow-visible: 0;
        --text-boxes-shadow-horizontal-offset: 10px;
        --text-boxes-shadow-vertical-offset: 12px;
        --text-boxes-shadow-blur-radius: 20px;

        --buttons-radius: 10px;
        --buttons-radius-outset: 11px;
        --buttons-border-width: 1px;
        --buttons-border-opacity: 0.55;
        --buttons-shadow-opacity: 0.0;
        --buttons-shadow-visible: 0;
        --buttons-shadow-horizontal-offset: 0px;
        --buttons-shadow-vertical-offset: 4px;
        --buttons-shadow-blur-radius: 5px;
        --buttons-border-offset: 0.3px;

        --inputs-radius: 10px;
        --inputs-border-width: 1px;
        --inputs-border-opacity: 0.55;
        --inputs-shadow-opacity: 0.0;
        --inputs-shadow-horizontal-offset: 0px;
        --inputs-margin-offset: 0px;
        --inputs-shadow-vertical-offset: 4px;
        --inputs-shadow-blur-radius: 5px;
        --inputs-radius-outset: 11px;

        --variant-pills-radius: 10px;
        --variant-pills-border-width: 0px;
        --variant-pills-border-opacity: 0.1;
        --variant-pills-shadow-opacity: 0.0;
        --variant-pills-shadow-horizontal-offset: 0px;
        --variant-pills-shadow-vertical-offset: 4px;
        --variant-pills-shadow-blur-radius: 5px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    </style></div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gxICmJZ7ZH",
    "tag": "section",
    "class": "gps-457104452793402161 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=457104452793402161)"
      }
    ],
    "blocks": []
  }
{% endschema %}
