
  
  <style>
    .gps-464321213376758521 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464321213376758521 .relative{position:relative}.gps-464321213376758521 .mx-auto{margin-left:auto;margin-right:auto}.gps-464321213376758521 .mb-0{margin-bottom:0}.gps-464321213376758521 .flex{display:flex}.gps-464321213376758521 .grid{display:grid}.gps-464321213376758521 .max-w-full{max-width:100%}.gps-464321213376758521 .flex-col{flex-direction:column}.gps-464321213376758521 .text-g-text-2{color:var(--g-c-text-2)}.gps-464321213376758521 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464321213376758521 .duration-200{transition-duration:.2s}.gps-464321213376758521 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYqCSG0I3T"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYqCSG0I3T mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9jbhU2AIy relative flex flex-col"
    >
      
      
      
    <div
      id="gHQy4XhaCR"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHQy4XhaCR mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZfFecvZsQ relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="gMft5zGh4K">
      
    <div
      
        class="gMft5zGh4K"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Best Sellers
      </h2>
    </div>
      </div>
    </div>
    </div>
  
    <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gZ5vdQgUNS">
      
    <div
      
        class="gZ5vdQgUNS"
        style=""
      >
      <h2
        data-gp-text
        class="g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gD0yBbTzoJ",
    "tag": "section",
    "class": "gps-464321213376758521 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464321213376758521)"
      }
    ],
    "blocks": []
  }
{% endschema %}
