
  
  <style>
    .gps-464933690527449621 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464933690527449621 .relative{position:relative}.gps-464933690527449621 .mx-auto{margin-left:auto;margin-right:auto}.gps-464933690527449621 .mb-0{margin-bottom:0}.gps-464933690527449621 .flex{display:flex}.gps-464933690527449621 .grid{display:grid}.gps-464933690527449621 .max-w-full{max-width:100%}.gps-464933690527449621 .flex-col{flex-direction:column}.gps-464933690527449621 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690527449621 .duration-200{transition-duration:.2s}.gps-464933690527449621 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="erfwuYc-u7"
        style="--border:;--pt:var(--g-s-3xl);--pb:var(--g-s-2xl);--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--rounded:;--cg:30px;--cg-tablet:30px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="erfwuYc-u7 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="WmA07ZKC8p relative flex flex-col"
    >
      
      
      
    <div
      id="gJWzFYZ56g"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-2xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--radius:var(--g-radius-none);--cg:var(--g-s-xs);--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJWzFYZ56g mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6wRVgFk5- relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKiPpcCEYB">
      
    <div
      
        class="gKiPpcCEYB"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:29px;--size-mobile:29px"
      >
      <p>50,00+</p>
      </h2>
    </div>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEe7lsJq1b relative flex flex-col"
    >
      
    <div
      
        class="gD0IIIdu-K"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Products have<br>reached consumers</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="g17jYKeXcd relative flex flex-col"
    >
      
      
      
    <div
      id="gG5Aqn6oeX"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-2xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--radius:var(--g-radius-none);--cg:var(--g-s-xs);--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG5Aqn6oeX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-vxZzVDyj relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gJA69iEhyd">
      
    <div
      
        class="gJA69iEhyd"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:29px;--size-mobile:29px"
      >
      <p>98%</p>
      </h2>
    </div>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvgbjUX33K relative flex flex-col"
    >
      
    <div
      
        class="gsE3xl_kY-"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Satisfied customers<br>and five-star reviews</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="gnFdNQG18q relative flex flex-col"
    >
      
      
      
    <div
      id="gq9B7toQnD"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-2xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--radius:var(--g-radius-none);--cg:var(--g-s-xs);--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gq9B7toQnD mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUHqD2wdon relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gGpkULL1g3">
      
    <div
      
        class="gGpkULL1g3"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:29px;--size-mobile:29px"
      >
      <p>120+</p>
      </h2>
    </div>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjr1oybB9J relative flex flex-col"
    >
      
    <div
      
        class="giN_dRjDPK"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Recommendations by over 120 safety experts</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gR5rsPkcpC",
    "tag": "section",
    "class": "gps-464933690527449621 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464933690527449621)"
      }
    ],
    "blocks": []
  }
{% endschema %}
