
<div class="gps-457691643961672691 gps gpsi">
  <style>
    .gps-457691643961672691 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-457691643961672691 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-457691643961672691 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-457691643961672691 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-457691643961672691 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-457691643961672691 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-457691643961672691 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-457691643961672691 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-457691643961672691 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-457691643961672691 .g-s-small{padding:4px 16px}.gps-457691643961672691 .g-s-medium{padding:8px 24px}.gps-457691643961672691 .g-s-large{padding:12px 32px}.gps-457691643961672691 .g-s-tag-small{padding:2px 8px}.gps-457691643961672691 .g-s-tag-medium{padding:4px 12px}.gps-457691643961672691 .g-s-tag-large{padding:8px 16px}.gps-457691643961672691 .g-s-none{padding:0}.gps-457691643961672691 .g-s-icon-small{padding:8px}.gps-457691643961672691 .g-s-icon-medium{padding:16px}.gps-457691643961672691 .g-s-icon-large{padding:24px}.gps-457691643961672691 .absolute{position:absolute}.gps-457691643961672691 .relative{position:relative}.gps-457691643961672691 .inset-0{inset:0}.gps-457691643961672691 .mx-auto{margin-left:auto;margin-right:auto}.gps-457691643961672691 .mb-0{margin-bottom:0}.gps-457691643961672691 .block{display:block}.gps-457691643961672691 .inline-block{display:inline-block}.gps-457691643961672691 .flex{display:flex}.gps-457691643961672691 .inline-flex{display:inline-flex}.gps-457691643961672691 .grid{display:grid}.gps-457691643961672691 .hidden{display:none}.gps-457691643961672691 .aspect-square{aspect-ratio:1/1}.gps-457691643961672691 .h-6{height:1.5rem}.gps-457691643961672691 .w-6{width:1.5rem}.gps-457691643961672691 .w-full{width:100%}.gps-457691643961672691 .max-w-full{max-width:100%}.gps-457691643961672691 .flex-col{flex-direction:column}.gps-457691643961672691 .items-center{align-items:center}.gps-457691643961672691 .justify-center{justify-content:center}.gps-457691643961672691 .overflow-hidden{overflow:hidden}.gps-457691643961672691 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-457691643961672691 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-457691643961672691 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-457691643961672691 .border-g-brand{border-color:var(--g-c-brand)}.gps-457691643961672691 .border-g-error{border-color:var(--g-c-error)}.gps-457691643961672691 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-457691643961672691 .border-g-info{border-color:var(--g-c-info)}.gps-457691643961672691 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-457691643961672691 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-457691643961672691 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-457691643961672691 .border-g-success{border-color:var(--g-c-success)}.gps-457691643961672691 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-457691643961672691 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-457691643961672691 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-457691643961672691 .border-g-warning{border-color:var(--g-c-warning)}.gps-457691643961672691 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-457691643961672691 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-457691643961672691 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-457691643961672691 .bg-g-brand{background-color:var(--g-c-brand)}.gps-457691643961672691 .bg-g-error{background-color:var(--g-c-error)}.gps-457691643961672691 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-457691643961672691 .bg-g-info{background-color:var(--g-c-info)}.gps-457691643961672691 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-457691643961672691 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-457691643961672691 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-457691643961672691 .bg-g-success{background-color:var(--g-c-success)}.gps-457691643961672691 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-457691643961672691 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-457691643961672691 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-457691643961672691 .bg-g-warning{background-color:var(--g-c-warning)}.gps-457691643961672691 .align-middle{vertical-align:middle}.gps-457691643961672691 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643961672691 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643961672691 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643961672691 .leading-\[0\]{line-height:0}.gps-457691643961672691 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-457691643961672691 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-457691643961672691 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-457691643961672691 .text-g-brand{color:var(--g-c-brand)}.gps-457691643961672691 .text-g-error{color:var(--g-c-error)}.gps-457691643961672691 .text-g-highlight{color:var(--g-c-highlight)}.gps-457691643961672691 .text-g-info{color:var(--g-c-info)}.gps-457691643961672691 .text-g-line-1{color:var(--g-c-line-1)}.gps-457691643961672691 .text-g-line-2{color:var(--g-c-line-2)}.gps-457691643961672691 .text-g-line-3{color:var(--g-c-line-3)}.gps-457691643961672691 .text-g-success{color:var(--g-c-success)}.gps-457691643961672691 .text-g-text-1{color:var(--g-c-text-1)}.gps-457691643961672691 .text-g-text-2{color:var(--g-c-text-2)}.gps-457691643961672691 .text-g-text-3{color:var(--g-c-text-3)}.gps-457691643961672691 .text-g-warning{color:var(--g-c-warning)}.gps-457691643961672691 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-457691643961672691 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-457691643961672691 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-457691643961672691 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-457691643961672691 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-457691643961672691 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-457691643961672691 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-457691643961672691 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-457691643961672691 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-457691643961672691 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-457691643961672691 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-457691643961672691 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-457691643961672691 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-457691643961672691 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-457691643961672691 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-457691643961672691 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457691643961672691 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457691643961672691 .duration-200{transition-duration:.2s}.gps-457691643961672691 .duration-300{transition-duration:.3s}.gps-457691643961672691 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-457691643961672691 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-457691643961672691 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-457691643961672691 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-457691643961672691 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-457691643961672691 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-457691643961672691 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-457691643961672691 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-457691643961672691 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-457691643961672691 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-457691643961672691 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-457691643961672691 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-457691643961672691 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-457691643961672691 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-457691643961672691 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-457691643961672691 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-457691643961672691 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-457691643961672691 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-457691643961672691 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-457691643961672691 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-457691643961672691 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-457691643961672691 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-457691643961672691 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-457691643961672691 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-457691643961672691 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-457691643961672691 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-457691643961672691 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-457691643961672691 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-457691643961672691 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-457691643961672691 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-457691643961672691 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-457691643961672691 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-457691643961672691 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-457691643961672691 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-457691643961672691 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-457691643961672691 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-457691643961672691 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-457691643961672691 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-457691643961672691 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-457691643961672691 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-457691643961672691 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-457691643961672691 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-457691643961672691 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-457691643961672691 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-457691643961672691 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-457691643961672691 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-457691643961672691 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-457691643961672691 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-457691643961672691 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-457691643961672691 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-457691643961672691 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-457691643961672691 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-457691643961672691 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-457691643961672691 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-457691643961672691 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-457691643961672691 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-457691643961672691 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-457691643961672691 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-457691643961672691 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-457691643961672691 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-457691643961672691 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-457691643961672691 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-457691643961672691 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-457691643961672691 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-457691643961672691 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-457691643961672691 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-457691643961672691 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-457691643961672691 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-457691643961672691 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-457691643961672691 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-457691643961672691 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-457691643961672691 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-457691643961672691 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-457691643961672691 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-457691643961672691 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-457691643961672691 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-457691643961672691 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-457691643961672691 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-457691643961672691 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-457691643961672691 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-457691643961672691 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-457691643961672691 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-457691643961672691 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-457691643961672691 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-457691643961672691 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-457691643961672691 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-457691643961672691 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-457691643961672691 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-457691643961672691 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-457691643961672691 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-457691643961672691 .focus\:text-g-warning:focus{color:var(--g-c-warning)}@media (hover:hover) and (pointer:fine){.gps-457691643961672691 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-457691643961672691 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-457691643961672691 .tablet\:block{display:block}.gps-457691643961672691 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-457691643961672691 .mobile\:block{display:block}.gps-457691643961672691 .mobile\:hidden{display:none}}.gps-457691643961672691 .\[\&\>svg\]\:w-full>svg{width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7bBlMmS7P"
        style="--border:;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--pt-tablet:var(--g-s-3xl);--pb-tablet:var(--g-s-3xl);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-text-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7bBlMmS7P mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gMSFJ4fVaY relative flex flex-col"
    >
      
      
      
    <div
      id="ge9e8y6yYl"
        style="--border:;--pt:var(--g-s-m);--pb:var(--g-s-m);--pt-tablet:var(--g-s-m);--pl-tablet:15px;--pb-tablet:var(--g-s-m);--pr-tablet:15px;--rounded:;--cg:var(--g-s-2xl);--cg-mobile:21px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge9e8y6yYl mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gi0f7Xw2xB relative flex flex-col"
    >
      
      
      
    <div
      id="gB7vN0nPXs"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-m);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gB7vN0nPXs mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gC2kuwXtU3 relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gTzHeGf3sz"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-text-3, text-3);--t:rotate(0deg);--w:24px;--minw:24px"
        class="inline-flex aspect-square items-center justify-center overflow-hidden [&>svg]:w-full text-g-text-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 512s192 -181.952 192 -320A192 192 0 0 0 64 192c0 138.048 192 320 192 320zm0 -224a96 96 0 1 1 0 -192 96 96 0 0 1 0 192z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gvlZEpQrvh relative flex flex-col"
    >
      <div
      
      class="g0M32ulLI5 g-paragraph-1 text-g-text-1 text-g-text-3 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:var(--g-c-text-3, text-3);--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>2118 Thornridge Cir, Connecticut 35624</p></div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="g2oaUnYKcz relative flex flex-col"
    >
      
      
      
    <div
      id="gZOH0zkFgj"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt-mobile:var(--g-s-xl);--cg:var(--g-s-m);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZOH0zkFgj mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gSN_QSDFxm relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gAmyIPh2HR"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-text-3, text-3);--t:rotate(0deg);--w:24px;--minw:24px"
        class="inline-flex aspect-square items-center justify-center overflow-hidden [&>svg]:w-full text-g-text-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M0 128a64 64 0 0 1 64 -64h384a64 64 0 0 1 64 64v256a64 64 0 0 1 -64 64H64a64 64 0 0 1 -64 -64V128Zm64 -32a32 32 0 0 0 -32 32v6.944l224 134.4 224 -134.4V128a32 32 0 0 0 -32 -32H64Zm416 76.256 -150.656 90.4L480 355.36V172.256Zm-1.088 220.032 -180.48 -111.072L256 306.656l-42.432 -25.44 -180.48 111.04A32 32 0 0 0 64 416h384a32 32 0 0 0 30.912 -23.712ZM32 355.36l150.656 -92.704L32 172.256v183.104Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gxDnqejz8Y relative flex flex-col"
    >
      <div
      
      class="g5exHs25Y3 g-paragraph-1 text-g-text-1 text-g-text-3 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:var(--g-c-text-3, text-3);--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>2118 Thornridge Cir, Connecticut 35624</p></div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="g2RukL1ttF relative flex flex-col"
    >
      
      
      
    <div
      id="gxcKEFJpNb"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt-mobile:var(--g-s-xl);--cg:var(--g-s-m);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxcKEFJpNb mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g6aGBnL83W relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gMQXdkBNgS"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-text-3, text-3);--t:rotate(0deg);--w:24px;--minw:24px"
        class="inline-flex aspect-square items-center justify-center overflow-hidden [&>svg]:w-full text-g-text-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116.928 42.496a21.696 21.696 0 0 0 -32.48 -2.016L51.36 73.6c-15.456 15.488 -21.152 37.408 -14.4 56.64a562.176 562.176 0 0 0 133.376 211.456 562.208 562.208 0 0 0 211.456 133.376c19.232 6.752 41.152 1.056 56.64 -14.4l33.088 -33.088a21.696 21.696 0 0 0 -2.016 -32.48l-73.824 -57.408a21.696 21.696 0 0 0 -18.56 -3.904l-70.08 17.504a55.84 55.84 0 0 1 -53.024 -14.688L175.424 257.984a55.84 55.84 0 0 1 -14.72 -53.024l17.536 -70.08a21.696 21.696 0 0 0 -3.904 -18.56L116.928 42.496zM60.288 16.352a55.84 55.84 0 0 1 83.584 5.216L201.28 95.36c10.528 13.536 14.24 31.168 10.08 47.808l-17.504 70.08a21.696 21.696 0 0 0 5.696 20.576l78.624 78.624a21.696 21.696 0 0 0 20.608 5.696l70.048 -17.504a55.84 55.84 0 0 1 47.808 10.08l73.792 57.408c26.528 20.64 28.96 59.84 5.216 83.552l-33.088 33.088c-23.68 23.68 -59.072 34.08 -92.064 22.464a596.288 596.288 0 0 1 -224.32 -141.44 596.288 596.288 0 0 1 -141.44 -224.288c-11.584 -32.96 -1.184 -68.384 22.496 -92.064L60.32 16.352z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g4BK_tJzQ4 relative flex flex-col"
    >
      <div
      
      class="g4vFAtzFxn g-paragraph-1 text-g-text-1 text-g-text-3 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:var(--g-c-text-3, text-3);--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>2118 Thornridge Cir, Connecticut 35624</p></div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--border:;--pt:var(--g-s-xl);--rounded:" class="gHlPsjD4Yv">
    
    <div
      class="flex justify-center"
    >
      <div
        style="--bs:solid;--bbw:1px;--minw:100px;--t:rotate(0deg);--bc:rgba(255, 255, 255, 0.15)"
        class="w-full block tablet:block mobile:block"
      ></div>
      <div
        class="items-center w-full hidden tablet:hidden mobile:hidden"
        style="--bc:rgba(255, 255, 255, 0.15);--t:rotate(0deg)"
      >
        
    <div
      class="w-full hidden"
      style="--bc:rgba(255, 255, 255, 0.15);--bs:solid;--bbw:1px;--minw:100px"
    ></div>
  
        
        
        
    <div
      class="w-full flex"
      style="--bc:rgba(255, 255, 255, 0.15);--bs:solid;--bbw:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
    </div>
      
      
    <div
      id="gkfDMZXQH1"
        style="--border:;--ml:auto;--mr:auto;--pt:var(--g-s-xl);--rounded:;--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkfDMZXQH1 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gFT6GDeeH3 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gUkT7mc_tR"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:40px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/" data-srcset="https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/  768w, https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/  1024w, https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:79/49;--objf:cover;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvaQxJpmLm relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gvJzaSTwvw"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:40px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/" data-srcset="https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/  768w, https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/  1024w, https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:79/49;--objf:cover;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grKMH1FyNA relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden g-J6jk9JGM"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:40px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/" data-srcset="https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/  768w, https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/  1024w, https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="80" height="49" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:80/49;--objf:cover;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gasVMpnOiA relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gFa2F9-i3W"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:40px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/" data-srcset="https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/  768w, https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/  1024w, https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:79/49;--objf:cover;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAe6T19nPu relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gOxP8NK2XK"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:40px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/" data-srcset="https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/  768w, https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/  1024w, https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:79/49;--objf:cover;--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    <div
      
      class="grJtaniwzn g-paragraph-1 text-g-text-1 text-g-text-3 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:var(--g-c-text-3, text-3);--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-xl)"
    ><p>© 2022 GemPages</p></div>
    </div>
    </div>
  
            </section>
          
    
</div>
{% schema %}
  {
    
    "name": "Section gORgm2Tmqt",
    "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=457691643961672691)"
      }
    ],
    "blocks": []
  }
{% endschema %}
