
  
  <style>
    .gps-471995320096522883 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-471995320096522883 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-471995320096522883 .g-s-medium{padding:8px 24px}.gps-471995320096522883 .invisible{visibility:hidden}.gps-471995320096522883 .absolute{position:absolute}.gps-471995320096522883 .relative{position:relative}.gps-471995320096522883 .mx-auto{margin-left:auto;margin-right:auto}.gps-471995320096522883 .mb-0{margin-bottom:0}.gps-471995320096522883 .flex{display:flex}.gps-471995320096522883 .inline-flex{display:inline-flex}.gps-471995320096522883 .grid{display:grid}.gps-471995320096522883 .h-5{height:20px}.gps-471995320096522883 .w-5{width:20px}.gps-471995320096522883 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-471995320096522883 .animate-spin{animation:spin 1s linear infinite}.gps-471995320096522883 .flex-col{flex-direction:column}.gps-471995320096522883 .items-center{align-items:center}.gps-471995320096522883 .justify-center{justify-content:center}.gps-471995320096522883 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-471995320096522883 .break-words{overflow-wrap:break-word}.gps-471995320096522883 .bg-g-brand{background-color:var(--g-c-brand)}.gps-471995320096522883 .text-g-text-3{color:var(--g-c-text-3)}.gps-471995320096522883 .no-underline{text-decoration-line:none}.gps-471995320096522883 .opacity-25{opacity:.25}.gps-471995320096522883 .opacity-75{opacity:.75}.gps-471995320096522883 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-471995320096522883 .duration-200{transition-duration:.2s}.gps-471995320096522883 .duration-300{transition-duration:.3s}.gps-471995320096522883 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-471995320096522883 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-471995320096522883 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-471995320096522883 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-471995320096522883 .disabled\:opacity-30:disabled{opacity:.3}.gps-471995320096522883 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-471995320096522883 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-471995320096522883 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="goRGCA9WsM"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goRGCA9WsM mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYdrnNDwKu relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gBuWQLqH8E ">
      
    <div
      parentTag="Col"
        class="gBuWQLqH8E"
        style=""
      >
      <h2
        data-gp-text
        class="break-words g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div><div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gwGRT_4yBk" aria-label="Button 1"
      data-state="idle"
      class="gwGRT_4yBk max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Button 1
      </span>
    </button>
  </div>
    <div
      parentTag="Col"
        class="gXpQ9JcDAy"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1 gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g6muBbvbCk ">
      
    <div
      parentTag="Col"
        class="g6muBbvbCk"
        style=""
      >
      <h2
        data-gp-text
        class="break-words g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gq9vLKcTCF ">
      
    <div
      parentTag="Col"
        class="gq9vLKcTCF"
        style=""
      >
      <h2
        data-gp-text
        class="break-words g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gQhZ1KOsJ4 ">
      
    <div
      parentTag="Col"
        class="gQhZ1KOsJ4"
        style=""
      >
      <h2
        data-gp-text
        class="break-words g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div><div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gzReiJDQO2" aria-label="Button"
      data-state="idle"
      class="gzReiJDQO2 max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    <div
      parentTag="Col"
        class="gX45gLbS7f"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1 gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div><div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gJpVNbusPA" aria-label="Button"
      data-state="idle"
      class="gJpVNbusPA max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div><div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="glBJT8p4Ns" aria-label="Button"
      data-state="idle"
      class="glBJT8p4Ns max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div>
    </div>
  
            </section>
          
    
  
<style>
  #gempages-support-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    opacity: 0.8;
    z-index: 99;
    padding: 21px 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex !important;
    align-items: center;
  }
  #gempages-support-banner svg{
    margin-right: 12px;
    min-width: 28px;
  }
  #gempages-support-banner a{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  @media(max-width: 787px){
    #gempages-support-banner{
      padding: 8px 16px;
    }
  }
</style>
<div id="gempages-support-banner">
  <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7462 0.0075913L0.150737 8.5098C0.0359955 8.53804 -0.0213755 8.66515 0.00731004 8.77814L2.13004 15.6703C2.15872 15.7833 2.28781 15.8539 2.38821 15.8115L22.6258 9.56904C23.5868 9.27245 24.4043 8.60866 24.8776 7.70477C26.1398 5.31794 27.1725 2.84637 27.9757 0.275933C28.0617 0.106454 27.9039 -0.0347785 27.7462 0.0075913Z" fill="#FFBB1C"></path><path d="M21.1207 11.9276L3.98112 17.2097C3.89506 17.2379 3.82335 17.3368 3.86638 17.4357L5.67356 23.2545C5.70225 23.3392 5.80265 23.4098 5.90305 23.3816L16.8322 20.0061C17.6498 19.7519 18.3382 19.1869 18.7398 18.4384C19.8012 16.4329 20.6904 14.3285 21.3502 12.1536C21.3932 12.0265 21.2641 11.8852 21.1207 11.9276Z" fill="#E8486C"></path><path d="M14.6079 22.5764L7.46525 24.7797C7.37919 24.7938 7.35051 24.8927 7.36485 24.9633L8.88518 29.8923C8.89952 29.977 8.99992 30.0194 9.07164 29.9912L10.9649 29.4121C11.6533 29.2003 12.227 28.7201 12.5713 28.0845C13.4749 26.3897 14.2063 24.6102 14.78 22.7742C14.8374 22.6471 14.7227 22.5341 14.6079 22.5764Z" fill="#476DF2"></path></svg>
  <span>This page is created by GemPages Support. <a href="https://help.gempages.net/articles/support-options#why-my-page-has-a-powered-by-gempages-label" target="_blank">Learn more</a></span>
</div>

{% schema %}
  {
    
    "name": "Section g7RxhtFz-D",
    "tag": "section",
    "class": "gps-471995320096522883 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=471995320096522883)"
      }
    ],
    "blocks": []
  }
{% endschema %}
