
  
  <style>
    .gps-456673445309121028 .-rotate-90,.gps-456673445309121028 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-456673445309121028 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-456673445309121028 .g-s-medium{padding:8px 24px}.gps-456673445309121028 .relative{position:relative}.gps-456673445309121028 .mx-auto{margin-left:auto;margin-right:auto}.gps-456673445309121028 .mb-0{margin-bottom:0}.gps-456673445309121028 .mr-\[12px\]{margin-right:12px}.gps-456673445309121028 .block{display:block}.gps-456673445309121028 .flex{display:flex}.gps-456673445309121028 .inline-flex{display:inline-flex}.gps-456673445309121028 .grid{display:grid}.gps-456673445309121028 .hidden{display:none}.gps-456673445309121028 .w-full{width:100%}.gps-456673445309121028 .max-w-full{max-width:100%}.gps-456673445309121028 .-rotate-90{--tw-rotate:-90deg}.gps-456673445309121028 .-rotate-90,.gps-456673445309121028 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-456673445309121028 .rotate-90{--tw-rotate:90deg}.gps-456673445309121028 .flex-col{flex-direction:column}.gps-456673445309121028 .items-center{align-items:center}.gps-456673445309121028 .border{border-width:1px}.gps-456673445309121028 .bg-g-error{background-color:var(--g-c-error)}.gps-456673445309121028 .text-g-brand{color:var(--g-c-brand)}.gps-456673445309121028 .text-g-text-1{color:var(--g-c-text-1)}.gps-456673445309121028 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-456673445309121028 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-456673445309121028 .duration-200{transition-duration:.2s}.gps-456673445309121028 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gjongIYV9c"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjongIYV9c mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7k3bczIup relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="grgeN2Tw3R">
      
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:none"
      gp-data='{"setting":{"expanded":true,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"error"},"color":{"normal":"brand"},"headerBorder":{"normal":{"borderType":"style-1","border":"solid","width":"0px 0px 1px 0px","color":"#cecece","isCustom":true}},"itemBorder":{"normal":{"borderType":"none","border":"none","color":"transparent","isCustom":false}},"width":{"desktop":"800px"},"fullWidth":{"desktop":true},"itemHeaderSpacing":{"type":"medium"}},"uid":"grgeN2Tw3R"}'
    >
      <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="grgeN2Tw3R gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="grgeN2Tw3R flex items-center gp-accordion-item_header g-s-medium"
        style="--fd:row-reverse;--jc:space-between;--bgc:var(--g-c-error, error);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="0"
            class="grgeN2Tw3R gp-accordion-item_icon rotate-90 inline-flex transition-all duration-200"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class=""
        style=""
      >
      Accordion 1
      </span>
    </div>
      </div>
      <div
        uid="gPdY6XnX3w"
        data-index="0"
        class="grgeN2Tw3R gp-accordion-item_body block g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gWjLkcp_Bc relative flex flex-col"
    >
      
    <div
      
        class="gnRP6IKTjL"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Accordion
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="grgeN2Tw3R gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="grgeN2Tw3R flex items-center gp-accordion-item_header g-s-medium  bg-g-error"
        style="--fd:row-reverse;--jc:space-between;--bgc:var(--g-c-error, error);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="1"
            class="grgeN2Tw3R gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-brand"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class=""
        style=""
      >
      Accordion 2
      </span>
    </div>
      </div>
      <div
        uid="gDx2NB0MB3"
        data-index="1"
        class="grgeN2Tw3R gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="g2YWhr2-dU relative flex flex-col"
    >
      
    <div
      
        class="gHtUUPuztx"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Accordion
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="grgeN2Tw3R gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="grgeN2Tw3R flex items-center gp-accordion-item_header g-s-medium  bg-g-error"
        style="--fd:row-reverse;--jc:space-between;--bgc:var(--g-c-error, error);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="2"
            class="grgeN2Tw3R gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-brand"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class=""
        style=""
      >
      Accordion 3
      </span>
    </div>
      </div>
      <div
        uid="gsh0l3PjjC"
        data-index="2"
        class="grgeN2Tw3R gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gIkTQzmGpB relative flex flex-col"
    >
      
    <div
      
        class="gsbKYf2D5n"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Accordion
      </div>
    </div>
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gkBFoUPRiA",
    "tag": "section",
    "class": "gps-456673445309121028 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=456673445309121028)"
      }
    ],
    "blocks": []
  }
{% endschema %}
