
  
  <style>
    .gps-465322963076383292 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-465322963076383292 .relative{position:relative}.gps-465322963076383292 .mx-auto{margin-left:auto;margin-right:auto}.gps-465322963076383292 .mb-0{margin-bottom:0}.gps-465322963076383292 .flex{display:flex}.gps-465322963076383292 .grid{display:grid}.gps-465322963076383292 .max-w-full{max-width:100%}.gps-465322963076383292 .flex-col{flex-direction:column}.gps-465322963076383292 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322963076383292 .duration-200{transition-duration:.2s}.gps-465322963076383292 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gY54orZQ4d"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gY54orZQ4d mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4ScwaBhLF relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gk4UWpFW9g">
      
    <div
      
        class="gk4UWpFW9g"
        style="--tt:default"
      >
      <h2
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:33px;--size-mobile:29px"
      >
      <p>What We’ve Achieved</p>
      </h2>
    </div>
      </div>
      
      
    <div
      id="geYPjmCs4A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geYPjmCs4A mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-5hJ5zAV9 relative flex flex-col"
    >
      
      
      
    <div
      id="gVAOts0v5v"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVAOts0v5v mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLzFNkQlTD relative flex flex-col"
    >
      
    <div
      
        class="gbJaInhiCn"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--size:40px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:40px;--lh-tablet:130%;--size-mobile:35px"
      >
      <p>6K+</p>
      </div>
    </div>
    <div
      
        class="g8eb5KxdA0"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>GemFit yearly members</p>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYHXZiWUqF relative flex flex-col"
    >
      
    <div
      
        class="gf2LlpXefi"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-3xl);--radius:var(--g-radius-none)"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--size:40px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:40px;--lh-tablet:130%;--size-mobile:35px"
      >
      <p>10K+</p>
      </div>
    </div>
    <div
      
        class="gdGuh60N6o"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Registered members</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g45tJ0gG4h relative flex flex-col"
    >
      
      
      
    <div
      id="ghd6JofDCW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt-tablet:var(--g-s-3xl);--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghd6JofDCW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8qPo8q8OY relative flex flex-col"
    >
      
    <div
      
        class="gx0VsOoD2g"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--size:40px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:40px;--lh-tablet:130%;--size-mobile:35px"
      >
      <p>85%</p>
      </div>
    </div>
    <div
      
        class="gATvjIxfhy"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Visit class twice a week</p>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqxKbge7tH relative flex flex-col"
    >
      
    <div
      
        class="gJhS2PfKSP"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-3xl);--radius:var(--g-radius-none)"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--size:40px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:40px;--lh-tablet:130%;--size-mobile:35px"
      >
      <p>95%</p>
      </div>
    </div>
    <div
      
        class="gQ0mFN9cnF"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs);--radius:var(--g-radius-none)"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>Recommend GemFit to others</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gslXxcGpJG",
    "tag": "section",
    "class": "gps-465322963076383292 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465322963076383292)"
      }
    ],
    "blocks": []
  }
{% endschema %}
