
  
  <style>
    .gps-465322956147393084 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-465322956147393084 .relative{position:relative}.gps-465322956147393084 .mx-auto{margin-left:auto;margin-right:auto}.gps-465322956147393084 .mb-0{margin-bottom:0}.gps-465322956147393084 .block{display:block}.gps-465322956147393084 .flex{display:flex}.gps-465322956147393084 .inline-flex{display:inline-flex}.gps-465322956147393084 .grid{display:grid}.gps-465322956147393084 .hidden{display:none}.gps-465322956147393084 .max-w-full{max-width:100%}.gps-465322956147393084 .flex-col{flex-direction:column}.gps-465322956147393084 .text-center{text-align:center}.gps-465322956147393084 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-465322956147393084 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322956147393084 .duration-200{transition-duration:.2s}.gps-465322956147393084 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--pos:sticky;--top:0px;--z:2;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLThzkpZnW"
        style="--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#5956E9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLThzkpZnW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAZfvE1aTg relative flex flex-col"
    >
      
      
      
    <div
      id="g_VTPHb6qc"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pl:15px;--pr:15px;--cg:30px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_VTPHb6qc mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gtSPSrLvCN relative flex flex-col"
    >
      
      
      
    <div
      id="g34eOF2PRz"
        style="--mb-tablet:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g34eOF2PRz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVIvTjr8Cx relative flex flex-col"
    >
      
      
      
    <div
      id="gbDpQlK-_x"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbDpQlK-_x mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqTWviG0Pl relative flex flex-col"
    >
      
    <div
      
        class="g7P6xOOjAE"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFDA65;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>COMBO</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwl0hCwWOn relative flex flex-col"
    >
      
    <div
      
        class="gvOL3aJgu6"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-bg-3 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>Back to School</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZeQYNuley relative flex flex-col"
    >
      
      
      
    <div
      id="g_dg1BSbl4"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_dg1BSbl4 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gv5VDLRNxv relative flex flex-col"
    >
      
    <div
      
        class="gH7rrENYuJ"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFDA65;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>SALE UP TO 50% OFF</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gb6p-v6dy9 relative flex flex-col"
    >
      
    <div
      
        class="gjy4vfoDav"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-bg-3 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>- Don’t miss out</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gdRLG631Cx relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g0oMia80Wg">
      
    <gp-countdown-timer
     class="block"
     gp-data='{"behaviour":"daily","dateStandard":1684978080222,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":2,"hours":3,"mins":0,"endTime":1684557868837,"startTime":1684373280222},"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Mins","enableSecond":true,"secondLabel":"Secs","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"},"loopAfterFinish":true}'
     style="--ta:left;--ta-tablet:center;--ta-mobile:center"
     >
      <div id="section-countdown" class="inline-flex hidden">
           
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--mr:var(--g-s-s);--bg:transparent"
    class="text-center">
    
    <div
      id="day"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        class="gp-countdown-number"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Days
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--mr:var(--g-s-s);--bg:transparent"
    class="text-center">
    
    <div
      id="hour"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        class="gp-countdown-number"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Hours
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--mr:var(--g-s-s);--bg:transparent"
    class="text-center">
    
    <div
      id="minute"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        class="gp-countdown-number"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Mins
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--mr:var(--g-s-s);--bg:transparent"
    class="text-center">
    
    <div
      id="second"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        class="gp-countdown-number"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Secs
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gTV9QfGhOk",
    "tag": "section",
    "class": "gps-465322956147393084 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465322956147393084)"
      }
    ],
    "blocks": []
  }
{% endschema %}
