
  
  <style>
    .gps-479271039071683261 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-479271039071683261 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479271039071683261 .relative{position:relative}.gps-479271039071683261 .mx-auto{margin-left:auto;margin-right:auto}.gps-479271039071683261 .mb-0{margin-bottom:0}.gps-479271039071683261 .grid{display:grid}.gps-479271039071683261 .w-full{width:100%}.gps-479271039071683261 .max-w-full{max-width:100%}.gps-479271039071683261 .cursor-pointer{cursor:pointer}.gps-479271039071683261 .overflow-hidden{overflow:hidden}.gps-479271039071683261 .rounded{border-radius:4px}.gps-479271039071683261 .border{border-width:1px}.gps-479271039071683261 .p-4{padding:16px}.gps-479271039071683261 .px-4{padding-left:16px;padding-right:16px}.gps-479271039071683261 .py-2{padding-bottom:8px;padding-top:8px}.gps-479271039071683261 .pb-0{padding-bottom:0}.gps-479271039071683261 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479271039071683261 .duration-200{transition-duration:.2s}.gps-479271039071683261 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479271039071683261 .\[\&_\*\]\:max-w-full *{max-width:100%}@media (max-width:1023px){.gps-479271039071683261 .tablet\:ar9ytr{flex-direction:row}.gps-479271039071683261 .tablet\:ash7t4{flex-direction:column}}@media (max-width:767px){.gps-479271039071683261 .mobile\:ar9ytr{flex-direction:row}.gps-479271039071683261 .mobile\:ash7t4{flex-direction:column}}.gps-479271039071683261 .a182jb{display:flex}.gps-479271039071683261 .ah3hod{flex:1 1 0%}.gps-479271039071683261 .ar9ytr{flex-direction:row}.gps-479271039071683261 .ash7t4{flex-direction:column}
  </style>
  
      
      
            <section class="mx-auto max-w-full" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px">
              
    <div id="gwNhFA__0M" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gwNhFA__0M mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gikH9bWvaE relative a182jb ash7t4">
      
    <gp-tab gp-data="{&quot;setting&quot;:{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;borderTab&quot;:{&quot;active&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderWidth&quot;:&quot;2px&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 2px 0px&quot;},&quot;normal&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderWidth&quot;:&quot;0px&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;isCustom&quot;:false,&quot;position&quot;:&quot;all&quot;,&quot;width&quot;:&quot;0px 0px 0px 0px&quot;}},&quot;childItem&quot;:[&quot;Tab 1&quot;,&quot;Tab 2&quot;],&quot;labelAlign&quot;:{&quot;desktop&quot;:&quot;left&quot;},&quot;labelBgColor&quot;:{&quot;active&quot;:&quot;#f5f5f5&quot;},&quot;labelColor&quot;:{&quot;normal&quot;:&quot;#121212&quot;},&quot;labelTypoV2&quot;:{&quot;type&quot;:&quot;paragraph-1&quot;},&quot;labelWidth&quot;:{&quot;desktop&quot;:&quot;200px&quot;},&quot;panelAlign&quot;:{&quot;desktop&quot;:&quot;left&quot;},&quot;panelFullWidth&quot;:{&quot;desktop&quot;:false},&quot;panelWidth&quot;:{&quot;desktop&quot;:&quot;200px&quot;},&quot;position&quot;:{&quot;desktop&quot;:&quot;top&quot;,&quot;mobile&quot;:&quot;top&quot;,&quot;tablet&quot;:&quot;top&quot;}},&quot;builderProps&quot;:{&quot;uid&quot;:&quot;g6Qs6S8Xq_&quot;,&quot;builderData&quot;:{&quot;advanced&quot;:{&quot;border&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderType&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;0px&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;width&quot;:&quot;0px&quot;},&quot;boxShadow&quot;:{&quot;angle&quot;:90,&quot;blur&quot;:&quot;12px&quot;,&quot;color&quot;:&quot;rgba(0, 0, 0, 0.20)&quot;,&quot;distance&quot;:&quot;4px&quot;,&quot;spread&quot;:&quot;0px&quot;,&quot;type&quot;:&quot;shadow-1&quot;},&quot;d&quot;:{&quot;desktop&quot;:true,&quot;mobile&quot;:true,&quot;tablet&quot;:true},&quot;hasBoxShadow&quot;:false,&quot;op&quot;:{&quot;desktop&quot;:&quot;100%&quot;},&quot;rounded&quot;:{&quot;bblr&quot;:&quot;0px&quot;,&quot;bbrr&quot;:&quot;0px&quot;,&quot;btlr&quot;:&quot;0px&quot;,&quot;btrr&quot;:&quot;0px&quot;,&quot;radiusType&quot;:&quot;none&quot;},&quot;spacing-setting&quot;:{&quot;desktop&quot;:{&quot;margin&quot;:{&quot;bottom&quot;:&quot;var(--g-s-l)&quot;}}}},&quot;childrens&quot;:[&quot;gVQwdyh55z&quot;,&quot;guQ6El06iL&quot;],&quot;label&quot;:&quot;Tab&quot;,&quot;settings&quot;:{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;borderTab&quot;:{&quot;active&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderWidth&quot;:&quot;2px&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 2px 0px&quot;},&quot;normal&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderWidth&quot;:&quot;0px&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;isCustom&quot;:false,&quot;position&quot;:&quot;all&quot;,&quot;width&quot;:&quot;0px 0px 0px 0px&quot;}},&quot;childItem&quot;:[&quot;Tab 1&quot;,&quot;Tab 2&quot;],&quot;labelAlign&quot;:{&quot;desktop&quot;:&quot;left&quot;},&quot;labelBgColor&quot;:{&quot;active&quot;:&quot;#f5f5f5&quot;},&quot;labelColor&quot;:{&quot;normal&quot;:&quot;#121212&quot;},&quot;labelTypoV2&quot;:{&quot;type&quot;:&quot;paragraph-1&quot;},&quot;labelWidth&quot;:{&quot;desktop&quot;:&quot;200px&quot;},&quot;panelAlign&quot;:{&quot;desktop&quot;:&quot;left&quot;},&quot;panelFullWidth&quot;:{&quot;desktop&quot;:false},&quot;panelWidth&quot;:{&quot;desktop&quot;:&quot;200px&quot;},&quot;position&quot;:{&quot;desktop&quot;:&quot;top&quot;,&quot;mobile&quot;:&quot;top&quot;,&quot;tablet&quot;:&quot;top&quot;}},&quot;styles&quot;:{},&quot;tag&quot;:&quot;Tabs&quot;,&quot;uid&quot;:&quot;g6Qs6S8Xq_&quot;,&quot;type&quot;:&quot;component&quot;}}}">
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="a182jb g6Qs6S8Xq_">
        <div class="a182jb w-full  ash7t4 mobile:ash7t4 tablet:ash7t4">
          <div class="a182jb" style="--jc:left">
            <ul class="gp-tab-header-list a182jb  ar9ytr mobile:ar9ytr tablet:ar9ytr" style="--minw:min-content;--minw-tablet:min-content;--minw-mobile:min-content;--w:200px">
              
                  <li class="gp-navs-tab a182jb ah3hod cursor-pointer py-2 px-4" aria-hidden="" key="g6Qs6S8Xq_">
                    
    <div class=" " style="">
      <span data-gp-text="" class="cursor-pointer overflow-hidden g-paragraph-1" style="--ta:left;word-break:break-word">
      Tab 1
      </span>
    </div>
                  </li>
                
                  <li class="gp-navs-tab a182jb ah3hod cursor-pointer py-2 px-4" aria-hidden="" key="g6Qs6S8Xq_">
                    
    <div class=" " style="">
      <span data-gp-text="" class="cursor-pointer overflow-hidden g-paragraph-1" style="--ta:left;word-break:break-word">
      Tab 2
      </span>
    </div>
                  </li>
                
            </ul>
          </div>
          <div class="a182jb ah3hod">
            <div class="gp-tab-item-container p-4 pb-0" key="g6Qs6S8Xq_" style="--w:100%">
            
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-tab.js" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gc50Xvv38w",
    "tag": "section",
    "class": "gps-479271039071683261 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479271039071683261)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
