
  
  <style>
    .gps-465322962203968060 .focus\:\!shadow-none,.gps-465322962203968060 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-465322962203968060 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-465322962203968060 .invisible{visibility:hidden}.gps-465322962203968060 .fixed{position:fixed}.gps-465322962203968060 .absolute{position:absolute}.gps-465322962203968060 .relative{position:relative}.gps-465322962203968060 .inset-0{inset:0}.gps-465322962203968060 .top-\[27px\]{top:27px}.gps-465322962203968060 .z-100{z-index:100}.gps-465322962203968060 .mx-auto{margin-left:auto;margin-right:auto}.gps-465322962203968060 .mb-0{margin-bottom:0}.gps-465322962203968060 .block{display:block}.gps-465322962203968060 .flex{display:flex}.gps-465322962203968060 .inline-flex{display:inline-flex}.gps-465322962203968060 .grid{display:grid}.gps-465322962203968060 .hidden{display:none}.gps-465322962203968060 .\!h-auto{height:auto!important}.gps-465322962203968060 .h-5{height:1.25rem}.gps-465322962203968060 .w-5{width:1.25rem}.gps-465322962203968060 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-465322962203968060 .animate-spin{animation:spin 1s linear infinite}.gps-465322962203968060 .flex-col{flex-direction:column}.gps-465322962203968060 .items-center{align-items:center}.gps-465322962203968060 .justify-start{justify-content:flex-start}.gps-465322962203968060 .justify-center{justify-content:center}.gps-465322962203968060 .overflow-hidden{overflow:hidden}.gps-465322962203968060 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-465322962203968060 .rounded{border-radius:.25rem}.gps-465322962203968060 .bg-g-brand{background-color:var(--g-c-brand)}.gps-465322962203968060 .\!bg-none{background-image:none!important}.gps-465322962203968060 .p-\[16px\]{padding:16px}.gps-465322962203968060 .text-center{text-align:center}.gps-465322962203968060 .text-\[14px\]{font-size:14px}.gps-465322962203968060 .leading-normal{line-height:1.5}.gps-465322962203968060 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-465322962203968060 .text-g-text-1{color:var(--g-c-text-1)}.gps-465322962203968060 .text-g-text-3{color:var(--g-c-text-3)}.gps-465322962203968060 .no-underline{text-decoration-line:none}.gps-465322962203968060 .opacity-25{opacity:.25}.gps-465322962203968060 .opacity-75{opacity:.75}.gps-465322962203968060 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-465322962203968060 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322962203968060 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322962203968060 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322962203968060 .duration-200{transition-duration:.2s}.gps-465322962203968060 .duration-300{transition-duration:.3s}.gps-465322962203968060 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322962203968060 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-465322962203968060 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-465322962203968060 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-465322962203968060 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-465322962203968060 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-465322962203968060 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-465322962203968060 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-465322962203968060 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-465322962203968060 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYlSKRXdpK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:auto;--pb:auto;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYlSKRXdpK mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guzlrn_mmO relative flex flex-col"
    >
      
    <div>
      <link rel="preload" href="https://ucarecdn.com/53ff8b78-e3c0-4007-8f6d-aa4b632bd7a0/-/format/auto/" as="image" />
      <link rel="preload" href="https://ucarecdn.com/53ff8b78-e3c0-4007-8f6d-aa4b632bd7a0/" as="image" />
      <link rel="preload" href="https://ucarecdn.com/6eb774c7-dc23-4cb0-a21d-d2ddf267722c/" as="image" />
      <div
        
        class="gVdGYdqGb2 group/hero relative flex flex-col overflow-hidden transition-colors duration-200 ease-in-out justify-start"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-4xl);--pb-mobile:var(--g-s-4xl);--radius:var(--g-radius-none);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:737px;--h-tablet:835px;--h-mobile:1008px"
      >
        <div
          aria-label="Background Image"
          role="banner"
          class="absolute inset-0 transition-transform "
          style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/53ff8b78-e3c0-4007-8f6d-aa4b632bd7a0/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/53ff8b78-e3c0-4007-8f6d-aa4b632bd7a0/);--bgi-mobile:url(https://ucarecdn.com/6eb774c7-dc23-4cb0-a21d-d2ddf267722c/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--duration:0.5s;--scale:1.1"
        > </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))] bg-g-brand"
          style="--bgc:var(--g-c-brand, brand);--op:0"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glIROSK3as relative flex flex-col"
    >
      
      
      
    <div
      id="g4zPPJYusa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--pl-tablet:15px;--pr-tablet:15px;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4zPPJYusa mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqBynCdJMd relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g5yet4afAI">
      
    <div
      
        class="g5yet4afAI"
        style="--tt:default"
      >
      <h2
        class="text-g-bg-3 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-bg-3, bg-3);--size:48px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:48px;--size-mobile:42px"
      >
      <p>Welcome To The Healthiest Fitness You</p>
      </h2>
    </div>
      </div>
    <div
      
        class="gLNLn6M1RB"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-s);--radius:var(--g-radius-none)"
      >
      <div
        class="text-g-bg-3 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3)"
      >
      <p>Join us to get information for your personal workout &amp; try out a free class</p>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pl:auto;--pb:auto;--pr:150px;--pl-tablet:0px;--pr-tablet:0px;--radius:var(--g-radius-none)" class="gpjN1xf33D">
      
    
    <gp-form 
      id="gpjN1xf33D"
      style=""
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gpjN1xf33D"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-gpjN1xf33D' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gpjN1xf33D"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gpjN1xf33D"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
    <div
      
      class="gW-nnb1ePC"
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
    >
      <input
        type="text"
        class="gp-form-item gW-nnb1ePC g-paragraph-1 text-g-text-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Name"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      class="gpXyLkl87h"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item g-paragraph-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      class="gCOHb2-UO3"
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
    >
      <input
        type="text"
        class="gp-form-item gCOHb2-UO3 g-paragraph-1 text-g-text-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Phone Number"
        {% if false %}
        required
        {% endif %}
        name="contact[phone]"
        value=""
      ></input>
    </div>
  
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <button
      type="submit" data-id="glZTPWeKmW" aria-label="TRY OUT NOW"
      data-state="idle"
      class="glZTPWeKmW relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#AE0000;--bg:#CF0000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:14px;--pb:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#CF0000;--hvr-bc:#AE0000"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        TRY OUT NOW
      </span>
    </button>
  </div>
  
    <div
      
        class="g6_RJIIxJa"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-m);--radius:var(--g-radius-none)"
      >
      <div
        class="text-g-bg-3 g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3)"
      >
      <p>Today only, hurry up!</p>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gjvFKBv3g2">
      
    <gp-countdown-timer
     class="block"
     gp-data='{"behaviour":"evergreen","dateStandard":1682134207528,"dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1681880244821,"hours":3,"mins":0,"startTime":1681529407528},"weekLabel":"Weeks"}'
     style="--ta:center"
     >
      <div id="section-countdown" class="inline-flex hidden">
           
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--bg:transparent"
    class="text-center">
    
    <div
      id="day"
        class=""
        style="--mb:auto;--c:#CF0000"
      >
      <div
        class="gp-countdown-number"
        style="--size:28px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:28px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:600;--size-mobile:24px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:600"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:#B4B4B4"
      >
      <div
        class=""
        style="--size:13px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:13px;--size-mobile:12px"
      >
      DAYS
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--bg:transparent"
    class="text-center">
    
    <div
      id="hour"
        class=""
        style="--mb:auto;--c:#CF0000"
      >
      <div
        class="gp-countdown-number"
        style="--size:28px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:28px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:600;--size-mobile:24px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:600"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:#B4B4B4"
      >
      <div
        class=""
        style="--size:13px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:13px;--size-mobile:12px"
      >
      HRS
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--bg:transparent"
    class="text-center">
    
    <div
      id="minute"
        class=""
        style="--mb:auto;--c:#CF0000"
      >
      <div
        class="gp-countdown-number"
        style="--size:28px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:28px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:600;--size-mobile:24px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:600"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:#B4B4B4"
      >
      <div
        class=""
        style="--size:13px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:13px;--size-mobile:12px"
      >
      MINS
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--bg:transparent"
    class="text-center">
    
    <div
      id="second"
        class=""
        style="--mb:auto;--c:#CF0000"
      >
      <div
        class="gp-countdown-number"
        style="--size:28px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:28px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:600;--size-mobile:24px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:600"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:#B4B4B4"
      >
      <div
        class=""
        style="--size:13px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:13px;--size-mobile:12px"
      >
      SECS
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
      {% endform %}
    </gp-form>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggLlXSlBaX relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gjvYJPdQoo",
    "tag": "section",
    "class": "gps-465322962203968060 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465322962203968060)"
      }
    ],
    "blocks": []
  }
{% endschema %}
