
  
  <style>
    .gps-453760656672293790 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-453760656672293790 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-453760656672293790 .g-s-medium{padding:8px 24px}.gps-453760656672293790 .relative{position:relative}.gps-453760656672293790 .mx-auto{margin-left:auto;margin-right:auto}.gps-453760656672293790 .mb-0{margin-bottom:0}.gps-453760656672293790 .block{display:block}.gps-453760656672293790 .flex{display:flex}.gps-453760656672293790 .inline-flex{display:inline-flex}.gps-453760656672293790 .grid{display:grid}.gps-453760656672293790 .hidden{display:none}.gps-453760656672293790 .max-w-full{max-width:100%}.gps-453760656672293790 .flex-col{flex-direction:column}.gps-453760656672293790 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-453760656672293790 .text-center{text-align:center}.gps-453760656672293790 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-453760656672293790 .duration-200{transition-duration:.2s}.gps-453760656672293790 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g2KLGBABG_"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2KLGBABG_ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gvjpOn9S1q relative flex flex-col"
    >
      
      
      
    <div
      id="gIArn34jgz"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIArn34jgz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gSUiIyozDb relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxs6YIPjmU relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="gU5T3Xp3Ip">
      
    <gp-countdown-timer
     class="block"
     gp-data='{"behaviour":"standard","dateStandard":1680593351236,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1679999351236,"startTime":1679988551236},"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"}}'
     style="--ta:left"
     >
      <div id="section-countdown" class="inline-flex hidden">
           
          
    <div
        style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:8px;--bg:var(--g-c-bg-2, bg-2)"
    class="bg-g-bg-2 text-center g-s-medium">
    
    <div
      id="day"
        class=""
        style="--mb:16px;--c:var(--g-c-text-2, text-2)"
      >
      <div
        class="gp-countdown-number g-heading-2"
        style=""
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Days
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:8px;--bg:var(--g-c-bg-2, bg-2)"
    class="bg-g-bg-2 text-center g-s-medium">
    
    <div
      id="hour"
        class=""
        style="--mb:16px;--c:var(--g-c-text-2, text-2)"
      >
      <div
        class="gp-countdown-number g-heading-2"
        style=""
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Hours
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:8px;--bg:var(--g-c-bg-2, bg-2)"
    class="bg-g-bg-2 text-center g-s-medium">
    
    <div
      id="minute"
        class=""
        style="--mb:16px;--c:var(--g-c-text-2, text-2)"
      >
      <div
        class="gp-countdown-number g-heading-2"
        style=""
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Minutes
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:8px;--bg:var(--g-c-bg-2, bg-2)"
    class="bg-g-bg-2 text-center g-s-medium">
    
    <div
      id="second"
        class=""
        style="--mb:16px;--c:var(--g-c-text-2, text-2)"
      >
      <div
        class="gp-countdown-number g-heading-2"
        style=""
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div
        class="g-paragraph-1"
        style=""
      >
      Seconds
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gsU4jUnqDx",
    "tag": "section",
    "class": "gps-453760656672293790 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=453760656672293790)"
      }
    ],
    "blocks": []
  }
{% endschema %}
