
  
  <style>
    .gps-454167498086941498 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-454167498086941498 .g-s-medium{padding:8px 24px}.gps-454167498086941498 .invisible{visibility:hidden}.gps-454167498086941498 .absolute{position:absolute}.gps-454167498086941498 .relative{position:relative}.gps-454167498086941498 .mx-auto{margin-left:auto;margin-right:auto}.gps-454167498086941498 .mb-0{margin-bottom:0}.gps-454167498086941498 .flex{display:flex}.gps-454167498086941498 .inline-flex{display:inline-flex}.gps-454167498086941498 .grid{display:grid}.gps-454167498086941498 .h-5{height:1.25rem}.gps-454167498086941498 .h-6{height:1.5rem}.gps-454167498086941498 .w-5{width:1.25rem}.gps-454167498086941498 .w-6{width:1.5rem}.gps-454167498086941498 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-454167498086941498 .animate-spin{animation:spin 1s linear infinite}.gps-454167498086941498 .flex-col{flex-direction:column}.gps-454167498086941498 .items-center{align-items:center}.gps-454167498086941498 .justify-center{justify-content:center}.gps-454167498086941498 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-454167498086941498 .bg-g-brand{background-color:var(--g-c-brand)}.gps-454167498086941498 .text-g-text-1{color:var(--g-c-text-1)}.gps-454167498086941498 .text-g-text-3{color:var(--g-c-text-3)}.gps-454167498086941498 .no-underline{text-decoration-line:none}.gps-454167498086941498 .opacity-25{opacity:.25}.gps-454167498086941498 .opacity-75{opacity:.75}.gps-454167498086941498 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454167498086941498 .duration-200{transition-duration:.2s}.gps-454167498086941498 .duration-300{transition-duration:.3s}.gps-454167498086941498 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454167498086941498 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-454167498086941498 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-454167498086941498 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-454167498086941498 .disabled\:opacity-30:disabled{opacity:.3}.gps-454167498086941498 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-454167498086941498 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="go69-a9O7w"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go69-a9O7w mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gfHi_dNl4M relative flex flex-col"
    >
      <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gsEaqPIeAM" aria-label="Button"
      data-state="idle"
      class="gsEaqPIeAM relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
      
      
    <div
      id="gVFnxTVwMy"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVFnxTVwMy mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gZ51T9BH7l relative flex flex-col"
    >
      <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gKAzZQeKDp" aria-label="Button"
      data-state="idle"
      class="gKAzZQeKDp relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gMThX3Z_Bo relative flex flex-col"
    >
      <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gzfNgHSNgE" aria-label="Button"
      data-state="idle"
      class="gzfNgHSNgE relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    <div
      
        class="g1rxcfL6E8"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:0;--c:var(--g-c-text-1, text-1)"
      >
      <p>In deserunt eu consequat reprehenderit minim cillum.</p>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gn23da-Chj"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn23da-Chj mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gGyVEefjQR relative flex flex-col"
    >
      <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gn5wv1XWjo" aria-label="Button"
      data-state="idle"
      class="gn5wv1XWjo relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gevcyjMf04 relative flex flex-col"
    >
      <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gVaIaxSXUu" aria-label="Button"
      data-state="idle"
      class="gVaIaxSXUu relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gve8TMm84S",
    "tag": "section",
    "class": "gps-454167498086941498 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=454167498086941498)"
      }
    ],
    "blocks": []
  }
{% endschema %}
