
  
  <style>
    .gps-465322955845403196 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-465322955845403196 .absolute{position:absolute}.gps-465322955845403196 .relative{position:relative}.gps-465322955845403196 .inset-0{inset:0}.gps-465322955845403196 .mx-auto{margin-left:auto;margin-right:auto}.gps-465322955845403196 .mb-0{margin-bottom:0}.gps-465322955845403196 .inline-block{display:inline-block}.gps-465322955845403196 .flex{display:flex}.gps-465322955845403196 .grid{display:grid}.gps-465322955845403196 .w-full{width:100%}.gps-465322955845403196 .max-w-full{max-width:100%}.gps-465322955845403196 .flex-col{flex-direction:column}.gps-465322955845403196 .overflow-hidden{overflow:hidden}.gps-465322955845403196 .align-middle{vertical-align:middle}.gps-465322955845403196 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322955845403196 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322955845403196 .duration-200{transition-duration:.2s}.gps-465322955845403196 .duration-300{transition-duration:.3s}.gps-465322955845403196 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-465322955845403196 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-465322955845403196 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzoyNUTP-5"
        style="--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzoyNUTP-5 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7VCiv6Z70 relative flex flex-col"
    >
      
      
      
    <div
      id="gjlIcwiSsW"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjlIcwiSsW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gs2shSBruI relative flex flex-col"
    >
      
      
      
    <div
      id="gkuWUXbojn"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:600px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkuWUXbojn mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZ4aOK1JqN relative flex flex-col"
    >
      <div style="--mb:var(--g-s-xs);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gD4OwyreDc">
      
    <div
      
        class="gD4OwyreDc"
        style="--tt:default"
      >
      <h2
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px"
      >
      <p>Best Seller</p>
      </h2>
    </div>
      </div>
    <div
      
        class="g6Il0zwpt_"
        style="--tt:default;--mb:40px;--mb-mobile:35px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px"
      >
      <p>&nbsp;Don't worry when you buy a whatever you need, we've got it, we've got a service for you.</p>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="g4a2f9fQKu"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4a2f9fQKu mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHkO6MQzSj relative flex flex-col"
    >
      
      
      
    <div
      id="g10CAYWhBM"
        style="--mb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g10CAYWhBM mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gUXPojAbpE relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gX5bOs3quy"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:72px;--w-tablet:72px;--w-mobile:72px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/" data-srcset="https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 768w,https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 1024w,https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:72px;--w-mobile:72px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gBciKocb8C relative flex flex-col"
    >
      
    <div
      
        class="ggSr1R96mB"
        style="--tt:default;--mb:var(--g-s-s);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>Freeship</p>
      </div>
    </div>
    <div
      
        class="gQrAzAMaYY"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Free &nbsp;worldwide shipping on all area order above $100.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtAwkxsoyt relative flex flex-col"
    >
      
      
      
    <div
      id="gWu_pcMuRW"
        style="--mb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWu_pcMuRW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gopXzfRnO_ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gA8T5Z1wAt"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:72px;--w-tablet:72px;--w-mobile:72px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/" data-srcset="https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 768w,https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 1024w,https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:72px;--w-mobile:72px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="ghTnETl9Vv relative flex flex-col"
    >
      
    <div
      
        class="g2c_XO9JnB"
        style="--tt:default;--mb:var(--g-s-s);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>24/7 Friendly Support</p>
      </div>
    </div>
    <div
      
        class="g8z2PqcYai"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Our support team always ready for you to 7 days a week.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gGefLk-g0y relative flex flex-col"
    >
      
      
      
    <div
      id="glUahChgaQ"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glUahChgaQ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gjW2QhqRcP relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gg5tluZlcP"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:72px;--w-tablet:72px;--w-mobile:72px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/" data-srcset="https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 768w,https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 1024w,https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:72px;--w-mobile:72px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gcLuuqaiDA relative flex flex-col"
    >
      
    <div
      
        class="g27nWoQNnS"
        style="--tt:default;--mb:var(--g-s-s);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>7 Days Easy Exchange</p>
      </div>
    </div>
    <div
      
        class="g1hxcO9jRa"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Product Exchange is Eligible Within 7 Days of Delivery.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gg8naArsLd",
    "tag": "section",
    "class": "gps-465322955845403196 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465322955845403196)"
      }
    ],
    "blocks": []
  }
{% endschema %}
