
  
  
  <style>
    .gps-485372819467666254 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-485372819467666254 .relative{position:relative}.gps-485372819467666254 .mx-auto{margin-left:auto;margin-right:auto}.gps-485372819467666254 .mb-0{margin-bottom:0}.gps-485372819467666254 .inline-block{display:inline-block}.gps-485372819467666254 .flex{display:flex}.gps-485372819467666254 .grid{display:grid}.gps-485372819467666254 .h-full{height:100%}.gps-485372819467666254 .w-full{width:100%}.gps-485372819467666254 .max-w-full{max-width:100%}.gps-485372819467666254 .flex-col{flex-direction:column}.gps-485372819467666254 .gap-y-0{row-gap:0}.gps-485372819467666254 .overflow-hidden{overflow:hidden}.gps-485372819467666254 .align-middle{vertical-align:middle}.gps-485372819467666254 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485372819467666254 .duration-200{transition-duration:.2s}.gps-485372819467666254 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485372819467666254 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-485372819467666254 .\[\&_p\]\:inline p{display:inline}.gps-485372819467666254 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485372819467666254 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gxKdMEGfYL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxKdMEGfYL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdg3IOK1tS relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJnd_aRU9i "
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--radius:var(--g-radius-none);--op:100%"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        Your heading text goes here
        </h2>
      </div>
    </div><div
    
    role="presentation"
    class="group/image gkbz4zmogx"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle"
      style="--shadow:none;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;borderRadius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-srcset="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/ 768w,https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/ 1024w,https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
            </section>
          
    
  
<style>
  #gempages-support-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    opacity: 0.8;
    z-index: 99;
    padding: 21px 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex !important;
    align-items: center;
  }
  #gempages-support-banner svg{
    margin-right: 12px;
    min-width: 28px;
  }
  #gempages-support-banner a{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  @media(max-width: 787px){
    #gempages-support-banner{
      padding: 8px 16px;
    }
  }
</style>
<div id="gempages-support-banner">
  <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7462 0.0075913L0.150737 8.5098C0.0359955 8.53804 -0.0213755 8.66515 0.00731004 8.77814L2.13004 15.6703C2.15872 15.7833 2.28781 15.8539 2.38821 15.8115L22.6258 9.56904C23.5868 9.27245 24.4043 8.60866 24.8776 7.70477C26.1398 5.31794 27.1725 2.84637 27.9757 0.275933C28.0617 0.106454 27.9039 -0.0347785 27.7462 0.0075913Z" fill="#FFBB1C"></path><path d="M21.1207 11.9276L3.98112 17.2097C3.89506 17.2379 3.82335 17.3368 3.86638 17.4357L5.67356 23.2545C5.70225 23.3392 5.80265 23.4098 5.90305 23.3816L16.8322 20.0061C17.6498 19.7519 18.3382 19.1869 18.7398 18.4384C19.8012 16.4329 20.6904 14.3285 21.3502 12.1536C21.3932 12.0265 21.2641 11.8852 21.1207 11.9276Z" fill="#E8486C"></path><path d="M14.6079 22.5764L7.46525 24.7797C7.37919 24.7938 7.35051 24.8927 7.36485 24.9633L8.88518 29.8923C8.89952 29.977 8.99992 30.0194 9.07164 29.9912L10.9649 29.4121C11.6533 29.2003 12.227 28.7201 12.5713 28.0845C13.4749 26.3897 14.2063 24.6102 14.78 22.7742C14.8374 22.6471 14.7227 22.5341 14.6079 22.5764Z" fill="#476DF2"></path></svg>
  <span>This page is created by GemPages Support. <a href="https://help.gempages.net/articles/support-options#why-my-page-has-a-powered-by-gempages-label" target="_blank">Learn more</a></span>
</div>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-485372819467666254 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=485372819467666254&template_id=481460759763616265)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
