
  
  <style>
    .gps-456675578917945860 .group-hover\/hero\:scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-456675578917945860 .absolute{position:absolute}.gps-456675578917945860 .relative{position:relative}.gps-456675578917945860 .inset-0{inset:0}.gps-456675578917945860 .mx-auto{margin-left:auto;margin-right:auto}.gps-456675578917945860 .mb-0{margin-bottom:0}.gps-456675578917945860 .flex{display:flex}.gps-456675578917945860 .grid{display:grid}.gps-456675578917945860 .max-w-full{max-width:100%}.gps-456675578917945860 .flex-col{flex-direction:column}.gps-456675578917945860 .overflow-hidden{overflow:hidden}.gps-456675578917945860 .bg-g-brand{background-color:var(--g-c-brand)}.gps-456675578917945860 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-456675578917945860 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-456675578917945860 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-456675578917945860 .duration-200{transition-duration:.2s}.gps-456675578917945860 .duration-300{transition-duration:.3s}.gps-456675578917945860 .duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-456675578917945860 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-456675578917945860 .group\/hero:hover .group-hover\/hero\:scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-456675578917945860 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-456675578917945860 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gfK_YQmpOh"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfK_YQmpOh mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gF5rQeP4T_ relative flex flex-col"
    >
      
    <div>
      <link rel="preload" href="https://ucarecdn.com/e5dc1232-2b56-4c52-ace6-429dffbaba0f/-/format/auto/" as="image" />
      
      
      <div
        
        class="gDCfnAgwrX group/hero relative flex flex-col overflow-hidden transition-colors duration-200 ease-in-out"
        style="--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--d:flex;--d-tablet:flex;--d-mobile:flex;--h:500px"
      >
        <div
          aria-label="Background Image"
          role="banner"
          class="absolute inset-0 transition-transform  duration-[var(--duration)] group-hover/hero:scale-[var(--scale)]"
          style="--bgc:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/e5dc1232-2b56-4c52-ace6-429dffbaba0f/-/format/auto/);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--duration:0.5s;--scale:1.1"
        > </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))] bg-g-brand"
          style="--bgc:var(--g-c-brand, brand);--op:20%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gng8TtEbv_ relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
    </div>
  
    
      </div>
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gUfVKBQ6E1",
    "tag": "section",
    "class": "gps-456675578917945860 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=456675578917945860)"
      }
    ],
    "blocks": []
  }
{% endschema %}
