
  
  <style>
    .gps-475929331059720975 .-rotate-90,.gps-475929331059720975 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-475929331059720975 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-475929331059720975 .invisible{visibility:hidden}.gps-475929331059720975 .absolute{position:absolute}.gps-475929331059720975 .relative{position:relative}.gps-475929331059720975 .mx-auto{margin-left:auto;margin-right:auto}.gps-475929331059720975 .mb-0{margin-bottom:0}.gps-475929331059720975 .mr-\[12px\]{margin-right:12px}.gps-475929331059720975 .flex{display:flex}.gps-475929331059720975 .inline-flex{display:inline-flex}.gps-475929331059720975 .grid{display:grid}.gps-475929331059720975 .hidden{display:none}.gps-475929331059720975 .h-5{height:20px}.gps-475929331059720975 .w-5{width:20px}.gps-475929331059720975 .w-full{width:100%}.gps-475929331059720975 .max-w-full{max-width:100%}.gps-475929331059720975 .shrink-0{flex-shrink:0}.gps-475929331059720975 .-rotate-90{--tw-rotate:-90deg}.gps-475929331059720975 .-rotate-90,.gps-475929331059720975 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-475929331059720975 .rotate-90{--tw-rotate:90deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-475929331059720975 .animate-spin{animation:spin 1s linear infinite}.gps-475929331059720975 .cursor-pointer{cursor:pointer}.gps-475929331059720975 .flex-row-reverse{flex-direction:row-reverse}.gps-475929331059720975 .flex-col{flex-direction:column}.gps-475929331059720975 .items-center{align-items:center}.gps-475929331059720975 .justify-center{justify-content:center}.gps-475929331059720975 .overflow-hidden{overflow:hidden}.gps-475929331059720975 .overflow-clip{overflow:clip}.gps-475929331059720975 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-475929331059720975 .rounded-none{border-radius:0}.gps-475929331059720975 .border{border-width:1px}.gps-475929331059720975 .text-g-text-3{color:var(--g-c-text-3)}.gps-475929331059720975 .no-underline{text-decoration-line:none}.gps-475929331059720975 .opacity-25{opacity:.25}.gps-475929331059720975 .opacity-75{opacity:.75}.gps-475929331059720975 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331059720975 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331059720975 .duration-200{transition-duration:.2s}.gps-475929331059720975 .duration-300{transition-duration:.3s}.gps-475929331059720975 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331059720975 .disabled\:btn-disabled:disabled{cursor:default}.gps-475929331059720975 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-475929331059720975 .disabled\:opacity-30:disabled{opacity:.3}.gps-475929331059720975 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-475929331059720975 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-475929331059720975 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gQCw3n8WdS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQCw3n8WdS mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8t9IktQWK relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xs)" class="gusdwfsCnh ">
      
    <div
      parentTag="Col"
        class="gusdwfsCnh "
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;word-break:break-word"
      >
      <p>If you have any questions. We will answer them for you</p>
      </h2>
    </div>
    true
      </div>
    <div
      parentTag="Col"
        class="gY2CIhYxWN "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Seen frequently asked question or chat with us now.</p>
      </div>
    </div>
    true<div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:49px;--ta:left"
    class=""
  >
    <style>
    .gVpzYOo2ca.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
    }

    .gVpzYOo2ca:hover::before {
      
      
    }
  </style>
    <a
      href="#" target="_blank" data-id="gVpzYOo2ca" aria-label="Chat now"
      data-state="idle"
      class="gVpzYOo2ca gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-text-3 g-paragraph-1"
      style="--hvr-bg:#3632C7;--bg:#5956E9;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      > <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5 8C5 8.26522 4.89464 8.51957 4.70711 8.70711C4.51957 8.89464 4.26522 9 4 9C3.73478 9 3.48043 8.89464 3.29289 8.70711C3.10536 8.51957 3 8.26522 3 8C3 7.73478 3.10536 7.48043 3.29289 7.29289C3.48043 7.10536 3.73478 7 4 7C4.26522 7 4.51957 7.10536 4.70711 7.29289C4.89464 7.48043 5 7.73478 5 8ZM9 8C9 8.26522 8.89464 8.51957 8.70711 8.70711C8.51957 8.89464 8.26522 9 8 9C7.73478 9 7.48043 8.89464 7.29289 8.70711C7.10536 8.51957 7 8.26522 7 8C7 7.73478 7.10536 7.48043 7.29289 7.29289C7.48043 7.10536 7.73478 7 8 7C8.26522 7 8.51957 7.10536 8.70711 7.29289C8.89464 7.48043 9 7.73478 9 8ZM12 9C12.2652 9 12.5196 8.89464 12.7071 8.70711C12.8946 8.51957 13 8.26522 13 8C13 7.73478 12.8946 7.48043 12.7071 7.29289C12.5196 7.10536 12.2652 7 12 7C11.7348 7 11.4804 7.10536 11.2929 7.29289C11.1054 7.48043 11 7.73478 11 8C11 8.26522 11.1054 8.51957 11.2929 8.70711C11.4804 8.89464 11.7348 9 12 9Z" fill="white"/> <path d="M2.165 15.803L2.185 15.799C4.015 15.436 5.133 14.957 5.653 14.694C6.41859 14.8982 7.20765 15.0011 8 15C12.418 15 16 11.866 16 8C16 4.134 12.418 1 8 1C3.582 1 0 4.134 0 8C0 9.76 0.743 11.37 1.97 12.6C1.88416 13.3901 1.70835 14.1678 1.446 14.918L1.443 14.929C1.36844 15.1439 1.28707 15.3563 1.199 15.566C1.12 15.752 1.273 15.96 1.472 15.928C1.70366 15.8901 1.93469 15.8484 2.165 15.803ZM2.965 12.695C2.97901 12.5486 2.96055 12.4009 2.91094 12.2625C2.86133 12.124 2.7818 11.9982 2.678 11.894C1.618 10.83 1 9.468 1 8C1 4.808 4.004 2 8 2C11.996 2 15 4.808 15 8C15 11.193 11.996 14 8 14C7.2951 14.001 6.59311 13.9096 5.912 13.728C5.67398 13.6642 5.42079 13.6906 5.201 13.802C4.814 13.998 3.961 14.372 2.567 14.695C2.76148 14.0421 2.89472 13.3726 2.965 12.695Z" fill="white"/> </svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Chat now
      </span>
    </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6gHn8dV83 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-32px;--mt-mobile:auto;--mb-mobile:var(--g-s-l)" class="gRuGNo3qKL ">
      
    <gp-accordion
      class="flex w-full flex-col "
      style="--rg:none"
      gp-data='{"setting":{"expanded":false,"expandItem":false,"activeKey":1,"isIconPlus":true,"iconPosition":"right"},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"#5956E9"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","color":"#E0E0E0","isCustom":true,"width":"0px 0px 1px 0px"}},"itemBorder":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false}},"itemRounded":{"normal":{"radiusType":"none"}},"width":{"desktop":"1170px"},"fullWidth":{"desktop":true},"textColor":{"normal":"#424242"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"14px"}}}},"uid":"gRuGNo3qKL"}'
    >
    <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="overflow-clip gRuGNo3qKL gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="gRuGNo3qKL flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#424242;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="0"
            class="gRuGNo3qKL gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden"
        style="word-break:break-word"
      >
      What is the material of the backpack?
      </span>
    </div>
    <style>
        .gp-text p {
          margin-bottom: 1em;
        }
      </style>
      </div>
      <div
        uid="gpKBzkdIG5"
        data-index="0"
        class="gRuGNo3qKL gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gkkVowCgyN relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gy47RA4jsd "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>All of our backpacks are made of sturdy parachute fabric and are water resistant in the rain.</p>
      </div>
    </div>
    true
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="overflow-clip gRuGNo3qKL gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="gRuGNo3qKL flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#424242;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="1"
            class="gRuGNo3qKL gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden"
        style="word-break:break-word"
      >
      What if I am not satisfied with the product
      </span>
    </div>
    <style>
        .gp-text p {
          margin-bottom: 1em;
        }
      </style>
      </div>
      <div
        uid="gf_vBkvkI_"
        data-index="1"
        class="gRuGNo3qKL gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gneX5ji1gp relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIQMTMmRp_ "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>You can completely return the goods and receive the money in 7 days if you make sure the goods are intact with the tags</p>
      </div>
    </div>
    true
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="overflow-clip gRuGNo3qKL gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="gRuGNo3qKL flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#424242;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="2"
            class="gRuGNo3qKL gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden"
        style="word-break:break-word"
      >
      Do you ship internationally?
      </span>
    </div>
    <style>
        .gp-text p {
          margin-bottom: 1em;
        }
      </style>
      </div>
      <div
        uid="g70mppzxnu"
        data-index="2"
        class="gRuGNo3qKL gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gw4iiKmMCt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnl6S7S7nU "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>We deliver anywhere in the world, as long as you can reach where you are</p>
      </div>
    </div>
    true
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="3"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="overflow-clip gRuGNo3qKL gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="3"
        class="gRuGNo3qKL flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#424242;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="3"
            class="gRuGNo3qKL gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden"
        style="word-break:break-word"
      >
      How to pay for my purchasie?
      </span>
    </div>
    <style>
        .gp-text p {
          margin-bottom: 1em;
        }
      </style>
      </div>
      <div
        uid="g79O41453a"
        data-index="3"
        class="gRuGNo3qKL gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gy7ZWbOclM relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcPYD3kdWv "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>you can pay via the visa or paypal anywhere in the world</p>
      </div>
    </div>
    true
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="4"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="overflow-clip gRuGNo3qKL gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="4"
        class="gRuGNo3qKL flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#424242;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#5956E9"
            data-index="4"
            class="gRuGNo3qKL gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <span
        data-gp-text
        class="overflow-hidden"
        style="word-break:break-word"
      >
      What payment methods do you accept?
      </span>
    </div>
    <style>
        .gp-text p {
          margin-bottom: 1em;
        }
      </style>
      </div>
      <div
        uid="gHSbQigBqD"
        data-index="4"
        class="gRuGNo3qKL gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gqS8jXfF-f relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gfdagStQEl "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>We accept payment via visa card, paypal and cash</p>
      </div>
    </div>
    true
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section gw5VdHVdMS",
    "tag": "section",
    "class": "gps-475929331059720975 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=475929331059720975)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
