
  
  <style>
    .gps-464321213376824057 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464321213376824057 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464321213376824057 .absolute{position:absolute}.gps-464321213376824057 .relative{position:relative}.gps-464321213376824057 .inset-0{inset:0}.gps-464321213376824057 .mx-auto{margin-left:auto;margin-right:auto}.gps-464321213376824057 .mb-0{margin-bottom:0}.gps-464321213376824057 .inline-block{display:inline-block}.gps-464321213376824057 .flex{display:flex}.gps-464321213376824057 .grid{display:grid}.gps-464321213376824057 .w-full{width:100%}.gps-464321213376824057 .max-w-full{max-width:100%}.gps-464321213376824057 .flex-col{flex-direction:column}.gps-464321213376824057 .overflow-hidden{overflow:hidden}.gps-464321213376824057 .align-middle{vertical-align:middle}.gps-464321213376824057 .text-g-text-1{color:var(--g-c-text-1)}.gps-464321213376824057 .text-g-text-2{color:var(--g-c-text-2)}.gps-464321213376824057 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464321213376824057 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464321213376824057 .duration-200{transition-duration:.2s}.gps-464321213376824057 .duration-300{transition-duration:.3s}.gps-464321213376824057 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-464321213376824057 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-464321213376824057 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gsqQfUBxyo"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsqQfUBxyo mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ8GNjXBY8 relative flex flex-col"
    >
      
      
      
    <div
      id="gjobDmMCnc"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjobDmMCnc mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guXfO0M5-Z relative flex flex-col"
    >
      
      
      
    <div
      id="gAcMXVsPKF"
        style="--mt:0px;--ml:auto;--mb:92px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:center;--gtc:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAcMXVsPKF mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIPMKdgvS9 relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="ggTi64oiqI">
      
    <div
      
        class="ggTi64oiqI"
        style="--tt:default"
      >
      <h2
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:center;--c:var(--g-c-text-2, text-2)"
      >
      SPORTS HUB
      </h2>
    </div>
      </div>
    <div
      
        class="gK3C5ubcBd"
        style="--tt:default;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Enter your email address for new arrivals, discounts.
      </div>
    </div>
    <div
      
        class="g4d_6ppfVl"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      promotions, and more!
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gxjLsDyELX"
        style="--mt:0px;--ml:auto;--mb:88px;--mr:auto;--pt:0px;--pl:84px;--pb:0px;--pr:128px;--cg:30px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxjLsDyELX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyvUl3xbv8 relative flex flex-col"
    >
      
      
      
    <div
      id="g41fAVe4u2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g41fAVe4u2 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxlePJyIIu relative flex flex-col"
    >
      
    <div
      
        class="gL96i7Ss4u"
        style="--tt:default;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      About
      </div>
    </div>
    <div
      
        class="glZslArzdo"
        style="--tt:default;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Events
      </div>
    </div>
    <div
      
        class="gvxxDCD7C8"
        style="--tt:default;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Rentals
      </div>
    </div>
    <div
      
        class="gPuf_vX5K3"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Features
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5sjrYa5ar relative flex flex-col"
    >
      
      
      
    <div
      id="g9lJhnT7jv"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:52px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9lJhnT7jv mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUDwF8eapo relative flex flex-col"
    >
      
    <div
      
        class="gXchj-ZrZU"
        style="--tt:default;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Shop
      </div>
    </div>
    <div
      
        class="gPUpY8Jo1i"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Womens
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJMWFp_m5D relative flex flex-col"
    >
      
      
      
    <div
      id="gyPCBbJJYi"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:52px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyPCBbJJYi mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gePHh2onD7 relative flex flex-col"
    >
      
    <div
      
        class="gYUd2o7tvT"
        style="--tt:default;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Customer Service Returns & Exchanges FAQs
      </div>
    </div>
    <div
      
        class="gf3EeZev_G"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Contact Us
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gvhOVACy-L relative flex flex-col"
    >
      
    <div
      
        class="gyk4RSj8Uy"
        style="--tt:default;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Information
      </div>
    </div>
    <div
      
        class="gzd82_JDaM"
        style="--tt:default;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      My account
      </div>
    </div>
    <div
      
        class="gqW4HvmLFQ"
        style="--tt:default;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Personalisation
      </div>
    </div>
    <div
      
        class="gl8S20OTuu"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Find your local store
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6tdDT5DIa relative flex flex-col"
    >
      
    <div
      
        class="gBOPLcPcPk"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:112px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      Follow us on social
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gubcvi1e9G"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gubcvi1e9G mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk2BoqSPm_ relative flex flex-col"
    >
      
    <div
      
        class="gnprC4K1PV"
        style="--tt:default;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      © 2022 SPORT HUD.
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdg3wq8z_H relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden g8MMfY_Xpe"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:right"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://gemai-dev.s3.amazonaws.com/image2layout/atom_imagervdplvcfij.png" data-srcset="https://gemai-dev.s3.amazonaws.com/image2layout/atom_imagervdplvcfij.png 768w,https://gemai-dev.s3.amazonaws.com/image2layout/atom_imagervdplvcfij.png 1024w,https://gemai-dev.s3.amazonaws.com/image2layout/atom_imagervdplvcfij.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Alt Image" priority
    sizes="100vw"
    style="--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gygT1AxGxu",
    "tag": "section",
    "class": "gps-464321213376824057 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464321213376824057)"
      }
    ],
    "blocks": []
  }
{% endschema %}
