
  
  <style>
    .gps-464321213209051897 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464321213209051897 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464321213209051897 .g-s-medium{padding:8px 24px}.gps-464321213209051897 .invisible{visibility:hidden}.gps-464321213209051897 .absolute{position:absolute}.gps-464321213209051897 .relative{position:relative}.gps-464321213209051897 .mx-auto{margin-left:auto;margin-right:auto}.gps-464321213209051897 .mb-0{margin-bottom:0}.gps-464321213209051897 .flex{display:flex}.gps-464321213209051897 .inline-flex{display:inline-flex}.gps-464321213209051897 .grid{display:grid}.gps-464321213209051897 .h-5{height:20px}.gps-464321213209051897 .w-5{width:20px}.gps-464321213209051897 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-464321213209051897 .animate-spin{animation:spin 1s linear infinite}.gps-464321213209051897 .flex-col{flex-direction:column}.gps-464321213209051897 .items-center{align-items:center}.gps-464321213209051897 .justify-center{justify-content:center}.gps-464321213209051897 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-464321213209051897 .bg-g-brand{background-color:var(--g-c-brand)}.gps-464321213209051897 .text-g-text-2{color:var(--g-c-text-2)}.gps-464321213209051897 .text-g-text-3{color:var(--g-c-text-3)}.gps-464321213209051897 .no-underline{text-decoration-line:none}.gps-464321213209051897 .opacity-25{opacity:.25}.gps-464321213209051897 .opacity-75{opacity:.75}.gps-464321213209051897 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464321213209051897 .duration-200{transition-duration:.2s}.gps-464321213209051897 .duration-300{transition-duration:.3s}.gps-464321213209051897 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464321213209051897 .disabled\:btn-disabled:disabled{cursor:default}.gps-464321213209051897 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-464321213209051897 .disabled\:opacity-30:disabled{opacity:.3}.gps-464321213209051897 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-464321213209051897 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gW_tMDU9nk"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgi:url(https://d3dfaj4bukarbm.cloudfront.net/production/placeholders/collection-2.svg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW_tMDU9nk mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtcLuI3-27 relative flex flex-col"
    >
      
      
      
    <div
      id="gNbF4VER3O"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:1912px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNbF4VER3O mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVqTQVtQRg relative flex flex-col"
    >
      
      
      
    <div
      id="goizvOKUZ5"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:184px;--pl:0px;--pb:188px;--pr:0px;--cg:30px;--pc:center;--gtc:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goizvOKUZ5 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6NcOl67tJ relative flex flex-col"
    >
      
      
      
    <div
      id="gRInmHUw71"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:16px;--pc:center;--gtc:minmax(0, 5fr) minmax(0, 4fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRInmHUw71 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZUs6kxxS7 relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfVYtL-zrq relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYu3upHmRZ relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="gOGxAKIFsl">
      
    <div
      
        class="gOGxAKIFsl"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      OFF
      </h2>
    </div>
      </div>
    </div>
    </div>
  
    <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <button
      type="button" data-id="gvMTO2OfMv" aria-label="Shop Now"
      data-state="idle"
      class="gvMTO2OfMv relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Shop Now
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section g_-psY4CpN",
    "tag": "section",
    "class": "gps-464321213209051897 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464321213209051897)"
      }
    ],
    "blocks": []
  }
{% endschema %}
