
  
  <style>
    .gps-454896383179097046 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-454896383179097046 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-454896383179097046 .g-s-medium{padding:8px 24px}.gps-454896383179097046 .invisible{visibility:hidden}.gps-454896383179097046 .absolute{position:absolute}.gps-454896383179097046 .relative{position:relative}.gps-454896383179097046 .inset-0{inset:0}.gps-454896383179097046 .mx-auto{margin-left:auto;margin-right:auto}.gps-454896383179097046 .mb-0{margin-bottom:0}.gps-454896383179097046 .inline-block{display:inline-block}.gps-454896383179097046 .flex{display:flex}.gps-454896383179097046 .inline-flex{display:inline-flex}.gps-454896383179097046 .grid{display:grid}.gps-454896383179097046 .h-5{height:20px}.gps-454896383179097046 .w-5{width:20px}.gps-454896383179097046 .w-full{width:100%}.gps-454896383179097046 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-454896383179097046 .animate-spin{animation:spin 1s linear infinite}.gps-454896383179097046 .flex-col{flex-direction:column}.gps-454896383179097046 .items-center{align-items:center}.gps-454896383179097046 .justify-center{justify-content:center}.gps-454896383179097046 .overflow-hidden{overflow:hidden}.gps-454896383179097046 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-454896383179097046 .bg-g-brand{background-color:var(--g-c-brand)}.gps-454896383179097046 .align-middle{vertical-align:middle}.gps-454896383179097046 .text-g-text-1{color:var(--g-c-text-1)}.gps-454896383179097046 .text-g-text-2{color:var(--g-c-text-2)}.gps-454896383179097046 .text-g-text-3{color:var(--g-c-text-3)}.gps-454896383179097046 .no-underline{text-decoration-line:none}.gps-454896383179097046 .opacity-25{opacity:.25}.gps-454896383179097046 .opacity-75{opacity:.75}.gps-454896383179097046 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454896383179097046 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454896383179097046 .duration-200{transition-duration:.2s}.gps-454896383179097046 .duration-300{transition-duration:.3s}.gps-454896383179097046 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454896383179097046 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-454896383179097046 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-454896383179097046 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-454896383179097046 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-454896383179097046 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-454896383179097046 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-454896383179097046 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-454896383179097046 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gQIfRDQks5"
        style="--pt:30px;--pl:var(--g-s-l);--pb:30px;--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQIfRDQks5 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gzPsdLwGGY relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--mb:10px" class="gnNnTd4LVG">
      
    <div
      
        class="gnNnTd4LVG"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    <div
      
        class="gWATvIQdrj"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1)"
      >
      In deserunt eu consequat reprehenderit minim cillum.
      </div>
    </div><div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gCdA8_GLA9" aria-label="Button"
      data-state="idle"
      class="gCdA8_GLA9 relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gz-Ik7CV5y relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gqvkchiOgf"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="{{ "447663100980626033-98f59977-2a3a-48c0-b616-9d5cd653c94b.png" | asset_url }}" data-srcset="{{ '447663100980626033-98f59977-2a3a-48c0-b616-9d5cd653c94b.png' | asset_img_url: '768x768' }} 768w, {{ '447663100980626033-98f59977-2a3a-48c0-b616-9d5cd653c94b.png' | asset_img_url: '1024x1024' }} 1024w, {{ '447663100980626033-98f59977-2a3a-48c0-b616-9d5cd653c94b.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="920" height="920" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:920/920;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Banner",
    "tag": "section",
    "class": "gps-454896383179097046 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=454896383179097046)"
      }
    ],
    "blocks": []
  }
{% endschema %}
