
  
  <style>
    .gps-475929331512640271 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-475929331512640271 .absolute{position:absolute}.gps-475929331512640271 .relative{position:relative}.gps-475929331512640271 .inset-0{inset:0}.gps-475929331512640271 .mx-auto{margin-left:auto;margin-right:auto}.gps-475929331512640271 .mb-0{margin-bottom:0}.gps-475929331512640271 .inline-block{display:inline-block}.gps-475929331512640271 .flex{display:flex}.gps-475929331512640271 .grid{display:grid}.gps-475929331512640271 .w-full{width:100%}.gps-475929331512640271 .max-w-full{max-width:100%}.gps-475929331512640271 .flex-col{flex-direction:column}.gps-475929331512640271 .overflow-hidden{overflow:hidden}.gps-475929331512640271 .align-middle{vertical-align:middle}.gps-475929331512640271 .text-g-text-1{color:var(--g-c-text-1)}.gps-475929331512640271 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331512640271 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331512640271 .duration-200{transition-duration:.2s}.gps-475929331512640271 .duration-300{transition-duration:.3s}.gps-475929331512640271 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-475929331512640271 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-475929331512640271 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-475929331512640271 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkN6APjKYh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkN6APjKYh mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giPZQsZBid relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gG0i_aHH1h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG0i_aHH1h mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge15JP4yON relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)" class="gRqLN30B2s ">
      
    <div
      parentTag="Col"
        class="gRqLN30B2s "
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;word-break:break-word"
      >
      <p>Customer Satisfaction</p>
      </h2>
    </div>
    true
      </div>
    <div
      parentTag="Col"
        class="gH2XA-5a8I "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:56px;--mb-mobile:49px"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word"
      >
      <p>How customers feel about our service?</p>
      </div>
    </div>
    true
      
      
    <div
      parentTag="Col" id="g0H42Pxoa4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0H42Pxoa4 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGwcPoMmBj relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gA1f4ncWW6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:49px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA1f4ncWW6 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFI_dmF2Tb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKxLC1WZbZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKxLC1WZbZ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg9eiAA7Oi relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7jstwPSfu "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px;word-break:break-word"
      >
      <p>925+</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gSXMGKVh0z "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Very Satisfied</p>
      </div>
    </div>
    true
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7ER7dhEfk relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gKbdOeZgTp"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/" data-srcset="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 768w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1024w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geJ0wV7H6f relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9C7F2Qx09"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9C7F2Qx09 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9Nq1QmfJa relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gb-CPTGo2t "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px;word-break:break-word"
      >
      <p>625+</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gzgW8EqUnN "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Satisfied</p>
      </div>
    </div>
    true
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpg1pdBf1H relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gYedrWlqtv"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/" data-srcset="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 768w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1024w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxusYsDPDC relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gpncR95u0K"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpncR95u0K mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glZd6AANTk relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gP8g4Imih7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP8g4Imih7 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFi-7oNgWY relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwlR6FGSK3 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px;word-break:break-word"
      >
      <p>825+</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="ghakHRiYIs "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Slightly Satisfied</p>
      </div>
    </div>
    true
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_Al1N-nIT relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden g2BDsCdX3b"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/" data-srcset="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 768w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1024w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwo9Fv0Ch1 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxo9fXPz8G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxo9fXPz8G mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gigMmEPMP8 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghmnwfARqb "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px;word-break:break-word"
      >
      <p>525+</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gAmLIoJvnG "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Not Satisfied</p>
      </div>
    </div>
    true
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grrcCReN3Y relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gY6S1Sa2gE"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/" data-srcset="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 768w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1024w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section gOXex-0JHW",
    "tag": "section",
    "class": "gps-475929331512640271 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=475929331512640271)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
