
  
  <style>
    .gps-452033892401021824 .relative{position:relative}.gps-452033892401021824 .mx-auto{margin-left:auto;margin-right:auto}.gps-452033892401021824 .mb-0{margin-bottom:0}.gps-452033892401021824 .flex{display:flex}.gps-452033892401021824 .grid{display:grid}.gps-452033892401021824 .max-w-full{max-width:100%}.gps-452033892401021824 .flex-col{flex-direction:column}.gps-452033892401021824 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452033892401021824 .duration-200{transition-duration:.2s}.gps-452033892401021824 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gHHNTo2qFE"
        style="--pt:30px;--pb:30px;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHHNTo2qFE mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gE2bEAjpg7 relative flex flex-col"
    >
      <div style="--pt:10px;--pb:10px" class="g5wCqiz7ky">
       
<script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
{%- assign gpBkProduct = product -%}
{%- assign gpBkProducts = products -%}
{%- liquid
      assign productHandles = ''| split: ','
      assign products = null
      assign target_collection = null
      assign productSrc = 'Collection'
      assign c = 0

      if productSrc == 'DynamicCollection'
        assign target_collection = collection 
      else
        if latest != 'latest'
          for collection in collections
            if collection.id == latest 
              assign target_collection = collection 
              break 
            endif
          endfor 
        endif
      endif

      if productSrc == 'PickProduct'
        if 0 == 0
          paginate collections.all.products by 100000
            assign products = collections.all.products  | sort : "created_at"  | reverse 
          endpaginate
        endif
      else
        if 'latest' == 'latest'
          assign latest_collection = collections | sort: 'updated_at' | reverse | first 
          paginate latest_collection.products by 6
            assign products = latest_collection.products | sort: 'created_at' | reverse
          endpaginate
        else
          paginate target_collection.products by 6
            assign products = target_collection.products | sort: 'created_at' | reverse
          endpaginate
        endif
      endif
      -%}
    
{%- assign product = gpBkProduct -%}
{%- assign products = gpBkProducts -%}

      </div>
      
      
    <div
      id="gnGhRT4jpG"
        style="--pt:30px;--pb:30px;--cg:30px;--gtc:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnGhRT4jpG mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gtmbdbvq5V relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="gl7hnZrlQa relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="gl9vrOq_ji relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="gVnvU5xg0b relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="g8em58jO0J relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="gB-7lXsg0k relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gGCUhQa_Lx",
    "tag": "section",
    "class": "gps-452033892401021824 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=452033892401021824)"
      }
    ],
    "blocks": []
  }
{% endschema %}
