
  
  <style>
    .gps-477389221783732884 .focus-visible\:shadow-none,.gps-477389221783732884 .shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-477389221783732884 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-477389221783732884 .relative{position:relative}.gps-477389221783732884 .inset-0{inset:0}.gps-477389221783732884 .right-0{right:0}.gps-477389221783732884 .top-0{top:0}.gps-477389221783732884 .z-50{z-index:50}.gps-477389221783732884 .z-\[999999\]{z-index:999999}.gps-477389221783732884 .block{display:block}.gps-477389221783732884 .inline-block{display:inline-block}.gps-477389221783732884 .h-full{height:100%}.gps-477389221783732884 .h-screen{height:100vh}.gps-477389221783732884 .max-h-\[calc\(100vh_-_192px\)\]{max-height:calc(100vh - 192px)}.gps-477389221783732884 .max-h-full{max-height:100%}.gps-477389221783732884 .w-full{width:100%}.gps-477389221783732884 .max-w-full{max-width:100%}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.gps-477389221783732884 .animate-\[fadeIn_0\.4s_ease-in\]{animation:fadeIn .4s ease-in}.gps-477389221783732884 .overflow-y-auto{overflow-y:auto}.gps-477389221783732884 .overflow-x-hidden{overflow-x:hidden}.gps-477389221783732884 .bg-transparent{background-color:transparent}.gps-477389221783732884 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-477389221783732884 .align-middle{vertical-align:middle}.gps-477389221783732884 .shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-477389221783732884 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-477389221783732884 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-477389221783732884 .duration-100{transition-duration:.1s}.gps-477389221783732884 .focus-visible\:shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-477389221783732884 .focus-visible\:outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}.gps-477389221783732884 .aj5fk2{position:fixed}.gps-477389221783732884 .am86jg{position:absolute}.gps-477389221783732884 .avrhjy{display:flex}.gps-477389221783732884 .awy7eq{display:inline-flex}.gps-477389221783732884 .a0dubx{align-items:center}.gps-477389221783732884 .ae1ama{justify-content:center}
  </style>
  
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-dialog.js" defer="defer"></script>
    <gp-dialog style="--d:none;--d-tablet:contents;--d-mobile:contents" data-gp-setting="{&quot;dialogId&quot;:&quot;guUd9cMGX-&quot;,&quot;trigger&quot;:&quot;show-on-page-load&quot;,&quot;triggerTime&quot;:10,&quot;frequency&quot;:3,&quot;triggerPercentage&quot;:10,&quot;mobileTrigger&quot;:&quot;none&quot;,&quot;mobileTriggerTime&quot;:10,&quot;closeOnClickOutside&quot;:true,&quot;frequencyMode&quot;:&quot;every&quot;,&quot;display&quot;:{&quot;desktop&quot;:false,&quot;mobile&quot;:true,&quot;tablet&quot;:true}}">
      <dialog class="z-[999999]  gp-dialog bg-transparent" aria-label="Popup 1" data-gp-dialog-id="guUd9cMGX-">
        <div aria-label="Backdrop" class="aj5fk2 inset-0 z-50 avrhjy overflow-y-auto overflow-x-hidden a0dubx ae1ama">
        
            <div class="aj5fk2 inset-0 block transition-all duration-100" data-gp-dialog-overlay="" style="--op:0.7;--bgc:#121212"></div>
        
          <span class="inline-block h-screen align-middle"></span>
          <div role="dialog" aria-label="Dialog content" class="relative max-h-full max-w-full bg-white shadow-xl animate-[fadeIn_0.4s_ease-in]" style="--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px">
            <button type="button" data-gp-dialog-close="" tabindex="-1" class="am86jg top-0 right-0 z-[999999] awy7eq a0dubx ae1ama outline-none focus-visible:shadow-none focus-visible:outline-none" style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#334fb4">
              <svg viewBox="0 0 12 12" fill="currentColor" style="--w:12px;--h:12px">
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div style="--shadow:none;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--minh:300px" aria-label="Dialog body" class="h-full w-full overflow-y-auto overflow-x-hidden max-h-[calc(100vh_-_192px)]"><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="g6-_3RazZ0 ">
      
    <div pagecontext="" parenttag="Dialog" class="g6-_3RazZ0 " style="">
      <h2 data-gp-text="" class="g-heading-1 gp-text" style="--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word">
      Your heading text goes here
      </h2>
    </div>
      </div></div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
  
{% schema %}
  {
    
    "name": "Section geivAKy6yF",
    "tag": "section",
    "class": "gps-477389221783732884 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=477389221783732884)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
