
  
  <style>
    .gps-464902340118446784 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464902340118446784 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-464902340118446784 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-464902340118446784 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-464902340118446784 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-464902340118446784 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-464902340118446784 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464902340118446784 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-464902340118446784 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-464902340118446784 .g-s-small{padding:4px 16px}.gps-464902340118446784 .g-s-medium{padding:8px 24px}.gps-464902340118446784 .g-s-large{padding:12px 32px}.gps-464902340118446784 .g-s-tag-small{padding:2px 8px}.gps-464902340118446784 .g-s-tag-medium{padding:4px 12px}.gps-464902340118446784 .g-s-tag-large{padding:8px 16px}.gps-464902340118446784 .g-s-none{padding:0}.gps-464902340118446784 .g-s-icon-small{padding:8px}.gps-464902340118446784 .g-s-icon-medium{padding:16px}.gps-464902340118446784 .g-s-icon-large{padding:24px}.gps-464902340118446784 .absolute{position:absolute}.gps-464902340118446784 .relative{position:relative}.gps-464902340118446784 .inset-0{inset:0}.gps-464902340118446784 .mx-auto{margin-left:auto;margin-right:auto}.gps-464902340118446784 .mb-0{margin-bottom:0}.gps-464902340118446784 .inline-block{display:inline-block}.gps-464902340118446784 .flex{display:flex}.gps-464902340118446784 .grid{display:grid}.gps-464902340118446784 .w-full{width:100%}.gps-464902340118446784 .max-w-full{max-width:100%}.gps-464902340118446784 .flex-col{flex-direction:column}.gps-464902340118446784 .overflow-hidden{overflow:hidden}.gps-464902340118446784 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-464902340118446784 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-464902340118446784 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-464902340118446784 .border-g-brand{border-color:var(--g-c-brand)}.gps-464902340118446784 .border-g-error{border-color:var(--g-c-error)}.gps-464902340118446784 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-464902340118446784 .border-g-info{border-color:var(--g-c-info)}.gps-464902340118446784 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-464902340118446784 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-464902340118446784 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-464902340118446784 .border-g-success{border-color:var(--g-c-success)}.gps-464902340118446784 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-464902340118446784 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-464902340118446784 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-464902340118446784 .border-g-warning{border-color:var(--g-c-warning)}.gps-464902340118446784 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-464902340118446784 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-464902340118446784 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-464902340118446784 .bg-g-brand{background-color:var(--g-c-brand)}.gps-464902340118446784 .bg-g-error{background-color:var(--g-c-error)}.gps-464902340118446784 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-464902340118446784 .bg-g-info{background-color:var(--g-c-info)}.gps-464902340118446784 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-464902340118446784 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-464902340118446784 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-464902340118446784 .bg-g-success{background-color:var(--g-c-success)}.gps-464902340118446784 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-464902340118446784 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-464902340118446784 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-464902340118446784 .bg-g-warning{background-color:var(--g-c-warning)}.gps-464902340118446784 .align-middle{vertical-align:middle}.gps-464902340118446784 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902340118446784 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902340118446784 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902340118446784 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-464902340118446784 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-464902340118446784 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-464902340118446784 .text-g-brand{color:var(--g-c-brand)}.gps-464902340118446784 .text-g-error{color:var(--g-c-error)}.gps-464902340118446784 .text-g-highlight{color:var(--g-c-highlight)}.gps-464902340118446784 .text-g-info{color:var(--g-c-info)}.gps-464902340118446784 .text-g-line-1{color:var(--g-c-line-1)}.gps-464902340118446784 .text-g-line-2{color:var(--g-c-line-2)}.gps-464902340118446784 .text-g-line-3{color:var(--g-c-line-3)}.gps-464902340118446784 .text-g-success{color:var(--g-c-success)}.gps-464902340118446784 .text-g-text-1{color:var(--g-c-text-1)}.gps-464902340118446784 .text-g-text-2{color:var(--g-c-text-2)}.gps-464902340118446784 .text-g-text-3{color:var(--g-c-text-3)}.gps-464902340118446784 .text-g-warning{color:var(--g-c-warning)}.gps-464902340118446784 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-464902340118446784 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-464902340118446784 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-464902340118446784 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-464902340118446784 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-464902340118446784 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-464902340118446784 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-464902340118446784 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-464902340118446784 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-464902340118446784 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-464902340118446784 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-464902340118446784 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-464902340118446784 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-464902340118446784 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-464902340118446784 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-464902340118446784 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464902340118446784 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464902340118446784 .duration-200{transition-duration:.2s}.gps-464902340118446784 .duration-300{transition-duration:.3s}.gps-464902340118446784 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-464902340118446784 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-464902340118446784 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-464902340118446784 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-464902340118446784 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-464902340118446784 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-464902340118446784 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-464902340118446784 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-464902340118446784 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-464902340118446784 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-464902340118446784 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-464902340118446784 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-464902340118446784 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-464902340118446784 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-464902340118446784 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-464902340118446784 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-464902340118446784 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-464902340118446784 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-464902340118446784 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-464902340118446784 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-464902340118446784 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-464902340118446784 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-464902340118446784 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-464902340118446784 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-464902340118446784 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-464902340118446784 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-464902340118446784 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-464902340118446784 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-464902340118446784 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-464902340118446784 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-464902340118446784 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-464902340118446784 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-464902340118446784 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-464902340118446784 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-464902340118446784 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-464902340118446784 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-464902340118446784 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-464902340118446784 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-464902340118446784 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-464902340118446784 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-464902340118446784 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-464902340118446784 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-464902340118446784 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-464902340118446784 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-464902340118446784 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-464902340118446784 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-464902340118446784 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-464902340118446784 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-464902340118446784 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-464902340118446784 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-464902340118446784 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-464902340118446784 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-464902340118446784 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-464902340118446784 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-464902340118446784 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-464902340118446784 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-464902340118446784 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-464902340118446784 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-464902340118446784 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-464902340118446784 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-464902340118446784 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-464902340118446784 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-464902340118446784 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-464902340118446784 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-464902340118446784 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-464902340118446784 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-464902340118446784 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-464902340118446784 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-464902340118446784 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-464902340118446784 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-464902340118446784 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-464902340118446784 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-464902340118446784 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-464902340118446784 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-464902340118446784 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-464902340118446784 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-464902340118446784 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-464902340118446784 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-464902340118446784 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-464902340118446784 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-464902340118446784 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-464902340118446784 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-464902340118446784 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-464902340118446784 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-464902340118446784 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-464902340118446784 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-464902340118446784 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-464902340118446784 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-464902340118446784 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-464902340118446784 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-464902340118446784 .focus\:text-g-warning:focus{color:var(--g-c-warning)}@media (hover:hover) and (pointer:fine){.gps-464902340118446784 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-464902340118446784 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:767px){.gps-464902340118446784 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="guPpnmr7Ps"
        style="--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guPpnmr7Ps mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gr5luE9akY relative flex flex-col"
    >
      
      
      
    <div
      id="gfHn84dz60"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfHn84dz60 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPfKCAsumk relative flex flex-col"
    >
      <div style="--mb:var(--g-s-xs);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gfesLXi6zE">
      
    <div
      
        class="gfesLXi6zE"
        style="--tt:default"
      >
      <h2
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px"
      >
      <p>Customer Satisfaction</p>
      </h2>
    </div>
      </div>
    <div
      
        class="gvWlbBXfyv"
        style="--tt:default;--mb:56px;--mb-mobile:49px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px"
      >
      <p>How customers feel about our service?</p>
      </div>
    </div>
      
      
    <div
      id="g1-8Ziy7SV"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1-8Ziy7SV mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpTsmobjGc relative flex flex-col"
    >
      
      
      
    <div
      id="gt0XiFg-o3"
        style="--mb-mobile:49px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt0XiFg-o3 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gV8zKyHh4k relative flex flex-col"
    >
      
      
      
    <div
      id="g8beWXuSOc"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8beWXuSOc mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geVh9zugZh relative flex flex-col"
    >
      
    <div
      
        class="gCRwhMTV9k"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>925+</p>
      </div>
    </div>
    <div
      
        class="gUHLUTzpSe"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Very Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYNEens9od relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gTbtMbBJ0G"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full lazyload"
    data-src="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/" data-srcset="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 768w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1024w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnrGs9QRR5 relative flex flex-col"
    >
      
      
      
    <div
      id="gNiNJpcdlz"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNiNJpcdlz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gOhkiundct relative flex flex-col"
    >
      
    <div
      
        class="ghAGosRzfX"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>625+</p>
      </div>
    </div>
    <div
      
        class="g-o34Ej1Sp"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYWZimkGsn relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gqUE9M2JJz"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full lazyload"
    data-src="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/" data-srcset="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 768w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1024w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbkZRFTJWG relative flex flex-col"
    >
      
      
      
    <div
      id="g08GfFYjUw"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g08GfFYjUw mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_GBZixHI9 relative flex flex-col"
    >
      
      
      
    <div
      id="gCWLvZIK0z"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCWLvZIK0z mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7BTXgcNSc relative flex flex-col"
    >
      
    <div
      
        class="gr3A2PEOHA"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>825+</p>
      </div>
    </div>
    <div
      
        class="gbHVXnAtCZ"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Slightly Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcPJ70GSJp relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gwQ4TtxpOK"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full lazyload"
    data-src="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/" data-srcset="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 768w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1024w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtXi-gH5rm relative flex flex-col"
    >
      
      
      
    <div
      id="gBMBbrUTAf"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBMBbrUTAf mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzT5e6SPIF relative flex flex-col"
    >
      
    <div
      
        class="gbW3uTbMaM"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>525+</p>
      </div>
    </div>
    <div
      
        class="gQxbJCI3FB"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Not Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g6EUBf7iRB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gDONqxOZmY"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full lazyload"
    data-src="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/" data-srcset="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 768w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1024w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gLYv4rKz8_",
    "tag": "section",
    "class": "gps-464902340118446784 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464902340118446784)"
      }
    ],
    "blocks": []
  }
{% endschema %}
