
  
  <style>
    .gps-472880202746168210 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-472880202746168210 .relative{position:relative}.gps-472880202746168210 .mx-auto{margin-left:auto;margin-right:auto}.gps-472880202746168210 .mb-0{margin-bottom:0}.gps-472880202746168210 .block{display:block}.gps-472880202746168210 .flex{display:flex}.gps-472880202746168210 .grid{display:grid}.gps-472880202746168210 .\!hidden{display:none!important}.gps-472880202746168210 .max-w-full{max-width:100%}.gps-472880202746168210 .flex-1{flex:1 1 0%}.gps-472880202746168210 .flex-col{flex-direction:column}.gps-472880202746168210 .flex-wrap{flex-wrap:wrap}.gps-472880202746168210 .break-words{overflow-wrap:break-word}.gps-472880202746168210 .text-center{text-align:center}.gps-472880202746168210 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-472880202746168210 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-472880202746168210 .duration-200{transition-duration:.2s}.gps-472880202746168210 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-472880202746168210 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--pos:sticky;--top:0px;--z:2;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gJFyWklt_R"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#5956E9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJFyWklt_R mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7ZfMKsDwz relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gq374AlC6H"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--cg:30px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gq374AlC6H mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqwsbQ36Rr relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g__qlHeLdT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-tablet:var(--g-s-xl);--cg:var(--g-s-s);--pc:start;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g__qlHeLdT mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC3aUcCBDu relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEP_sa1Br_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEP_sa1Br_ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDZg6108WM relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGmY3MUoch"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFDA65;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>COMBO</p>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2dYTnTmRR relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1kGFQQaWF"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="break-words text-g-bg-3 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>Back to School</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCpXtkinWV relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvt-7-WGu0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvt-7-WGu0 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjfTDeaVC5 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gaTUnQ4cFi"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFDA65;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>SALE UP TO 50% OFF</p>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLRc0_apgK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYNRhvTWwo"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="break-words text-g-bg-3 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px"
      >
      <p>- Don’t miss out</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxAvVI5xSh relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gq_F0LGedU ">
      
    <gp-countdown-timer
     class="block"
     gp-data='{"behaviour":"daily","dateStandard":1684978080222,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":2,"endTime":1684557868837,"hours":3,"mins":0,"startTime":1684373280222},"weekLabel":"Weeks"}'
     style="--ta:left;--ta-tablet:center;--ta-mobile:center"
     >
      <div id="section-countdown" class="flex flex-wrap !hidden" style="gap:var(--g-s-s)">
           
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center">
    
    <div
      id="day"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        data-gp-text
        class="gp-countdown-number break-words"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1"
        style=""
      >
      Days
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center">
    
    <div
      id="hour"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        data-gp-text
        class="gp-countdown-number break-words"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1"
        style=""
      >
      Hours
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center">
    
    <div
      id="minute"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        data-gp-text
        class="gp-countdown-number break-words"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1"
        style=""
      >
      Mins
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center">
    
    <div
      id="second"
        class=""
        style="--mb:var(--g-s-xs);--c:#FFDA65"
      >
      <div
        data-gp-text
        class="gp-countdown-number break-words"
        style="--size:21px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--size-mobile:19px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px"
      >
      00
      </div>
    </div>
    
    <div
      
        class=""
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div
        data-gp-text
        class="break-words g-paragraph-1"
        style=""
      >
      Secs
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gGtI7pZSKM",
    "tag": "section",
    "class": "gps-472880202746168210 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=472880202746168210)"
      }
    ],
    "blocks": []
  }
{% endschema %}
