
  
  <style>
    .gps-464902227794854421 .focus\:\!shadow-none,.gps-464902227794854421 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-464902227794854421 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-464902227794854421 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-464902227794854421 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-464902227794854421 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-464902227794854421 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-464902227794854421 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-464902227794854421 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464902227794854421 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-464902227794854421 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-464902227794854421 .g-s-small{padding:4px 16px}.gps-464902227794854421 .g-s-medium{padding:8px 24px}.gps-464902227794854421 .g-s-large{padding:12px 32px}.gps-464902227794854421 .g-s-tag-small{padding:2px 8px}.gps-464902227794854421 .g-s-tag-medium{padding:4px 12px}.gps-464902227794854421 .g-s-tag-large{padding:8px 16px}.gps-464902227794854421 .g-s-none{padding:0}.gps-464902227794854421 .g-s-icon-small{padding:8px}.gps-464902227794854421 .g-s-icon-medium{padding:16px}.gps-464902227794854421 .g-s-icon-large{padding:24px}.gps-464902227794854421 .invisible{visibility:hidden}.gps-464902227794854421 .fixed{position:fixed}.gps-464902227794854421 .absolute{position:absolute}.gps-464902227794854421 .relative{position:relative}.gps-464902227794854421 .top-\[27px\]{top:27px}.gps-464902227794854421 .z-100{z-index:100}.gps-464902227794854421 .mx-auto{margin-left:auto;margin-right:auto}.gps-464902227794854421 .mb-0{margin-bottom:0}.gps-464902227794854421 .flex{display:flex}.gps-464902227794854421 .inline-flex{display:inline-flex}.gps-464902227794854421 .grid{display:grid}.gps-464902227794854421 .hidden{display:none}.gps-464902227794854421 .\!h-auto{height:auto!important}.gps-464902227794854421 .h-5{height:1.25rem}.gps-464902227794854421 .w-5{width:1.25rem}.gps-464902227794854421 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-464902227794854421 .animate-spin{animation:spin 1s linear infinite}.gps-464902227794854421 .flex-col{flex-direction:column}.gps-464902227794854421 .items-center{align-items:center}.gps-464902227794854421 .justify-center{justify-content:center}.gps-464902227794854421 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-464902227794854421 .rounded{border-radius:.25rem}.gps-464902227794854421 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-464902227794854421 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-464902227794854421 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-464902227794854421 .border-g-brand{border-color:var(--g-c-brand)}.gps-464902227794854421 .border-g-error{border-color:var(--g-c-error)}.gps-464902227794854421 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-464902227794854421 .border-g-info{border-color:var(--g-c-info)}.gps-464902227794854421 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-464902227794854421 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-464902227794854421 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-464902227794854421 .border-g-success{border-color:var(--g-c-success)}.gps-464902227794854421 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-464902227794854421 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-464902227794854421 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-464902227794854421 .border-g-warning{border-color:var(--g-c-warning)}.gps-464902227794854421 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-464902227794854421 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-464902227794854421 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-464902227794854421 .bg-g-brand{background-color:var(--g-c-brand)}.gps-464902227794854421 .bg-g-error{background-color:var(--g-c-error)}.gps-464902227794854421 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-464902227794854421 .bg-g-info{background-color:var(--g-c-info)}.gps-464902227794854421 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-464902227794854421 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-464902227794854421 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-464902227794854421 .bg-g-success{background-color:var(--g-c-success)}.gps-464902227794854421 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-464902227794854421 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-464902227794854421 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-464902227794854421 .bg-g-warning{background-color:var(--g-c-warning)}.gps-464902227794854421 .\!bg-none{background-image:none!important}.gps-464902227794854421 .p-\[16px\]{padding:16px}.gps-464902227794854421 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902227794854421 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902227794854421 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-464902227794854421 .text-\[14px\]{font-size:14px}.gps-464902227794854421 .leading-normal{line-height:1.5}.gps-464902227794854421 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-464902227794854421 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-464902227794854421 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-464902227794854421 .text-g-brand{color:var(--g-c-brand)}.gps-464902227794854421 .text-g-error{color:var(--g-c-error)}.gps-464902227794854421 .text-g-highlight{color:var(--g-c-highlight)}.gps-464902227794854421 .text-g-info{color:var(--g-c-info)}.gps-464902227794854421 .text-g-line-1{color:var(--g-c-line-1)}.gps-464902227794854421 .text-g-line-2{color:var(--g-c-line-2)}.gps-464902227794854421 .text-g-line-3{color:var(--g-c-line-3)}.gps-464902227794854421 .text-g-success{color:var(--g-c-success)}.gps-464902227794854421 .text-g-text-1{color:var(--g-c-text-1)}.gps-464902227794854421 .text-g-text-2{color:var(--g-c-text-2)}.gps-464902227794854421 .text-g-text-3{color:var(--g-c-text-3)}.gps-464902227794854421 .text-g-warning{color:var(--g-c-warning)}.gps-464902227794854421 .no-underline{text-decoration-line:none}.gps-464902227794854421 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-464902227794854421 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-464902227794854421 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-464902227794854421 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-464902227794854421 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-464902227794854421 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-464902227794854421 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-464902227794854421 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-464902227794854421 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-464902227794854421 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-464902227794854421 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-464902227794854421 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-464902227794854421 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-464902227794854421 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-464902227794854421 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-464902227794854421 .opacity-25{opacity:.25}.gps-464902227794854421 .opacity-75{opacity:.75}.gps-464902227794854421 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-464902227794854421 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464902227794854421 .duration-200{transition-duration:.2s}.gps-464902227794854421 .duration-300{transition-duration:.3s}.gps-464902227794854421 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464902227794854421 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-464902227794854421 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-464902227794854421 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-464902227794854421 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-464902227794854421 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-464902227794854421 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-464902227794854421 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-464902227794854421 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-464902227794854421 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-464902227794854421 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-464902227794854421 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-464902227794854421 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-464902227794854421 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-464902227794854421 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-464902227794854421 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-464902227794854421 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-464902227794854421 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-464902227794854421 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-464902227794854421 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-464902227794854421 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-464902227794854421 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-464902227794854421 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-464902227794854421 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-464902227794854421 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-464902227794854421 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-464902227794854421 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-464902227794854421 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-464902227794854421 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-464902227794854421 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-464902227794854421 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-464902227794854421 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-464902227794854421 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-464902227794854421 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-464902227794854421 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-464902227794854421 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-464902227794854421 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-464902227794854421 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-464902227794854421 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-464902227794854421 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-464902227794854421 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-464902227794854421 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-464902227794854421 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-464902227794854421 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-464902227794854421 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-464902227794854421 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-464902227794854421 .hover\:text-g-warning:hover{color:var(--g-c-warning)}.gps-464902227794854421 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-464902227794854421 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-464902227794854421 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-464902227794854421 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-464902227794854421 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-464902227794854421 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-464902227794854421 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-464902227794854421 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-464902227794854421 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-464902227794854421 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-464902227794854421 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-464902227794854421 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-464902227794854421 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-464902227794854421 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-464902227794854421 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-464902227794854421 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-464902227794854421 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-464902227794854421 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-464902227794854421 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-464902227794854421 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-464902227794854421 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-464902227794854421 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-464902227794854421 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-464902227794854421 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-464902227794854421 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-464902227794854421 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-464902227794854421 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-464902227794854421 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-464902227794854421 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-464902227794854421 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-464902227794854421 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-464902227794854421 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-464902227794854421 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-464902227794854421 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-464902227794854421 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-464902227794854421 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-464902227794854421 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-464902227794854421 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-464902227794854421 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-464902227794854421 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-464902227794854421 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-464902227794854421 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-464902227794854421 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-464902227794854421 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-464902227794854421 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-464902227794854421 .focus\:text-g-warning:focus{color:var(--g-c-warning)}.gps-464902227794854421 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-464902227794854421 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-464902227794854421 .disabled\:opacity-30:disabled{opacity:.3}.gps-464902227794854421 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-464902227794854421 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:767px){.gps-464902227794854421 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gr-p6rKN9P"
        style="--pb:var(--g-s-xl);--pb-mobile:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr-p6rKN9P mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gA_igHD3um relative flex flex-col"
    >
      
      
      
    <div
      id="g6e3Y9IB-t"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-mobile:63px;--pb-mobile:63px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(https://ucarecdn.com/203ec849-7916-4d3d-a14d-c0283baac0ec/);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6e3Y9IB-t mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gerjB6VZ5R relative flex flex-col"
    >
      
      
      
    <div
      id="g_7ZQu-nP3"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_7ZQu-nP3 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwDryF4FxQ relative flex flex-col"
    >
      <div style="--mb:var(--g-s-xs);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gcCrSjGGjI">
      
    <div
      
        class="gcCrSjGGjI"
        style="--tt:default"
      >
      <h2
        class="text-g-bg-3 gp-text"
        style="--ts:none;--ta:center;--c:var(--g-c-bg-3, bg-3);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--size-mobile:33px"
      >
      <p>Newsletter</p>
      </h2>
    </div>
      </div>
    <div
      
        class="gxtg7jaeaw"
        style="--tt:default;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        class="text-g-bg-3 g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3)"
      >
      <p>Enter your email address for new arrivals, discounts,<br>promotions, and more!</p>
      </div>
    </div><div style="--pt:40px;--pt-mobile:35px;--radius:var(--g-radius-none);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%" class="g-2SEi79YF">
      
    <gp-form 
      id="g-2SEi79YF"
      style=""
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g-2SEi79YF"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-g-2SEi79YF' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g-2SEi79YF"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-g-2SEi79YF"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
      
      
    <div
      id="g7Kmyflvlw"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--shadow:none;--op:100%;--cg:auto;--cg-mobile:0px;--pc:center;--gtc:minmax(0, 10fr) minmax(0, 2fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7Kmyflvlw mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gojMw6Vqk9 relative flex flex-col"
    >
      
    <div
      class="goMk6p8IaN"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item g-paragraph-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--pl:16px;--pr:16px;--pt:14px;--pb:14px;--w:100%;--w-tablet:313px;--w-mobile:100%;--b:solid;--bc:#121212;--bw:0px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--shadow:none"
        placeholder="Enter your Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gU-UwHgwI- relative flex flex-col"
    >
      
    <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="submit" data-id="gqYz6hDOsl" aria-label
      data-state="idle"
      class="gqYz6hDOsl relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-bg-3 hover:bg-g-bg-3 text-g-text-3 g-paragraph-1"
      style="--bg:var(--g-c-bg-3, bg-3);--hvr-bg:var(--g-c-bg-3, bg-3);--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:transparent;--hvr-bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--w:1em"
      > <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 12.9996C1.625 12.7841 1.7106 12.5774 1.86298 12.425C2.01535 12.2727 2.22201 12.1871 2.4375 12.1871H21.6011L16.4872 7.07481C16.3347 6.92225 16.249 6.71532 16.249 6.49956C16.249 6.2838 16.3347 6.07688 16.4872 5.92431C16.6398 5.77175 16.8467 5.68604 17.0625 5.68604C17.2783 5.68604 17.4852 5.77175 17.6378 5.92431L24.1378 12.4243C24.2134 12.4998 24.2734 12.5894 24.3144 12.6882C24.3554 12.7869 24.3765 12.8927 24.3765 12.9996C24.3765 13.1064 24.3554 13.2123 24.3144 13.311C24.2734 13.4097 24.2134 13.4993 24.1378 13.5748L17.6378 20.0748C17.4852 20.2274 17.2783 20.3131 17.0625 20.3131C16.8467 20.3131 16.6398 20.2274 16.4872 20.0748C16.3347 19.9222 16.249 19.7153 16.249 19.4996C16.249 19.2838 16.3347 19.0769 16.4872 18.9243L21.6011 13.8121H2.4375C2.22201 13.8121 2.01535 13.7265 1.86298 13.5741C1.7106 13.4217 1.625 13.215 1.625 12.9996Z" fill="#424242"/> </svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        
      </span>
    </button>
  </div>
  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gl9NPvfLnB",
    "tag": "section",
    "class": "gps-464902227794854421 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464902227794854421)"
      }
    ],
    "blocks": []
  }
{% endschema %}
