
  
  <style>
    .gps-467229347091055486 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-467229347091055486 .invisible{visibility:hidden}.gps-467229347091055486 .absolute{position:absolute}.gps-467229347091055486 .relative{position:relative}.gps-467229347091055486 .inset-0{inset:0}.gps-467229347091055486 .mx-auto{margin-left:auto;margin-right:auto}.gps-467229347091055486 .mb-0{margin-bottom:0}.gps-467229347091055486 .inline-block{display:inline-block}.gps-467229347091055486 .flex{display:flex}.gps-467229347091055486 .inline-flex{display:inline-flex}.gps-467229347091055486 .grid{display:grid}.gps-467229347091055486 .h-5{height:20px}.gps-467229347091055486 .h-6{height:24px}.gps-467229347091055486 .w-5{width:20px}.gps-467229347091055486 .w-6{width:24px}.gps-467229347091055486 .w-full{width:100%}.gps-467229347091055486 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-467229347091055486 .animate-spin{animation:spin 1s linear infinite}.gps-467229347091055486 .flex-row-reverse{flex-direction:row-reverse}.gps-467229347091055486 .flex-col{flex-direction:column}.gps-467229347091055486 .flex-wrap{flex-wrap:wrap}.gps-467229347091055486 .items-center{align-items:center}.gps-467229347091055486 .justify-center{justify-content:center}.gps-467229347091055486 .overflow-hidden{overflow:hidden}.gps-467229347091055486 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-467229347091055486 .align-middle{vertical-align:middle}.gps-467229347091055486 .leading-\[0\]{line-height:0}.gps-467229347091055486 .text-g-text-2{color:var(--g-c-text-2)}.gps-467229347091055486 .text-g-text-3{color:var(--g-c-text-3)}.gps-467229347091055486 .no-underline{text-decoration-line:none}.gps-467229347091055486 .opacity-25{opacity:.25}.gps-467229347091055486 .opacity-75{opacity:.75}.gps-467229347091055486 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-467229347091055486 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-467229347091055486 .duration-200{transition-duration:.2s}.gps-467229347091055486 .duration-300{transition-duration:.3s}.gps-467229347091055486 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-467229347091055486 .disabled\:btn-disabled:disabled{cursor:default}.gps-467229347091055486 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-467229347091055486 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-467229347091055486 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-467229347091055486 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-467229347091055486 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-467229347091055486 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-467229347091055486 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-467229347091055486 .\[\&\>svg\]\:w-full>svg{width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gAjJnouRj8"
        style="--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAjJnouRj8 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghF70Lyd2p relative flex flex-col"
    >
      
      
      
    <div
      id="gLyREnPJJr"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLyREnPJJr mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gt8qMjjPgO relative flex flex-col"
    >
      <div style="--mb:var(--g-s-xs);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gRczeRPJUq">
      
    <div
      
        class="gRczeRPJUq"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2);--size:51px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--size-mobile:33px"
      >
      <p>A new look for a new school year</p>
      </h2>
    </div>
      </div>
    <div
      
        class="gOtMLbnfIp"
        style="--tt:default;--mb:var(--g-s-2xl);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px"
      >
      <p>Back to school time is coming and everything you need for a new school year is here.</p>
      </div>
    </div>
      
      
    <div
      id="gfWrSKUR_P"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--cg-mobile:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfWrSKUR_P mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJT88MpiD5 relative flex flex-col"
    >
      
    
    <div
      uid="ggYHA8I7GC"
       style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-s)"
    >
    <div
      
      style=""
      class="gQvOsq2_et relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gRyBbCUGlP"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="g6wbzCO4ZE relative flex flex-col"
    >
      
    <div
      
        class="gmTJBALd5W"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>259k bought</p>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gB3siUGIrf relative flex flex-col"
    >
      
    
    <div
      uid="gkDt2NZfb3"
       style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-s)"
    >
    <div
      
      style=""
      class="g4zaesxtkN relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gA9yN-usGw"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="gMZYKNqpYV relative flex flex-col"
    >
      
    <div
      
        class="gbEI5FJppi"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Great Service</p>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzM0SOCTCT relative flex flex-col"
    >
      
    
    <div
      uid="gsT-sGXvde"
       style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-s)"
    >
    <div
      
      style=""
      class="g1NEqg3rNz relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gGbNybqvIT"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="g4JKtlHWmN relative flex flex-col"
    >
      
    <div
      
        class="gNCgssNRMu"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Freeship</p>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div>
    </div>
  
    
      
      
    <div
      id="g625EOq6tq"
        style="--mb:56px;--mb-mobile:49px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g625EOq6tq mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gi6A1mY7Yf relative flex flex-col"
    >
      
    
    <div
      
      style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gqoB_YH9rq">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gRV2doo4cD"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gVjVrJSwC8">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gE1jXHK6ua"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g9-eVFu6lA">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gEn1lwkBjH"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g6PxwZwSVZ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gCKM-KnE6x"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gUylyfSxzQ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] glUnLojcc5"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g2AN5mAVu- relative flex flex-col"
    >
      
    <div
      
        class="gqN9g2fxH5"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>12.000+ reviews</p>
      </div>
    </div>
    </div>
    </div>
  
    <div
    
    style="--mb:var(--g-s-l);--mb-mobile:49px;--mb-tablet:56px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left;--ta-mobile:center"
    class=""
  >
    <a
      href="#gUqgT8w0aM" target="_self" data-id="ge_5HmHvhK" aria-label="Choose your product"
      data-state="idle"
      class="ge_5HmHvhK relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-text-3 g-paragraph-1"
      style="--bg:#5956E9;--hvr-bg:#3632C7;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:14px;--pb:14px;--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      > <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 8.00063C1.5 7.86802 1.55268 7.74085 1.64645 7.64708C1.74021 7.55331 1.86739 7.50063 2 7.50063H13.793L10.646 4.35463C10.5521 4.26075 10.4994 4.13341 10.4994 4.00063C10.4994 3.86786 10.5521 3.74052 10.646 3.64663C10.7399 3.55274 10.8672 3.5 11 3.5C11.1328 3.5 11.2601 3.55274 11.354 3.64663L15.354 7.64663C15.4006 7.69308 15.4375 7.74825 15.4627 7.809C15.4879 7.86974 15.5009 7.93486 15.5009 8.00063C15.5009 8.0664 15.4879 8.13152 15.4627 8.19226C15.4375 8.25301 15.4006 8.30819 15.354 8.35463L11.354 12.3546C11.2601 12.4485 11.1328 12.5013 11 12.5013C10.8672 12.5013 10.7399 12.4485 10.646 12.3546C10.5521 12.2607 10.4994 12.1334 10.4994 12.0006C10.4994 11.8679 10.5521 11.7405 10.646 11.6466L13.793 8.50063H2C1.86739 8.50063 1.74021 8.44795 1.64645 8.35419C1.55268 8.26042 1.5 8.13324 1.5 8.00063Z" fill="white"/> </svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Choose your product
      </span>
    </a>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gXuRReF8CP relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gktV-ND4cg"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/f9c4ab46-0eef-4839-8f2d-2b9584f39f85/-/format/auto/" data-srcset="https://ucarecdn.com/f9c4ab46-0eef-4839-8f2d-2b9584f39f85/-/format/auto/ 768w,https://ucarecdn.com/f9c4ab46-0eef-4839-8f2d-2b9584f39f85/-/format/auto/ 1024w,https://ucarecdn.com/f9c4ab46-0eef-4839-8f2d-2b9584f39f85/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="981" height="874" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:981/874;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--w:100%;--w-tablet:100%;--w-mobile:100%;--radius:var(--g-radius-none)"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section grkenGCw9F",
    "tag": "section",
    "class": "gps-467229347091055486 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=467229347091055486)"
      }
    ],
    "blocks": []
  }
{% endschema %}
