
  
  
  <style>
    .gps-479384635151745847 .relative{position:relative}.gps-479384635151745847 .inset-0{inset:0}.gps-479384635151745847 .mx-auto{margin-left:auto;margin-right:auto}.gps-479384635151745847 .mb-0{margin-bottom:0}.gps-479384635151745847 .inline-block{display:inline-block}.gps-479384635151745847 .grid{display:grid}.gps-479384635151745847 .w-full{width:100%}.gps-479384635151745847 .max-w-full{max-width:100%}.gps-479384635151745847 .overflow-hidden{overflow:hidden}.gps-479384635151745847 .align-middle{vertical-align:middle}.gps-479384635151745847 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479384635151745847 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479384635151745847 .duration-200{transition-duration:.2s}.gps-479384635151745847 .duration-300{transition-duration:.3s}.gps-479384635151745847 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479384635151745847 .\[\&_\*\]\:max-w-full *{max-width:100%}@media (hover:hover) and (pointer:fine){.gps-479384635151745847 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-479384635151745847 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-479384635151745847 .a7asgl{position:absolute}.gps-479384635151745847 .aoveoe{display:flex}.gps-479384635151745847 .asrudr{flex-direction:column}
  </style>
  
      
      
            <section class="mx-auto max-w-full" style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)">
              
    <div id="gyXkBVh_E0" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gyXkBVh_E0 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="ggXWUE3513 relative aoveoe asrudr">
      
      
      
    <div parenttag="Col" id="gHcJiUm5dB" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gHcJiUm5dB mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="g4coyaeOmZ relative aoveoe asrudr">
      
      
      
    <div parenttag="Col" id="g2LRKjWcbY" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xl);--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="g2LRKjWcbY mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gofoTUDWai relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden gg4XDwUxVw" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/" data-srcset="https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 768w,https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 1024w,https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div><div label="Block" tag="Col" type="component" style="--jc:start" class="g_u3VL5EgZ relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden gAlbyMk3yz" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/" data-srcset="https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 768w,https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 1024w,https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div><div label="Block" tag="Col" type="component" style="--jc:start" class="gfw6j3TTSn relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden gRGbcpEqTn" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/" data-srcset="https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 768w,https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 1024w,https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div label="Block" tag="Col" type="component" style="--jc:start" class="gZDoKLnEyC relative aoveoe asrudr">
      
      
      
    <div parenttag="Col" id="gV3wumrfgo" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xl);--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gV3wumrfgo mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gysRQiNSmp relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden gJkofn-Qs8" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/" data-srcset="https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 768w,https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 1024w,https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div><div label="Block" tag="Col" type="component" style="--jc:start" class="gSPouvDaFB relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden ggAerUtE63" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/" data-srcset="https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 768w,https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 1024w,https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div><div label="Block" tag="Col" type="component" style="--jc:start" class="gAtTlZgiju relative aoveoe asrudr">
      <div role="presentation" class="group/image overflow-hidden gu7t6AR0Hp" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center">
    <div>
      <figure class="relative inline-block overflow-hidden align-middle" style="--shadow:none;--radius:var(--g-radius-none)">
        <img quality="70" title="Image Title" draggable="false" class="inline-block w-full max-w-full aoveoe gp_lazyload" data-src="https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/" data-srcset="https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 768w,https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 1024w,https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority="" sizes="100vw" style="--aspect:initial;--aspect-tablet:initial;--aspect-mobile:initial;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%">
        <div class="a7asgl inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]" style="--bgc:#242424;--op:0">
      </div></figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section gCK3DAQ-1z",
    "tag": "section",
    "class": "gps-479384635151745847 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479384635151745847)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
