
  
  <style>
    .gps-452736905163834051 .-translate-x-1\/2,.gps-452736905163834051 .-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-452736905163834051 .visible{visibility:visible}.gps-452736905163834051 .invisible{visibility:hidden}.gps-452736905163834051 .absolute{position:absolute}.gps-452736905163834051 .relative{position:relative}.gps-452736905163834051 .inset-0{inset:0}.gps-452736905163834051 .left-1\/2{left:50%}.gps-452736905163834051 .top-1\/2{top:50%}.gps-452736905163834051 .mx-auto{margin-left:auto;margin-right:auto}.gps-452736905163834051 .mb-0{margin-bottom:0}.gps-452736905163834051 .inline-block{display:inline-block}.gps-452736905163834051 .flex{display:flex}.gps-452736905163834051 .grid{display:grid}.gps-452736905163834051 .w-\[68px\]{width:68px}.gps-452736905163834051 .w-full{width:100%}.gps-452736905163834051 .max-w-full{max-width:100%}.gps-452736905163834051 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-452736905163834051 .-translate-x-1\/2,.gps-452736905163834051 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-452736905163834051 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-452736905163834051 .flex-col{flex-direction:column}.gps-452736905163834051 .overflow-hidden{overflow:hidden}.gps-452736905163834051 .bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-452736905163834051 .bg-cover{background-size:cover}.gps-452736905163834051 .bg-center{background-position:50%}.gps-452736905163834051 .align-middle{vertical-align:middle}.gps-452736905163834051 .opacity-100{opacity:1}.gps-452736905163834051 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452736905163834051 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452736905163834051 .duration-200{transition-duration:.2s}.gps-452736905163834051 .duration-300{transition-duration:.3s}.gps-452736905163834051 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-452736905163834051 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-452736905163834051 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-452736905163834051 .\[\&_\>_article\]\:aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-452736905163834051 .tablet\:\[\&_\>_article\]\:aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-452736905163834051 .mobile\:\[\&_\>_article\]\:aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gnOLm-aQ20"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnOLm-aQ20 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gmL6idEcZW relative flex flex-col"
    >
      
    <div
      
      class="w-full bg-black [&_>_article]:aspect-[var(--aspect)] tablet:[&_>_article]:aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gO_OmFOOeG"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--aspect:16/9"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/ktsFdCND3wM?autoplay=1&state=1&mute=1&&controls=1"}'>
      <link rel="preload" href="https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg" as="image" />
      <link rel="preconnect" href="https://www.youtube-nocookie.com" />
      <link rel="preconnect" href="https://www.google.com" />
      
      <article
        aria-hidden
        class="relative bg-cover bg-center gp-lite-youtube-embed-article"
        data-title="Video"
        style="background-image:url(https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg);--aspect:16/9"
      >
        <img src="" alt="Poster" class="invisible" />
        <button
          type="button"
          class="absolute top-1/2 left-1/2 w-[68px] -translate-x-1/2 -translate-y-1/2 gp-lite-youtube-embed-button visible opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-lite-youtube-embed.js" defer="defer"></script>
  
    </div>
  <div
    
    role="presentation"
    class="group/image overflow-hidden g5LjET4_kI"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="{{ "452020533844771446-d9b7487e-4116-4c4a-a5cb-a9bc7b8d6772.png" | asset_url }}" data-srcset="{{ '452020533844771446-d9b7487e-4116-4c4a-a5cb-a9bc7b8d6772.png' | asset_img_url: '768x768' }} 768w, {{ '452020533844771446-d9b7487e-4116-4c4a-a5cb-a9bc7b8d6772.png' | asset_img_url: '1024x1024' }} 1024w, {{ '452020533844771446-d9b7487e-4116-4c4a-a5cb-a9bc7b8d6772.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1" height="1" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1/1;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gyyDgeHhdE",
    "tag": "section",
    "class": "gps-452736905163834051 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=452736905163834051)"
      }
    ],
    "blocks": []
  }
{% endschema %}
