
  
  <style>
    .gps-475181022196007878 .absolute{position:absolute}.gps-475181022196007878 .relative{position:relative}.gps-475181022196007878 .inset-0{inset:0}.gps-475181022196007878 .mx-auto{margin-left:auto;margin-right:auto}.gps-475181022196007878 .mb-0{margin-bottom:0}.gps-475181022196007878 .inline-block{display:inline-block}.gps-475181022196007878 .flex{display:flex}.gps-475181022196007878 .grid{display:grid}.gps-475181022196007878 .w-full{width:100%}.gps-475181022196007878 .max-w-full{max-width:100%}.gps-475181022196007878 .flex-col{flex-direction:column}.gps-475181022196007878 .overflow-hidden{overflow:hidden}.gps-475181022196007878 .align-middle{vertical-align:middle}.gps-475181022196007878 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475181022196007878 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475181022196007878 .duration-200{transition-duration:.2s}.gps-475181022196007878 .duration-300{transition-duration:.3s}.gps-475181022196007878 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-475181022196007878 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-475181022196007878 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-475181022196007878 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gheerhk688"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gheerhk688 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBf88nOwLn relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gXLqfBwStP"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--shadow:none;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "452856311495787153-bc0f76dd-2341-45ad-a3ca-4e4281f7e274.svg" | asset_url }}" data-srcset="{{ '452856311495787153-bc0f76dd-2341-45ad-a3ca-4e4281f7e274.svg' | asset_img_url: '768x768' }} 768w, {{ '452856311495787153-bc0f76dd-2341-45ad-a3ca-4e4281f7e274.svg' | asset_img_url: '1024x1024' }} 1024w, {{ '452856311495787153-bc0f76dd-2341-45ad-a3ca-4e4281f7e274.svg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1602" height="1600" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1602/1600;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gmBkiEIlzX",
    "tag": "section",
    "class": "gps-475181022196007878 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=475181022196007878)"
      }
    ],
    "blocks": []
  }
{% endschema %}
