
  
  <style>
    .gps-464933690208682517 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464933690208682517 .invisible{visibility:hidden}.gps-464933690208682517 .absolute{position:absolute}.gps-464933690208682517 .relative{position:relative}.gps-464933690208682517 .mx-auto{margin-left:auto;margin-right:auto}.gps-464933690208682517 .mb-0{margin-bottom:0}.gps-464933690208682517 .block{display:block}.gps-464933690208682517 .flex{display:flex}.gps-464933690208682517 .inline-flex{display:inline-flex}.gps-464933690208682517 .grid{display:grid}.gps-464933690208682517 .hidden{display:none}.gps-464933690208682517 .h-5{height:1.25rem}.gps-464933690208682517 .h-6{height:1.5rem}.gps-464933690208682517 .w-5{width:1.25rem}.gps-464933690208682517 .w-6{width:1.5rem}.gps-464933690208682517 .max-w-full{max-width:100%}.gps-464933690208682517 .flex-none{flex:none}@keyframes spin{to{transform:rotate(1turn)}}.gps-464933690208682517 .animate-spin{animation:spin 1s linear infinite}.gps-464933690208682517 .flex-col{flex-direction:column}.gps-464933690208682517 .items-center{align-items:center}.gps-464933690208682517 .justify-start{justify-content:flex-start}.gps-464933690208682517 .justify-center{justify-content:center}.gps-464933690208682517 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-464933690208682517 .text-g-text-3{color:var(--g-c-text-3)}.gps-464933690208682517 .no-underline{text-decoration-line:none}.gps-464933690208682517 .opacity-25{opacity:.25}.gps-464933690208682517 .opacity-75{opacity:.75}.gps-464933690208682517 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690208682517 .duration-200{transition-duration:.2s}.gps-464933690208682517 .duration-300{transition-duration:.3s}.gps-464933690208682517 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690208682517 .disabled\:btn-disabled:disabled{cursor:default}.gps-464933690208682517 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-464933690208682517 .disabled\:opacity-30:disabled{opacity:.3}.gps-464933690208682517 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-464933690208682517 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-464933690208682517 .tablet\:block{display:block}.gps-464933690208682517 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-464933690208682517 .mobile\:block{display:block}.gps-464933690208682517 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="IH9W_dkq_V"
        style="--border:;--pt:var(--g-s-m);--pb:var(--g-s-m);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-text-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="IH9W_dkq_V mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="YM5FAbpGjt relative flex flex-col"
    >
      
      
      
    <div
      id="gqaJPUYar0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqaJPUYar0 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB4GbHrPsU relative flex flex-col"
    >
      
    <div
      
        class="gf4TDxSmdE"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="text-g-text-3 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-3, text-3)"
      >
      <p>Buy 2 Get 1 FREE - 1-Day Super Sale!</p>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkQnDARncD relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gNcxKixnb0">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:24px;--t:rotate(90deg);--bc:#E0E0E0"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:24px;--w-tablet:24px;--w-mobile:24px;--bc:#E0E0E0;--t:rotate(90deg)"
      >
        
    <div
      class="hidden"
      style="--w:24px;--w-tablet:24px;--w-mobile:24px;--bc:#E0E0E0;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:24px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:vertical;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:24px;--w-tablet:24px;--w-mobile:24px;--bc:#E0E0E0;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:24px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBM5t9lzol relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <button
      type="button" data-id="gQqHQCTYZj" aria-label="Buy Now"
      data-state="idle"
      class="gQqHQCTYZj relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--c:var(--g-c-text-3, text-3);--pt:8px;--pb:8px;--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Buy Now
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gK9sAfoT8V",
    "tag": "section",
    "class": "gps-464933690208682517 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464933690208682517)"
      }
    ],
    "blocks": []
  }
{% endschema %}
