
  
  <style>
    .gps-475929331344868111 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-475929331344868111 .absolute{position:absolute}.gps-475929331344868111 .relative{position:relative}.gps-475929331344868111 .inset-0{inset:0}.gps-475929331344868111 .mx-auto{margin-left:auto;margin-right:auto}.gps-475929331344868111 .mb-0{margin-bottom:0}.gps-475929331344868111 .inline-block{display:inline-block}.gps-475929331344868111 .flex{display:flex}.gps-475929331344868111 .grid{display:grid}.gps-475929331344868111 .w-full{width:100%}.gps-475929331344868111 .max-w-full{max-width:100%}.gps-475929331344868111 .flex-col{flex-direction:column}.gps-475929331344868111 .overflow-hidden{overflow:hidden}.gps-475929331344868111 .align-middle{vertical-align:middle}.gps-475929331344868111 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331344868111 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-475929331344868111 .duration-200{transition-duration:.2s}.gps-475929331344868111 .duration-300{transition-duration:.3s}.gps-475929331344868111 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-475929331344868111 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-475929331344868111 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-475929331344868111 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkrJlMcNMh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkrJlMcNMh mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMcUW_Bpdr relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gYORU9o75H"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYORU9o75H mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goVwRYVyzH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g77ki-j2hn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:600px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g77ki-j2hn mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLWkjMrgo5 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)" class="gomyVMjn6Y ">
      
    <div
      parentTag="Col"
        class="gomyVMjn6Y "
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;word-break:break-word"
      >
      <p>Best Seller</p>
      </h2>
    </div>
    true
      </div>
    <div
      parentTag="Col"
        class="gbc0MVHayX "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--mb-mobile:35px"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word"
      >
      <p>&nbsp;Don't worry when you buy a whatever you need, we've got it, we've got a service for you.</p>
      </div>
    </div>
    true
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="ghklShK7cj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghklShK7cj mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSl3XK6yO6 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2Z0XMolyb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-2xl);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2Z0XMolyb mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu6L33dl3t relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gC4uH27XoC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:72px;--w-tablet:72px;--w-mobile:72px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/" data-srcset="https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 768w,https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 1024w,https://ucarecdn.com/60436f98-30b1-40b9-8a9e-9617ceeca4b2/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNJJjL6_Z8 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gQenJxv6n1 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px;word-break:break-word"
      >
      <p>Freeship</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gsbOJQRYrC "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Free &nbsp;worldwide shipping on all area order above $100.</p>
      </div>
    </div>
    true
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKoRgbaJHV relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="guAP8vmh2-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-2xl);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guAP8vmh2- mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsqcTQjZyH relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gpQTo_PWDb"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:72px;--w-tablet:72px;--w-mobile:72px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/" data-srcset="https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 768w,https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 1024w,https://ucarecdn.com/65b89f9c-fffb-423d-a13c-4c4356f3646b/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gD-vP-74qW relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gEHEcy4X_3 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px;word-break:break-word"
      >
      <p>24/7 Friendly Support</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gUi7US7TMK "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Our support team always ready for you to 7 days a week.</p>
      </div>
    </div>
    true
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjcHJjYMj- relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gPoYDrZGo3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-l);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPoYDrZGo3 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4D3QFDBQG relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden ghw9d04YSd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:72px;--w-tablet:72px;--w-mobile:72px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/" data-srcset="https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 768w,https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 1024w,https://ucarecdn.com/ad44495d-5c2f-4bb2-8620-9e3990aed1f5/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="109" height="108" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:109/108;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOYaB3l_3B relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJFx5CBvlY "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:19px;word-break:break-word"
      >
      <p>7 Days Easy Exchange</p>
      </div>
    </div>
    true
    <div
      parentTag="Col"
        class="gF7ybkGXzn "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word"
      >
      <p>Product Exchange is Eligible Within 7 Days of Delivery.</p>
      </div>
    </div>
    true
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section gg8naArsLd",
    "tag": "section",
    "class": "gps-475929331344868111 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=475929331344868111)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
