
<div class="gps-457691643726791667 gps gpsi">
  <style>
    .gps-457691643726791667 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-457691643726791667 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-457691643726791667 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-457691643726791667 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-457691643726791667 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-457691643726791667 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-457691643726791667 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-457691643726791667 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-457691643726791667 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-457691643726791667 .g-s-small{padding:4px 16px}.gps-457691643726791667 .g-s-medium{padding:8px 24px}.gps-457691643726791667 .g-s-large{padding:12px 32px}.gps-457691643726791667 .g-s-tag-small{padding:2px 8px}.gps-457691643726791667 .g-s-tag-medium{padding:4px 12px}.gps-457691643726791667 .g-s-tag-large{padding:8px 16px}.gps-457691643726791667 .g-s-none{padding:0}.gps-457691643726791667 .g-s-icon-small{padding:8px}.gps-457691643726791667 .g-s-icon-medium{padding:16px}.gps-457691643726791667 .g-s-icon-large{padding:24px}.gps-457691643726791667 .absolute{position:absolute}.gps-457691643726791667 .relative{position:relative}.gps-457691643726791667 .inset-0{inset:0}.gps-457691643726791667 .mx-auto{margin-left:auto;margin-right:auto}.gps-457691643726791667 .mb-0{margin-bottom:0}.gps-457691643726791667 .block{display:block}.gps-457691643726791667 .inline-block{display:inline-block}.gps-457691643726791667 .flex{display:flex}.gps-457691643726791667 .grid{display:grid}.gps-457691643726791667 .w-full{width:100%}.gps-457691643726791667 .max-w-full{max-width:100%}.gps-457691643726791667 .flex-col{flex-direction:column}.gps-457691643726791667 .overflow-hidden{overflow:hidden}.gps-457691643726791667 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-457691643726791667 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-457691643726791667 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-457691643726791667 .border-g-brand{border-color:var(--g-c-brand)}.gps-457691643726791667 .border-g-error{border-color:var(--g-c-error)}.gps-457691643726791667 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-457691643726791667 .border-g-info{border-color:var(--g-c-info)}.gps-457691643726791667 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-457691643726791667 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-457691643726791667 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-457691643726791667 .border-g-success{border-color:var(--g-c-success)}.gps-457691643726791667 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-457691643726791667 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-457691643726791667 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-457691643726791667 .border-g-warning{border-color:var(--g-c-warning)}.gps-457691643726791667 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-457691643726791667 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-457691643726791667 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-457691643726791667 .bg-g-brand{background-color:var(--g-c-brand)}.gps-457691643726791667 .bg-g-error{background-color:var(--g-c-error)}.gps-457691643726791667 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-457691643726791667 .bg-g-info{background-color:var(--g-c-info)}.gps-457691643726791667 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-457691643726791667 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-457691643726791667 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-457691643726791667 .bg-g-success{background-color:var(--g-c-success)}.gps-457691643726791667 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-457691643726791667 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-457691643726791667 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-457691643726791667 .bg-g-warning{background-color:var(--g-c-warning)}.gps-457691643726791667 .align-middle{vertical-align:middle}.gps-457691643726791667 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643726791667 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643726791667 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-457691643726791667 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-457691643726791667 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-457691643726791667 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-457691643726791667 .text-g-brand{color:var(--g-c-brand)}.gps-457691643726791667 .text-g-error{color:var(--g-c-error)}.gps-457691643726791667 .text-g-highlight{color:var(--g-c-highlight)}.gps-457691643726791667 .text-g-info{color:var(--g-c-info)}.gps-457691643726791667 .text-g-line-1{color:var(--g-c-line-1)}.gps-457691643726791667 .text-g-line-2{color:var(--g-c-line-2)}.gps-457691643726791667 .text-g-line-3{color:var(--g-c-line-3)}.gps-457691643726791667 .text-g-success{color:var(--g-c-success)}.gps-457691643726791667 .text-g-text-1{color:var(--g-c-text-1)}.gps-457691643726791667 .text-g-text-2{color:var(--g-c-text-2)}.gps-457691643726791667 .text-g-text-3{color:var(--g-c-text-3)}.gps-457691643726791667 .text-g-warning{color:var(--g-c-warning)}.gps-457691643726791667 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-457691643726791667 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-457691643726791667 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-457691643726791667 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-457691643726791667 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-457691643726791667 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-457691643726791667 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-457691643726791667 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-457691643726791667 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-457691643726791667 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-457691643726791667 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-457691643726791667 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-457691643726791667 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-457691643726791667 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-457691643726791667 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-457691643726791667 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457691643726791667 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457691643726791667 .duration-200{transition-duration:.2s}.gps-457691643726791667 .duration-300{transition-duration:.3s}.gps-457691643726791667 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-457691643726791667 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-457691643726791667 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-457691643726791667 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-457691643726791667 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-457691643726791667 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-457691643726791667 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-457691643726791667 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-457691643726791667 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-457691643726791667 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-457691643726791667 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-457691643726791667 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-457691643726791667 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-457691643726791667 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-457691643726791667 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-457691643726791667 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-457691643726791667 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-457691643726791667 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-457691643726791667 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-457691643726791667 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-457691643726791667 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-457691643726791667 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-457691643726791667 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-457691643726791667 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-457691643726791667 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-457691643726791667 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-457691643726791667 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-457691643726791667 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-457691643726791667 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-457691643726791667 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-457691643726791667 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-457691643726791667 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-457691643726791667 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-457691643726791667 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-457691643726791667 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-457691643726791667 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-457691643726791667 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-457691643726791667 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-457691643726791667 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-457691643726791667 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-457691643726791667 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-457691643726791667 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-457691643726791667 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-457691643726791667 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-457691643726791667 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-457691643726791667 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-457691643726791667 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-457691643726791667 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-457691643726791667 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-457691643726791667 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-457691643726791667 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-457691643726791667 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-457691643726791667 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-457691643726791667 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-457691643726791667 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-457691643726791667 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-457691643726791667 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-457691643726791667 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-457691643726791667 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-457691643726791667 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-457691643726791667 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-457691643726791667 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-457691643726791667 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-457691643726791667 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-457691643726791667 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-457691643726791667 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-457691643726791667 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-457691643726791667 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-457691643726791667 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-457691643726791667 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-457691643726791667 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-457691643726791667 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-457691643726791667 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-457691643726791667 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-457691643726791667 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-457691643726791667 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-457691643726791667 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-457691643726791667 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-457691643726791667 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-457691643726791667 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-457691643726791667 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-457691643726791667 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-457691643726791667 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-457691643726791667 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-457691643726791667 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-457691643726791667 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-457691643726791667 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-457691643726791667 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-457691643726791667 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-457691643726791667 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-457691643726791667 .focus\:text-g-warning:focus{color:var(--g-c-warning)}@media (hover:hover) and (pointer:fine){.gps-457691643726791667 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-457691643726791667 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-457691643726791667 .tablet\:block{display:block}}@media (max-width:767px){.gps-457691643726791667 .mobile\:block{display:block}.gps-457691643726791667 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gr0BpXfqEW"
        style="--border:;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-tablet:var(--g-s-xl);--pl-tablet:15px;--pb-tablet:var(--g-s-xl);--pr-tablet:15px;--rounded:;--cg:30px;--cg-mobile:28px;--gtc:minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgba(255, 255, 255, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr0BpXfqEW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gaIynKs1W- relative flex flex-col"
    >
      
      
      
    <div
      id="gt9Jq5wVcz"
        style="--border:;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--rounded:;--cg:30px;--cg-tablet:14px;--gtc:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);--gtc-tablet:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt9Jq5wVcz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gaFt_2g3LZ relative flex flex-col"
    >
      
      
      
    <div
      id="g_5u1PVDV9"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#EEEEEE;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_5u1PVDV9 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_nBo1JVG_ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gRE5VLGYuj"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:42px;--w-tablet:40px;--w-mobile:40px"
      >
        <img
    quality="100" title="Fast Shipping"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/96beebd8-6dad-4d50-bb0f-030c4ab56967/-/format/auto/" data-srcset="https://ucarecdn.com/96beebd8-6dad-4d50-bb0f-030c4ab56967/-/format/auto/  768w, https://ucarecdn.com/96beebd8-6dad-4d50-bb0f-030c4ab56967/-/format/auto/  1024w, https://ucarecdn.com/96beebd8-6dad-4d50-bb0f-030c4ab56967/-/format/auto/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="168" height="168" alt="Fast Shipping" priority
    sizes="100vw"
    style="--aspect:168/168;--objf:cover;--w:100%;--w-tablet:40px;--w-mobile:40px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0v2uLX4Gr relative flex flex-col"
    >
      <div
      
      class="gGJiTUZD4A text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#242424;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>Fast Shipping</p></div><div
      
      class="gnp-tX-8Sw g-paragraph-2 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mt:var(--g-s-s)"
    ><p>Complete order 48h</p></div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="gSjYXW9uz8 relative flex flex-col"
    >
      
      
      
    <div
      id="g0rxGYiaGn"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#EEEEEE;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-mobile:var(--g-s-l);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0rxGYiaGn mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_OoynUQ6q relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gvYfUb6oEv"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:42px;--w-tablet:40px;--w-mobile:40px"
      >
        <img
    quality="100" title="International"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/c48d4430-5b2c-4a93-8af2-1ff427876ce4/-/format/auto/" data-srcset="https://ucarecdn.com/c48d4430-5b2c-4a93-8af2-1ff427876ce4/-/format/auto/  768w, https://ucarecdn.com/c48d4430-5b2c-4a93-8af2-1ff427876ce4/-/format/auto/  1024w, https://ucarecdn.com/c48d4430-5b2c-4a93-8af2-1ff427876ce4/-/format/auto/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="160" alt="International" priority
    sizes="100vw"
    style="--aspect:160/160;--objf:cover;--w:100%;--w-tablet:40px;--w-mobile:40px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPeduFaz7R relative flex flex-col"
    >
      <div
      
      class="gb1vTV_hvS text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#242424;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>International</p></div><div
      
      class="gfIZSjMp3J g-paragraph-2 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mt:var(--g-s-s)"
    ><p>Shipping to all countries</p></div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="gzZ2yLRt4w relative flex flex-col"
    >
      
      
      
    <div
      id="gNaYqBA1Qu"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#EEEEEE;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-mobile:var(--g-s-l);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNaYqBA1Qu mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gs2TzU8I_a relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gNZXhVk5_E"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:42px;--w-tablet:40px;--w-mobile:40px"
      >
        <img
    quality="100" title="Online Payment"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/895a79f1-3871-4c9d-bd33-8f39cf20ea28/-/format/auto/" data-srcset="https://ucarecdn.com/895a79f1-3871-4c9d-bd33-8f39cf20ea28/-/format/auto/  768w, https://ucarecdn.com/895a79f1-3871-4c9d-bd33-8f39cf20ea28/-/format/auto/  1024w, https://ucarecdn.com/895a79f1-3871-4c9d-bd33-8f39cf20ea28/-/format/auto/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="168" height="168" alt="Online Payment" priority
    sizes="100vw"
    style="--aspect:168/168;--objf:cover;--w:100%;--w-tablet:40px;--w-mobile:40px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMw8-DvIyt relative flex flex-col"
    >
      <div
      
      class="gyQ01i-Ov6 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#242424;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>Online Payment</p></div><div
      
      class="gnyjlEL4sP g-paragraph-2 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mt:var(--g-s-s)"
    ><p>Secure Sytem</p></div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style=""
      class="gD0OUPFfzJ relative flex flex-col"
    >
      
      
      
    <div
      id="gKrxy9eRgz"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#EEEEEE;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-mobile:var(--g-s-l);--cg:var(--g-s-xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKrxy9eRgz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g01IlLhPjV relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gjjwEbBBI5"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:42px;--w-tablet:40px;--w-mobile:40px"
      >
        <img
    quality="100" title="100% Money Back"
    draggable="false"
    loading="lazy"
    class="lazyload inline-block w-full max-w-full"
    data-src="https://ucarecdn.com/1bf844ca-801b-480d-be42-4f733c8b3135/-/format/auto/" data-srcset="https://ucarecdn.com/1bf844ca-801b-480d-be42-4f733c8b3135/-/format/auto/  768w, https://ucarecdn.com/1bf844ca-801b-480d-be42-4f733c8b3135/-/format/auto/  1024w, https://ucarecdn.com/1bf844ca-801b-480d-be42-4f733c8b3135/-/format/auto/  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="160" alt="100% Money Back" priority
    sizes="100vw"
    style="--aspect:160/160;--objf:cover;--w:100%;--w-tablet:40px;--w-mobile:40px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXwNzjgI6M relative flex flex-col"
    >
      <div
      
      class="gWFYbzhGCw text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#242424;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    ><p>100% Money Back</p></div><div
      
      class="g_yPhb5YDm g-paragraph-2 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mt:var(--g-s-s)"
    ><p>Easy Return&nbsp;</p></div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
</div>
{% schema %}
  {
    
    "name": "Section gtjbFV5ztJ",
    "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=457691643726791667)"
      }
    ],
    "blocks": []
  }
{% endschema %}
