
  
  <style>
    .gps-457839311765635847 .-rotate-90,.gps-457839311765635847 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-457839311765635847 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-457839311765635847 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-457839311765635847 .g-s-medium{padding:8px 24px}.gps-457839311765635847 .relative{position:relative}.gps-457839311765635847 .mx-auto{margin-left:auto;margin-right:auto}.gps-457839311765635847 .mb-0{margin-bottom:0}.gps-457839311765635847 .mr-\[12px\]{margin-right:12px}.gps-457839311765635847 .flex{display:flex}.gps-457839311765635847 .inline-flex{display:inline-flex}.gps-457839311765635847 .grid{display:grid}.gps-457839311765635847 .hidden{display:none}.gps-457839311765635847 .w-full{width:100%}.gps-457839311765635847 .max-w-full{max-width:100%}.gps-457839311765635847 .-rotate-90{--tw-rotate:-90deg}.gps-457839311765635847 .-rotate-90,.gps-457839311765635847 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-457839311765635847 .rotate-90{--tw-rotate:90deg}.gps-457839311765635847 .flex-col{flex-direction:column}.gps-457839311765635847 .items-center{align-items:center}.gps-457839311765635847 .border{border-width:1px}.gps-457839311765635847 .text-g-brand{color:var(--g-c-brand)}.gps-457839311765635847 .text-g-text-2{color:var(--g-c-text-2)}.gps-457839311765635847 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457839311765635847 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-457839311765635847 .duration-200{transition-duration:.2s}.gps-457839311765635847 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="eQKgoGmZSk"
        style="--pt:30px;--pb:30px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#212326;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="eQKgoGmZSk mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="o8koiHaUYf relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="guYiQoM1hs">
      
    <div
      
        class="guYiQoM1hs"
        style="--tt:default"
      >
      <h2
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g6BPRtp2hf">
      
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:none"
      gp-data='{"setting":{"expanded":false,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"brand"},"headerBorder":{"normal":{"borderType":"style-1","border":"solid","width":"0px 0px 1px 0px","color":"#cecece","isCustom":true}},"itemBorder":{"normal":{"borderType":"none","border":"none","color":"transparent","isCustom":false}},"itemRounded":{"normal":{"radiusType":"none"}},"width":{"desktop":"1170px"},"fullWidth":{"desktop":true},"textColor":{"normal":"text-2"},"itemHeaderSpacing":{"type":"medium"}},"uid":"g6BPRtp2hf"}'
    >
      <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="g6BPRtp2hf gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="g6BPRtp2hf flex items-center gp-accordion-item_header g-s-medium  text-g-text-2"
        style="--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:var(--g-c-text-2, text-2);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="0"
            class="g6BPRtp2hf gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-brand"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class="g-paragraph-1"
        style=""
      >
      Accordion 1
      </span>
    </div>
      </div>
      <div
        uid="gKb07EeAw2"
        data-index="0"
        class="g6BPRtp2hf gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gEYMv7-Vdp relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="g6BPRtp2hf gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="g6BPRtp2hf flex items-center gp-accordion-item_header g-s-medium  text-g-text-2"
        style="--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:var(--g-c-text-2, text-2);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="1"
            class="g6BPRtp2hf gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-brand"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class="g-paragraph-1"
        style=""
      >
      Accordion 2
      </span>
    </div>
      </div>
      <div
        uid="gINORhGNQ2"
        data-index="1"
        class="g6BPRtp2hf gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gJk6FEWEEk relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="g6BPRtp2hf gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="g6BPRtp2hf flex items-center gp-accordion-item_header g-s-medium  text-g-text-2"
        style="--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:var(--g-c-text-2, text-2);--bs:solid;--bw:0px 0px 1px 0px;--bc:#cecece"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-brand, brand)"
            data-index="2"
            class="g6BPRtp2hf gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-brand"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        class="g-paragraph-1"
        style=""
      >
      Accordion 3
      </span>
    </div>
      </div>
      <div
        uid="g6Ak4fz_J8"
        data-index="2"
        class="g6BPRtp2hf gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gL0d3w0qyP relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gdvRjxyh6T",
    "tag": "section",
    "class": "gps-457839311765635847 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=457839311765635847)"
      }
    ],
    "blocks": []
  }
{% endschema %}
