
  
  <style>
    .gps-465338006115451863 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-465338006115451863 .relative{position:relative}.gps-465338006115451863 .mx-auto{margin-left:auto;margin-right:auto}.gps-465338006115451863 .mb-0{margin-bottom:0}.gps-465338006115451863 .flex{display:flex}.gps-465338006115451863 .grid{display:grid}.gps-465338006115451863 .max-w-full{max-width:100%}.gps-465338006115451863 .flex-col{flex-direction:column}.gps-465338006115451863 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465338006115451863 .duration-200{transition-duration:.2s}.gps-465338006115451863 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="ghuSwHIkDt"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghuSwHIkDt mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gurfjcVq89 relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g4B-e6zcCH">
      
    <div
      
        class="g4B-e6zcCH"
        style=""
      >
      <h2
        class="g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gBLZGSI-6h",
    "tag": "section",
    "class": "gps-465338006115451863 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465338006115451863)"
      }
    ],
    "blocks": []
  }
{% endschema %}
