
  
  <style>
    .gps-465322954016686652 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-465322954016686652 .absolute{position:absolute}.gps-465322954016686652 .relative{position:relative}.gps-465322954016686652 .inset-0{inset:0}.gps-465322954016686652 .mx-auto{margin-left:auto;margin-right:auto}.gps-465322954016686652 .mb-0{margin-bottom:0}.gps-465322954016686652 .inline-block{display:inline-block}.gps-465322954016686652 .flex{display:flex}.gps-465322954016686652 .grid{display:grid}.gps-465322954016686652 .w-full{width:100%}.gps-465322954016686652 .max-w-full{max-width:100%}.gps-465322954016686652 .flex-col{flex-direction:column}.gps-465322954016686652 .overflow-hidden{overflow:hidden}.gps-465322954016686652 .align-middle{vertical-align:middle}.gps-465322954016686652 .text-g-text-1{color:var(--g-c-text-1)}.gps-465322954016686652 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322954016686652 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-465322954016686652 .duration-200{transition-duration:.2s}.gps-465322954016686652 .duration-300{transition-duration:.3s}.gps-465322954016686652 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-465322954016686652 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-465322954016686652 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gpc-A_WyIU"
        style="--pt:72px;--pb:72px;--pt-mobile:63px;--pb-mobile:63px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpc-A_WyIU mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRFRo-m7Z4 relative flex flex-col"
    >
      
      
      
    <div
      id="gX1UHutSK4"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX1UHutSK4 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFg5IhimMx relative flex flex-col"
    >
      <div style="--mb:var(--g-s-xs);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gxA0dh9zbI">
      
    <div
      
        class="gxA0dh9zbI"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:38px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px"
      >
      <p>Customer Satisfaction</p>
      </h2>
    </div>
      </div>
    <div
      
        class="g6OfrF71Cm"
        style="--tt:default;--mb:56px;--mb-mobile:49px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:21px;--lh-tablet:150%;--size-mobile:14px"
      >
      <p>How customers feel about our service?</p>
      </div>
    </div>
      
      
    <div
      id="gQs7FZkx0n"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQs7FZkx0n mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKqZWEEqIJ relative flex flex-col"
    >
      
      
      
    <div
      id="gZat148I-E"
        style="--mb-mobile:49px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZat148I-E mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXlSEddMT9 relative flex flex-col"
    >
      
      
      
    <div
      id="gCDnfQ-dTs"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCDnfQ-dTs mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTzcNeZStU relative flex flex-col"
    >
      
    <div
      
        class="goMWsXkJU6"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>925+</p>
      </div>
    </div>
    <div
      
        class="gTCq_a8QDA"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Very Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPijLpeZqG relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gLwfvYZM89"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/" data-srcset="https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 768w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1024w,https://ucarecdn.com/e3eb0966-97d9-441b-ba93-0d90e7917667/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5xY_0Owgo relative flex flex-col"
    >
      
      
      
    <div
      id="g529OdqhW5"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g529OdqhW5 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZbivdUguA relative flex flex-col"
    >
      
    <div
      
        class="gBKW8zIc_4"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>625+</p>
      </div>
    </div>
    <div
      
        class="g206ZTXB0W"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1ERDgZB9W relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gg_MFAUx0-"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/" data-srcset="https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 768w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1024w,https://ucarecdn.com/3b3b61b5-65cd-45f3-8143-c047c10cd665/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVbr8ljvgf relative flex flex-col"
    >
      
      
      
    <div
      id="g-HZVQ13xf"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-HZVQ13xf mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYNvHL_eMU relative flex flex-col"
    >
      
      
      
    <div
      id="gKjaRFjTs8"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKjaRFjTs8 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gV4aWOo26e relative flex flex-col"
    >
      
    <div
      
        class="gCPuTA0Vz7"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>825+</p>
      </div>
    </div>
    <div
      
        class="gBIhTci2jo"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Slightly Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gidSyp_CWk relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gAEyZWUFND"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/" data-srcset="https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 768w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1024w,https://ucarecdn.com/c1373986-f8bc-4ea8-b624-793127ac6f32/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnVi4RphFw relative flex flex-col"
    >
      
      
      
    <div
      id="gjKqkkr66p"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjKqkkr66p mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="guTwjyYVkp relative flex flex-col"
    >
      
    <div
      
        class="gRhrIpH4cf"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="text-g-text-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:51px;--lh:120%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:51px;--lh-tablet:120%;--size-mobile:44px"
      >
      <p>525+</p>
      </div>
    </div>
    <div
      
        class="gFfXfrCywX"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242"
      >
      <p>Not Satisfied</p>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gn74TpyJe2 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gg-VnbAfRO"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:24px;--w-tablet:24px;--w-mobile:24px"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/" data-srcset="https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 768w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1024w,https://ucarecdn.com/8f23cf6e-df8c-4f6f-9eae-f1436b6e9fa0/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="36" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:37/36;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:24px;--w-mobile:24px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gOXex-0JHW",
    "tag": "section",
    "class": "gps-465322954016686652 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=465322954016686652)"
      }
    ],
    "blocks": []
  }
{% endschema %}
