
  
  <style>
    .gps-454634488136270504 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-454634488136270504 .absolute{position:absolute}.gps-454634488136270504 .relative{position:relative}.gps-454634488136270504 .inset-0{inset:0}.gps-454634488136270504 .mx-auto{margin-left:auto;margin-right:auto}.gps-454634488136270504 .mb-0{margin-bottom:0}.gps-454634488136270504 .inline-block{display:inline-block}.gps-454634488136270504 .flex{display:flex}.gps-454634488136270504 .inline-flex{display:inline-flex}.gps-454634488136270504 .grid{display:grid}.gps-454634488136270504 .h-6{height:1.5rem}.gps-454634488136270504 .w-6{width:1.5rem}.gps-454634488136270504 .w-full{width:100%}.gps-454634488136270504 .max-w-full{max-width:100%}.gps-454634488136270504 .flex-col{flex-direction:column}.gps-454634488136270504 .items-center{align-items:center}.gps-454634488136270504 .justify-center{justify-content:center}.gps-454634488136270504 .overflow-hidden{overflow:hidden}.gps-454634488136270504 .align-middle{vertical-align:middle}.gps-454634488136270504 .leading-\[0\]{line-height:0}.gps-454634488136270504 .text-g-success{color:var(--g-c-success)}.gps-454634488136270504 .text-g-text-1{color:var(--g-c-text-1)}.gps-454634488136270504 .text-g-text-2{color:var(--g-c-text-2)}.gps-454634488136270504 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454634488136270504 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454634488136270504 .duration-200{transition-duration:.2s}.gps-454634488136270504 .duration-300{transition-duration:.3s}.gps-454634488136270504 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-454634488136270504 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-454634488136270504 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-454634488136270504 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-454634488136270504 .\[\&\>svg\]\:w-full>svg{width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjvhkNMrKj"
        style="--border:;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjvhkNMrKj mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g8xN8pxndR relative flex flex-col"
    >
      
      
      
    <div
      id="gUslMisOkv"
        style="--border:;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--rounded:;--cg:30px;--cg-tablet:28px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUslMisOkv mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gPOAKo91lL relative flex flex-col"
    >
      
      
      
    <div
      id="gtYn3FjdwE"
        style="--border:;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:460px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtYn3FjdwE mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gLMpXjeJZv relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gyWIRMsZjj"
    style="--border:;--rounded:;--ta:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/63415ea0-67c6-4f6f-8839-a2ee54b7013d/-/format/auto/" data-srcset="https://ucarecdn.com/63415ea0-67c6-4f6f-8839-a2ee54b7013d/-/format/auto/ 768w,https://ucarecdn.com/63415ea0-67c6-4f6f-8839-a2ee54b7013d/-/format/auto/ 1024w,https://ucarecdn.com/63415ea0-67c6-4f6f-8839-a2ee54b7013d/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="792" height="1190" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:792/1190;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt7owB97PX relative flex flex-col"
    >
      <div style="--border:;--rounded:" class="gOhU_Pnp_G">
      
    <div
      
        class="gOhU_Pnp_G"
        style="--tt:default"
      >
      <h2
        class="text-g-text-2 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2);--size:40px;--lh:130%;--ff:var(--g-font-heading, heading);--weight:500;--ls:0px;--size-tablet:35px;--size-mobile:35px"
      >
      Advice for a rose bear
      </h2>
    </div>
      </div>
    <div
      
        class="g32yiza3nW"
        style="--tt:default;--border:;--pt:var(--g-s-l);--rounded:"
      >
      <p
        class="text-g-text-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1);--size:19px;--lh:130%;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size-tablet:17px;--size-mobile:17px"
      >
      Keep your anniversary gift going on forever
      </p>
    </div>
      
      
    <div
      id="gdeM2Ch_0T"
        style="--border:;--pt:var(--g-s-3xl);--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdeM2Ch_0T mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gha_Pp24Q1 relative flex flex-col"
    >
      <div
      
      style="--border:;--rounded:;--ta:left"
      class="overflow-hidden leading-[0] gV4jzQyJFJ"
    >
      <div class="inline-flex"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-success, success);--t:rotate(0deg);--w:24px;--w-tablet:21px;--h:24px;--h-tablet:21px;--minw:24px;--minw-tablet:21px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-success"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZcGYZUvcM relative flex flex-col"
    >
      
    <div
      
        class="g_YRWp7w8_"
        style="--tt:default;--border:;--rounded:"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      Do not water the roses or use any type of chemicals/liquids as this will immediately damage the roses.

      </p>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="g38cHxaqq5"
        style="--border:;--pt:var(--g-s-xl);--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g38cHxaqq5 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gb9cy5HoIl relative flex flex-col"
    >
      <div
      
      style="--border:;--rounded:;--ta:left"
      class="overflow-hidden leading-[0] g5Ac4l4dbN"
    >
      <div class="inline-flex"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-success, success);--t:rotate(0deg);--w:24px;--w-tablet:21px;--h:24px;--h-tablet:21px;--minw:24px;--minw-tablet:21px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-success"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHxnqSoFE8 relative flex flex-col"
    >
      
    <div
      
        class="g2k8vvS8IJ"
        style="--tt:default;--border:;--rounded:"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      Do not expose to high levels of humidity and moisture.

      </p>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gjUYGUDc24"
        style="--border:;--pt:var(--g-s-xl);--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjUYGUDc24 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gynF1jWsaN relative flex flex-col"
    >
      <div
      
      style="--border:;--rounded:;--ta:left"
      class="overflow-hidden leading-[0] gQU3cCw4d3"
    >
      <div class="inline-flex"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-success, success);--t:rotate(0deg);--w:24px;--w-tablet:21px;--h:24px;--h-tablet:21px;--minw:24px;--minw-tablet:21px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-success"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gMAQXl1gmv relative flex flex-col"
    >
      
    <div
      
        class="gta_wbLvC6"
        style="--tt:default;--border:;--rounded:"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      Keep the roses in a cool dry place indoors at around room temperature

      </p>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gUZskpELul"
        style="--border:;--pt:var(--g-s-xl);--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUZskpELul mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="g5KHCCVWTm relative flex flex-col"
    >
      <div
      
      style="--border:;--rounded:;--ta:left"
      class="overflow-hidden leading-[0] g63TbjlyRe"
    >
      <div class="inline-flex"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-success, success);--t:rotate(0deg);--w:24px;--w-tablet:21px;--h:24px;--h-tablet:21px;--minw:24px;--minw-tablet:21px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-success"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt-h1Md18Q relative flex flex-col"
    >
      
    <div
      
        class="gV9YqvgewK"
        style="--tt:default;--border:;--rounded:"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      If the roses need cleaning use a gentle soft brush or a light feather duster

      </p>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      id="gMknnwi8DW"
        style="--border:;--pt:var(--g-s-xl);--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMknnwi8DW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gw9K6TZ3tf relative flex flex-col"
    >
      <div
      
      style="--border:;--rounded:;--ta:left"
      class="overflow-hidden leading-[0] gnuZLzKdTl"
    >
      <div class="inline-flex"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-success, success);--t:rotate(0deg);--w:24px;--w-tablet:21px;--h:24px;--h-tablet:21px;--minw:24px;--minw-tablet:21px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-success"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvUcpnWYdl relative flex flex-col"
    >
      
    <div
      
        class="gwM3NiUjvB"
        style="--tt:default;--border:;--rounded:"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      Occasionally brush the roses to remove dust that can accumulate over time

      </p>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gBlVic2zy-",
    "tag": "section",
    "class": "gps-454634488136270504 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=454634488136270504)"
      }
    ],
    "blocks": []
  }
{% endschema %}
